@model EDU.Web.ViewModels.Trainer.TrainerVM
@{
    ViewBag.Title = "Trainer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page page-forms-elements">

    @using (Html.BeginForm("SaveTrainer", "Trainer", FormMethod.Post, new { id = "frmTrainer", name = "frmTrainer", enctype = "multipart/form-data", autocomplete = "off" }))
    {
        @Html.HiddenFor(x => x.TrianerId)
        @Html.HiddenFor(x => x.CountryName)
        <div class="page-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default panel-hovered panel-stacked mb30">
                        <div class="panel-heading">Trainer</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Trainer Name</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.TrainerName, new { @class = "form-control" })
                                    </div>
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Technology</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.Technology, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row css10">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Country</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => x.Country,
                                        new SelectList((List<EZY.EDU.Contract.Branch>)ViewData["CountryData"], "BranchID", "BranchName"),
                                        "Select Country", new { @class = "form-control", onchange = "CountryChange();" })
                                    </div>
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Profile</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.FileName, new { type = "file", @class = "form-control", id = Profile })&nbsp;@Model.Profile
                                    </div>
                                </div>
                            </div>
                            <div class="row css10">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Trainer Rate</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.TrainerRate, new { @class = "form-control numCss" })
                                    </div>
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Vendor Name</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.VendorName, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row css10">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Address</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextAreaFor(x => x.Address, new { @class = "form-control input-sm", @style = "overflow-y: scroll" })
                                    </div>
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Contact</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.Contact, new { @class = "form-control numCss" })
                                    </div>
                                </div>
                            </div>
                            <div class="row css10">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Remarks</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextAreaFor(x => x.Remarks, new { @class = "form-control", @style = "overflow-y: scroll" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <button type="button" onclick="SaveTrainer()" class="btn btn-success btn-frmt green btn-sm"><i class="fa fa-floppy-o"></i>&nbsp;Save</button> &nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-default btn-sm" type="button" onclick="location.href = '@Url.Content("~/Trainer/TrainersList")'"><i class="fa fa-backward"></i>&nbsp;Back</button>&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
@section SectionScripts {
    <script type="text/javascript">
        $(function () {
            $('#liTrainersList').addClass('active');
        });
        $('#Address,#Remarks').keypress(function (event) {
            if (event.which == 13) {
                event.preventDefault();
                var s = $(this).val();
                $(this).val(s + "\n");
            }
        })
        function CountryChange() {
            debugger;
            $('#CountryName').val($("#Country option:selected").text());
        }
        function SaveTrainer() {
            $('#frmTrainer').valid()
            {
                $('#frmTrainer').submit();
            }
        }

        $('#frmTrainer').validate({
            rules: {
                TrainerName: {
                    required: true
                },
                Technology: {
                    required: true
                },
                Country: {
                    required: true
                },
                TrainerRate: {
                    required: true
                },
                VendorName: {
                    required: true
                },
                Address: {
                    required: true
                },
                Contact: {
                    required: true,
                    maxlength: 12
                },
                FileName: {
                    validateFile: true
                }
            }
        });

        $.validator.addMethod('validateFile', function (value, element, param) {
            var Profile = '@Model.Profile';
            if ((Profile == null || Profile == '') && (value == null || value=="")) {
                return false;
            }
            else
                return true;
        }, 'Your error message!');
    </script>
}
