@model IEnumerable<EDU.Web.Models.TrainerInformation>
@{
    ViewBag.Title = "TrainersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    WebGrid grid = new WebGrid(Model, rowsPerPage: 10, ajaxUpdateContainerId: "grid");
    grid.Pager(WebGridPagerModes.All);
}
@functions {
    public string CheckString(string remarks)
    {
        return remarks.Replace(System.Environment.NewLine, "<br/>");
    }
}
<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <h4>Trainers List</h4>
                    <div class="box-tools">
                        @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                        {
                            <button type="button" class="btn btn-info btn-sm waves-effect" data-toggle="modal" onclick="location.href = '@Url.Content("~/Trainer/Trainer?Id=-1")'"><i class="fa fa-plus"></i>Add New Trainer</button>
                            // <button class="btn btn-info btn-sm waves-effect" type="button" onclick="AddEduProduct();"><i class="fa fa-plus"></i> Add New Product</button>
                        }
                    </div>
                </div>
                <div class="box-body">
                    <div class="" style="overflow-x: scroll; width: 100%">
                        @grid.GetHtml(
                                columns: grid.Columns(
                    grid.Column("TrainerName", "Trainer Name", canSort: true),
                    grid.Column("Technology", "Technology", canSort: true),
                    grid.Column("CountryName", "Country Name", canSort: true),
                    grid.Column("TrainerRate", "Trainer Rate", format: (item) => new HtmlString("$" + Convert.ToInt64(item.TrainerRate)), canSort: true),
                    grid.Column("VendorName", "Vendor Name", canSort: true),

                    grid.Column("Address", "Address", canSort: true,
                                format:
                                @<text>
                                    <div style='width:140px;'>
                                        @if (item.Address != null && item.Address.ToString().Length > 20)
                                        {
                                            <a style="cursor:pointer;text-decoration:underline;">
                                                <span onmouseover="mouseover(this)" onmouseout="mouseleave(this)" data-placement="top" data-toggle="popover" data-html="true" data-title="Address" data-content="@CheckString(item.Address)" data-original-title="" title="">@item.Address.ToString().Substring(0, 20)...</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <span>@item.Address</span>
                                        }
                                    </div>
                                </text>),
                    grid.Column("Contact", "Contact", canSort: true),
                    grid.Column("Remarks", "Remarks", canSort: true,
                                format:
                                @<text>
                                    <div style='width:140px;'>
                                        @if (item.Remarks != null && item.Remarks.ToString().Length > 20)
                                        {
                                            <a style="cursor:pointer;text-decoration:underline;">
                                                <span onmouseover="mouseover(this)" onmouseout="mouseleave(this)" data-placement="top" data-toggle="popover" data-html="true" data-title="Remarks" data-content="@CheckString(item.Remarks)" data-original-title="" title="">@item.Remarks.ToString().Substring(0, 20)...</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <span>@item.Remarks</span>
                                        }
                                    </div>
                                </text>),


                        grid.Column("Profile", "Profile", format:
                        @<text>
                            <a style="cursor:pointer;text-decoration:underline;" href="~/Uploads/@item.TrianerId/@item.Profile" target="_blank">@item.Profile</a>
                        </text>
                         , canSort: true),
                      grid.Column("", "#Action", canSort: false,
                                format:
                                @<text>
                                    <div style='width:80px;'>
                                        @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                        {
                                            <button class="btn btn-xs btn-success waves-effect" onclick="location.href ='@Url.Content("~/Trainer/Trainer?Id=" + item.TrianerId)'"><i class="fa fa-pencil-square-o" style="padding-left: 5px;"></i></button>
                                            <button class="btn btn-xs btn-danger waves-effect" onclick="DeleteTrainer(@item.TrianerId)"><i class="fa fa-trash-o" style="padding-left: 5px;"></i></button>
                                        }
                                    </div>
                                </text>)),
                                tableStyle: "table")
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-right">@grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-sm")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section SectionScripts{
    <script type="text/javascript">
        $(function () {
            $('#liTrainersList').addClass('active');
        });
        function DeleteTrainer(id) {
            @*if (confirm("Are you sure, You want to delete")) {
                $.ajax({
                    url: '@Url.Content("~/Trainer/DeleteTrainer?Id=")' + id,
                    type: 'POST',
                    contentType: 'application/json',
                    success: function (data) {
                        alert("Deleted Successfully");
                        if (data) {
                            location.reload();
                        }
                    },
                    error: function (e) {
                    }
                });
            }*@
            swal({
                title: "Are you sure?",
                text: "Do you want delete?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
   function () {
       $.ajax({
           url: '@Url.Content("~/Trainer/DeleteTrainer?Id=")' + id,
           type: 'POST',
           contentType: 'application/json',
           success: function (data) {
               if (data) {
                   swal("Deleted!", "Your Trainer record has been deleted.", "success");
                   location.reload();
               }
           },
           error: function (e) {
           }
       });
   });
        };

        function mouseleave(el) {
            $(el).popover("hide");
        }

        function mouseover(el) {
            $(el).popover("show");
        }
    </script>

}