@model IEnumerable<EDU.Web.ViewModels.ReportsModel.ProductTotalRevenueVM>

@{
    ViewBag.Title = "Achievement";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var CountryData = (List<EZY.EDU.Contract.Branch>)ViewData["CountryData"];

}

<div class="page page-forms-elements">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <h4>PRODUCT - Achievement  YTD</h4>
                    <div class="box-tools">
                    </div>
                </div>
                <div class="box-body">
                    <div class="row css10">
                        <div class="form-group">
                            <label class="col-md-1 control-label">
                                <span class="pull-right">Year</span>
                            </label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(x => x.FirstOrDefault().Year, Enumerable.Range(2017, 14).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Select Year ", new { @class = "form-control input-sm", onchange = "ChangeMonth();" })
                            </div>
                        </div>
                    </div>
                    <div class="row css10">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="jqChartdoughnut"></div>
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-12">
                                        <div id="jqChart"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6 css10">
                                        <div id="jqChart0" style="height: 150px; width: 100%;"></div>
                                    </div>
                                    <div class="col-md-6 css10">
                                        <div id="jqChart1" style="height: 150px; width: 100%;"></div>
                                    </div>
                                    <div class="col-md-6 css10">
                                        <div id="jqChart2" style="height: 150px; width: 100%;"></div>
                                    </div>
                                    <div class="col-md-6 css10">
                                        <div id="jqChart3" style="height: 150px; width: 100%;"></div>
                                    </div>
                                    <div class="col-md-6 css10">
                                        <div id="jqChart4" style="height: 150px; width: 100%;"></div>
                                    </div>
                                    <div class="col-md-6 css10">
                                        <div id="jqChart5" style="height: 150px; width: 100%;"></div>
                                    </div>
                                    <div class="col-md-6 css10">
                                        <div id="jqChart6" style="height: 150px; width: 100%;"></div>
                                    </div>
                                    <div class="col-md-6 css10">
                                        <div id="jqChart7" style="height: 150px; width: 100%;"></div>
                                    </div>
                                    <div class="col-md-6 css10">
                                        <div id="jqChart8" style="height: 150px; width: 100%;"></div>
                                    </div>
                                    <div class="col-md-6 css10">
                                        <div id="jqChart9" style="height: 150px; width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section SectionScripts {

    <script lang="javascript" type="text/javascript">
        $(function () {
            $('#liReportsAchievement').addClass('active');
        });
        function ChangeMonth() {
            window.location = '@Url.Action("Achievement", "Reports", new { year = "" })' + '?year=' + $('#Year').val();
        };
        $(document).ready(function () {
            var background = {
                type: 'linearGradient',
                x0: 0,
                y0: 0,
                x1: 0,
                y1: 1,
                colorStops: [{ offset: 0, color: '#d2e6c9' },
                { offset: 1, color: 'white' }]
            };

            $('#jqChartdoughnut').jqChart({
                title: { text: 'Products' },
                legend: { title: 'Products' },
                border: { strokeStyle: '#6ba851' },
                background: background,
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                series: [
                    {
                        type: 'doughnut',
                        innerExtent: 0.5,
                        outerExtent: 1.0,
                        fillStyles: ['#418CF0', '#FCB441', '#E0400A', '#056492', '#BFBFBF'],
                        labels: {
                            stringFormat: '%.1f%%',
                            valueType: 'percentage',
                            font: '15px sans-serif',
                            fillStyle: 'white'
                        },
                        data: [ @foreach (var item in Model.GroupBy(x=>x.ProductName).ToList())
                        {
                            <text>
                                [
                                    '@item.FirstOrDefault().ProductName',
                                    @item.Sum(a=>a.AchievedRevenue)
                                ],
                            </text>
                        }]
                    }
                ]
            });
            $('#jqChart').jqChart({
                title: { text: '' },
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                legend: {
                    visible: false,
                },
                series: [
                    {
                        type: 'bar',
                        title: '',
                        fillStyles: ['#418CF0', '#FCB441', '#E0400A', '#056492', '#1A3B69'],
                        data: [
                        @foreach (var item in Model.GroupBy(x=>x.ProductName).ToList())
                        {
                            <text>
                                [
                                    '@item.FirstOrDefault().ProductName',
                                    @item.Sum(a=>a.AchievedRevenue)
                                ],
                            </text>
                        }
                        ]
                    }
                ]
            });

            var count = 0;
            @foreach (var item in CountryData)
                {
                   <text>
            $('#jqChart'+count).jqChart({
                title: { text: '@item.BranchName' },
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                legend: {
                    visible: false,
                    //allowHideSeries: true,
                    //location: 'right',
                    //title: {
                    //    text: 'Legend Title',
                    //    font: '14px sans-serif',
                    //    fillStyle: 'red'
                    //},
                    //border: {
                    //    lineWidth: 2,
                    //    strokeStyle: 'green'
                    //},
                    //font: '12px sans-serif',
                    //textFillStyle: '#418CF0',
                    //background: '#eeeeee',
                    //margin: 10
                },
                axes: [
                    {
                        type: 'category',
                        location: 'bottom',
                        categories: [
                                        @foreach (var info in Model.Where(x => x.Country == item.BranchID).ToList())
                                          {
                                               <text>
                                             '@info.ProductName',
                                                 </text>
                                         }
                                    ],
                        labels: {
                            font: '12px sans-serif',
                            angle: -45
                        }
                    }
                ],
                series: [
                    {
                        type: 'column',
                        fillStyles: ['#418CF0', '#FCB441', '#E0400A', '#056492', '#1A3B69'],
                        data:[
                         @foreach (var info in Model.Where(x => x.Country == item.BranchID).ToList())
                        {
                        <text>
                                @info.AchievedRevenue,
                        </text>
                        }
                        ]
                    }
                ]
            });
            count++;
            </text>
        }

        });
    </script>
}














































































