
@model IEnumerable<EDU.Web.ViewModels.OperationalTransaction.OperationalTransactionReportByMonth>
@{
    ViewBag.Title = "DashboardOperationaltransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var CountryData = (List<EZY.EDU.Contract.Branch>)ViewData["CountryData"];
}
@{

    var listMonths = new List<SelectListItem>()
                    {
                    new SelectListItem {Text = "Select Month",   Value = "0"},
                    new SelectListItem {Text = "Janaury",   Value = "1"},
                    new SelectListItem {Text = "February", Value = "2"},
                    new SelectListItem {Text = "March", Value = "3"},
                    new SelectListItem {Text = "April",   Value = "4"},
                    new SelectListItem {Text = "May", Value = "5"},
                    new SelectListItem {Text = "June", Value = "6"},
                    new SelectListItem {Text = "July",   Value = "7"},
                    new SelectListItem {Text = "August", Value = "8"},
                    new SelectListItem {Text = "September", Value = "9"},
                    new SelectListItem {Text = "October",   Value = "10"},
                    new SelectListItem {Text = "November", Value = "11"},
                    new SelectListItem {Text = "December", Value = "12"}
                };
}

<div class="page page-forms-elements">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <h4>Dashboard Operational transaction</h4>
                    <div class="box-tools">
                    </div>
                </div>

                <div class="box-body">
                    <div class="row col-md-offset-1">
                        <div class="form-group">
                            <label class="col-md-1 control-label">
                                <span class="pull-right">Year</span>
                            </label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(x => x.FirstOrDefault().Year, Enumerable.Range(2017, 14).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Select Year ", new { @class = "form-control input-sm", onchange = "ChangeMonth();" })
                            </div>
                            <label class="col-md-1 control-label">
                                <span class="pull-right">Month</span>
                            </label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(x => x.FirstOrDefault().Month, listMonths, new { @class = "form-control input-sm", onchange = "ChangeMonth();" })
                            </div>
                        </div>
                    </div>
                    <div class="row css25">
                        <div class="col-md-12">

                            <div class="row col-md-offset-1">
                                <div class="col-md-3 allotspace">
                                    <div id="container0"></div>
                                </div>
                                <div class="col-md-3 allotspace">
                                    <div id="container1"></div>
                                </div>
                                <div class="col-md-3 allotspace">
                                    <div id="container2"></div>
                                </div>
                            </div>
                            <div class="row css10 col-md-offset-1">
                                <div class="col-md-3 allotspace col-md-offset-1">
                                    <div id="container3"></div>
                                </div>
                                <div class="col-md-3 allotspace">
                                    <div id="container4"></div>
                                </div>
                                <div class="col-md-3 allotspace">
                                    <div id="container5"></div>
                                </div>
                            </div>
                            <div class="row css10 col-md-offset-1">
                                <div class="col-md-3 allotspace">
                                    <div id="container6"></div>
                                </div>
                                <div class="col-md-3 allotspace">
                                    <div id="container7"></div>
                                </div>
                                <div class="col-md-3 allotspace">
                                    <div id="container8"></div>
                                </div>
                            </div>
                            <div class="row css10 col-md-offset-1">
                                <div class="col-md-3 allotspace">
                                    <div id="container9"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .allotspace {
        margin-left: 10px;
        border: 1px solid #d2d6de;
    }
    /*.highcharts-legend-item highcharts-pie-series 
    {
        display:none;
    }*/
    .highcharts-button-symbol {
        display: none;
    }

    .highcharts-credits {
        display: none;
    }

    #rectangle {
        width: 100px;
        height: 50px;
        background: blue;
    }

    #rectangle1 {
        width: 100px;
        height: 50px;
        background: red;
    }

    #rectangle2 {
        width: 100px;
        height: 50px;
        background: green;
    }

    #rectangle3 {
        width: 100px;
        height: 50px;
        background: red;
    }

    #rectangle4 {
        width: 100px;
        height: 50px;
        background: yellow;
    }

    #rectangle5 {
        width: 100px;
        height: 50px;
        background: orange;
    }
    /*.highcharts-label
                        {
                            display:none!important;
                        }*/
    .highcharts-data-label-connector {
        display: none !important;
    }
    /*rect.highcharts-background {
        height:250px !important;
        }
        .highcharts-container .highcharts-3d-chart {
            height: 250px !important;
        }
        .highcharts-root {
            height: 250px !important;
        }*/
    /*#container0, #container1,
        #container2, #container3,
        #container4, #container5,
        #container6, #container7,
        #container8, #container9 {
            height: 250px !important;
        }*/
</style>
@section SectionScripts{
    <script type="text/javascript">

        function ChangeMonth() {
            window.location = '@Url.Action("DashboardOperationaltransaction", "Reports", new { month = "", year = "" })' + '?month=' + $('#Month').val() + "&year=" + $('#Year').val();
        };

        $(function () {
            $('#liDashboardOperationaltransaction').addClass('active');

            Highcharts.setOptions({
                colors: ['#418CF0', '#FCB441', '#E0400A', '#056492', '#1A3B69', '#0000FF',
                        '#8A2BE2', '#A52A2A', '#DEB887', '#5F9EA0', '#D2691E', '#FF7F50',
                        '#6495ED', '#DC143C', '#00FFFF', '#00008B', '#008B8B', '#B8860B',
                        '#006400', '#8B008B', '#556B2F', '#FF8C00', '#8B0000', '#FF1493',
                        '#1E90FF', '#B22222', '#228B22', '#008000', '#4B0082', '#F08080',
                        '#00FF00', '#0000CD', '#FF4500', '#800080', '#9ACD32', '#008080'
                ]
            });

            var count = 0;
            @foreach (var item in CountryData)
            {
            <text>
            Highcharts.chart('container' + count, {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 65,
                        beta: 0
                    },
                   
                },
                title: {
                    text: '@item.BranchName'
                },
                tooltip: {
                    pointFormat: '<b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        depth: 60,
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: false
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: [
                @foreach (var info in Model.Where(x=>x.Country==item.BranchID).ToList())
                        {
                            <text>
                {
                    name:'@info.ParticularName',
                    y:@info.Amount,
                    sliced: true,
                    selected:true
                },
                </text>
                            }
                    ]
                }]
            });



            count++;
            </text>
                }
        });
    </script>
}

