
@model IEnumerable<EDU.Web.ViewModels.OperationalTransaction.OperationalTransactionReportByMonth>
@{
    ViewBag.Title = "DashboardOperationaltransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var CountryData = (List<EZY.EDU.Contract.Branch>)ViewData["CountryData"];
}
@{

    var listMonths = new List<SelectListItem>()
                    {
                    new SelectListItem {Text = "Select Month",   Value = "0"},
                    new SelectListItem {Text = "Janaury",   Value = "1"},
                    new SelectListItem {Text = "February", Value = "2"},
                    new SelectListItem {Text = "March", Value = "3"},
                    new SelectListItem {Text = "April",   Value = "4"},
                    new SelectListItem {Text = "May", Value = "5"},
                    new SelectListItem {Text = "June", Value = "6"},
                    new SelectListItem {Text = "July",   Value = "7"},
                    new SelectListItem {Text = "August", Value = "8"},
                    new SelectListItem {Text = "September", Value = "9"},
                    new SelectListItem {Text = "October",   Value = "10"},
                    new SelectListItem {Text = "November", Value = "11"},
                    new SelectListItem {Text = "December", Value = "12"}
                };
}

<div class="page page-forms-elements">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <h4>Dashboard Operational transaction</h4>
                    <div class="box-tools">
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-1 control-label">
                                <span class="pull-right">Year</span>
                            </label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(x => x.FirstOrDefault().Year, Enumerable.Range(2017, 14).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Select Year ", new { @class = "form-control input-sm", onchange = "ChangeMonth();" })
                            </div>
                            <label class="col-md-1 control-label">
                                <span class="pull-right">Month</span>
                            </label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(x => x.FirstOrDefault().Month, listMonths, new { @class = "form-control input-sm", onchange = "ChangeMonth();" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6" id="div0">
                                        <div id="container0"></div>
                                    </div>
                                    <div class="col-md-6" id="div1">
                                        <div id="container1"></div>
                                    </div>
                                    <div class="col-md-6" id="div2">
                                        <div id="container2"></div>
                                    </div>
                                    <div class="col-md-6" id="div3">
                                        <div id="container3"></div>
                                    </div>
                                    <div class="col-md-6" id="div4">
                                        <div id="container4"></div>
                                    </div>
                                    <div class="col-md-6" id="div5">
                                        <div id="container5"></div>
                                    </div>
                                    <div class="col-md-6" id="div6">
                                        <div id="container6"></div>
                                    </div>
                                    <div class="col-md-6" id="div7">
                                        <div id="container7"></div>
                                    </div>
                                    <div class="col-md-6" id="div8">
                                        <div id="container8"></div>
                                    </div>
                                    <div class="col-md-6" id="div9">
                                        <div id="container9"></div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row">

                                        </div>
                                        <div class="row">
                                            <h2>Legend</h2>
                                            <br />
                                            <div id="rectangle"></div>
                                            <br />
                                            <div id="rectangle1"></div>
                                            <br />
                                            <div id="rectangle2"></div>
                                            <br />
                                            <div id="rectangle3"></div>
                                            <br />
                                            <div id="rectangle4"></div>
                                            <br />
                                            <div id="rectangle5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <style>
            .highcharts-button-symbol {
                display: none;
            }

            .highcharts-credits {
                display: none;
            }

            #rectangle {
                width: 100px;
                height: 50px;
                background: blue;
            }

            #rectangle1 {
                width: 100px;
                height: 50px;
                background: red;
            }

            #rectangle2 {
                width: 100px;
                height: 50px;
                background: green;
            }

            #rectangle3 {
                width: 100px;
                height: 50px;
                background: red;
            }

            #rectangle4 {
                width: 100px;
                height: 50px;
                background: yellow;
            }

            #rectangle5 {
                width: 100px;
                height: 50px;
                background: orange;
            }
            /*.highcharts-label
                        {
                            display:none!important;
                        }*/
            .highcharts-data-label-connector {
                display: none !important;
            }
            /*rect.highcharts-background {
        height:250px !important;
        }
        .highcharts-container .highcharts-3d-chart {
            height: 250px !important;
        }
        .highcharts-root {
            height: 250px !important;
        }*/
            /*#container0, #container1,
        #container2, #container3,
        #container4, #container5,
        #container6, #container7,
        #container8, #container9 {
            height: 250px !important;
        }*/
    </style>
    @section SectionScripts{
        <script type="text/javascript">

        function ChangeMonth() {
            window.location = '@Url.Action("DashboardOperationaltransaction", "Reports", new { month = "", year = "" })' + '?month=' + $('#Month').val() + "&year=" + $('#Year').val();
        };

        $(function () {
            $('#liDashboardOperationaltransaction').addClass('active');

            Highcharts.setOptions({
                colors: ['#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
            });

            var count = 0;
            @foreach (var item in CountryData)
            {
                foreach (var info in Model.Where(x=>x.Country==item.BranchID).ToList())
                {
                    if(info.ParticularName=="")
                    {
                        <text>$('#div'+count).hide(); </text>
                    }
                    else
                    {
                         <text>$('#div'+count).show(); </text>
                    }
                }
            <text>
            Highcharts.chart('container' + count, {
                chart: {
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 65,
                        beta: 0
                    }
                },
                title: {
                    text: '@item.BranchName'
                },
                tooltip: {
                    pointFormat: '<b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        depth: 60,
                        dataLabels: {
                            enabled: false,
                            format: '{point.name}'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    data: [
                @foreach (var info in Model.Where(x=>x.Country==item.BranchID).ToList())
                        {
                            <text>
                {
                    name:'@info.ParticularName',
                    y:@info.Amount,
                    sliced: true,
                    selected:true
                },
                </text>
                            }
                    ]
                }]
            });
            count++;
            </text>
                }
        });
        </script>
    }

