
@model EDU.Web.ViewModels.OperationalTransaction.OperationalTransactionReportVM
@{
    ViewBag.Title = "Operationaltransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var listMonths = new List<SelectListItem> ()
    {
    new SelectListItem {Text = "Select Month",   Value = "0"},
    new SelectListItem {Text = "Janaury",   Value = "1"},
    new SelectListItem {Text = "February", Value = "2"},
    new SelectListItem {Text = "March", Value = "3"},
    new SelectListItem {Text = "April",   Value = "4"},
    new SelectListItem {Text = "May", Value = "5"},
    new SelectListItem {Text = "June", Value = "6"},
    new SelectListItem {Text = "July",   Value = "7"},
    new SelectListItem {Text = "August", Value = "8"},
    new SelectListItem {Text = "September", Value = "9"},
    new SelectListItem {Text = "October",   Value = "10"},
    new SelectListItem {Text = "November", Value = "11"},
    new SelectListItem {Text = "December", Value = "12"}
    };


}
    <div class="page page-forms-elements">
        <div class="page-wrap">
            <div class="panel panel-default">
                <div class="box" id="grid">
                    <div class="box-header">
                        <h4>Operational transaction</h4>
                        <div class="box-tools">
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.DropDownListFor(x => x.otReportByMonth.FirstOrDefault().Country,
                                     new SelectList((List<EZY.EDU.Contract.Branch>)ViewData["CountryData"], "BranchId", "BranchName"),
                                     "Select Country", new { @class = "form-control input-sm", onchange = "ChangeMonth();" })
                                </div>
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Month</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(x => x.otReportByMonth.FirstOrDefault().Month, listMonths, new { @class = "form-control input-sm", onchange = "ChangeMonth(this);" })
                                </div>
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Year</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(x => x.otReportByMonth.FirstOrDefault().Year, Enumerable.Range(2017, 14).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Select Year ", new { @class = "form-control input-sm", onchange = "ChangeMonth();" })
                                </div>
                              
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="container"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align:center">
                                            <h4>
                                                <label>YTD</label>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div id="jqChart"></div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .highcharts-button-symbol {
            display: none;
        }
        .highcharts-credits
        {
            display: none;
        }
    </style>
    @section SectionScripts{
        <script type="text/javascript">
            $(function () {

                 @if (Session["UserID"].ToString().ToUpper() != "ADMIN")
                 {
                     <text>
                 $('#Country').attr('disabled','disabled');
                     </text>
                 }

                $('#liReportsOperationaltransaction').addClass('active');
            });

            function ChangeMonth() {
                window.location = '@Url.Action("Operationaltransaction", "Reports", new { month = "", year = "", country="" })' + '?country=' + $('#Country').val() + "&month=" + $('#Month').val() + "&year=" + $('#Year').val();
            };

            Highcharts.chart('container', {
                chart: {
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 65,
                        beta: 0
                    }
                },
                title: {
                    text: 'MTD'
                },
                tooltip: {
                    pointFormat: '<b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        depth: 60,
                        dataLabels: {
                            enabled: false,
                            format: '{point.name}'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: '',
                    data: [
                        @foreach (var item in Model.otReportByMonth)
                        {
                            <text>
                        {
                            name:'@item.ParticularName',
                            y:@item.Amount,
                            sliced: true,
                            selected:true
                        },
                        </text>
                            }
                    ]
                }]
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#jqChart').jqChart({
                    title: { text: '' },
                    border: { strokeStyle: '#6ba851' },
                    background: '#eeeeee',
                    animation: { duration: 3 },
                    shadows: {
                        enabled: false
                    },
                    legend:{
                        visible:false
                    },
                    series: [
                        {
                            type: 'column',
                            title: '',
                            fillStyles: ['#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970'],
                            data: [
                                ['JAN',   @Model.otReportByYear.JanAmount], ['FEB', @Model.otReportByYear.FebAmount], ['MAR',  @Model.otReportByYear.MarAmount],
                                ['APR',  @Model.otReportByYear.AprAmount], ['MAY',  @Model.otReportByYear.MayAmount], ['JUN',  @Model.otReportByYear.JunAmount], 
                                ['JUL',  @Model.otReportByYear.JulAmount], ['AUG',  @Model.otReportByYear.AugAmount], ['SEP',  @Model.otReportByYear.SepAmount], 
                                ['OCT',  @Model.otReportByYear.OctAmount], ['NOV',  @Model.otReportByYear.NovAmount], ['DEC',  @Model.otReportByYear.DecAmount]
                            ]
                        }
                    ]
                });
            });
        </script>
    }
