@model IEnumerable<EDU.Web.ViewModels.OperationalTransaction.OperationalTransactionReportByYear>

@{
    ViewBag.Title = "OperationalExpenses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page page-forms-elements">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <h4>Operational Expenses - (YTD)</h4>
                    <div class="box-tools">
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-1 control-label">
                                <span class="pull-right">Year</span>
                            </label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(x => x.FirstOrDefault().Year, Enumerable.Range(2017, 14).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Select Year ", new { @class = "form-control input-sm", onchange = "ChangeYear();" })
                            </div>

                        </div>
                        <div class="col-md-12 css10">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6  css10">
                                        <div id="jqChart0"></div>
                                    </div>
                                    <div class="col-md-6 css10">
                                        <div id="jqChart1"></div>
                                    </div>
                                    <div class="col-md-6 css10">
                                        <div id="jqChart8"></div>
                                    </div>
                                    <div class="col-md-6 css10">
                                        <div id="jqChart4"></div>
                                    </div>
                                    <div class="col-md-6 css10">
                                        <div id="jqChart5"></div>
                                    </div>
                                    <div class="col-md-6 css10">
                                        <div id="jqChart6"></div>
                                    </div>
                                    <div class="col-md-6 css10">
                                        <div id="jqChart7"></div>
                                    </div>
                                    <div class="col-md-6 css10">
                                        <div id="jqChart9"></div>
                                    </div>
                                    <div class="col-md-6 css10">
                                        <div id="jqChart2"></div>
                                    </div>
                                    <div class="col-md-6 css10">
                                        <div id="jqChart3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section SectionScripts{
    <script type="text/javascript">
        function ChangeYear() {
            window.location = '@Url.Action("OperationalExpenses", "Reports", new { year = ""})' + '?year=' + $('#Year').val();
        };
        $(function () {
            $('#liReportsOperationalExpenses').addClass('active');

            var count = 0;
            @foreach (var item in Model)
            {
                <text>
            $('#jqChart' + count).jqChart({
                title: {
                    text: '@item.CountryName',
                    font: '14px sans-serif'
                },
                animation: { duration: 1 },
                        shadows: {
                        enabled: true
                        },
                        legend: {
                            visible:false
                        },
                        series: [
                            {
                                type: 'column',
                                fillStyles: ['#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970'],
                                data: [
                                    ['JAN', @item.JanAmount], ['FEB', @item.FebAmount], ['MAR', @item.MarAmount],
                                ['APR', @item.AprAmount], ['MAY', @item.MayAmount], ['JUN', @item.JunAmount], ['JUL', @item.JulAmount],
                                ['AUG', @item.AugAmount], ['SEP', @item.SepAmount], ['OCT', @item.OctAmount], ['NOV', @item.NovAmount], ['DEC', @item.DecAmount]
                                ]
                            }
                        ]
            });
            count++;
            </text>
                }
            });
    </script>
}
