@model IEnumerable<EDU.Web.ViewModels.ReportsModel.TotalRevenueVM>
@{
    ViewBag.Title = "TotalRevenue";
    Layout = "~/Views/Shared/_Layout.cshtml";

    decimal? totalRevenue = 0;
    decimal? achievedRevenue = 0;
    decimal? yettoAchieveRevenue = 0;
    string achievedPercent = "0";
    string yettoAchievePercent = "0";
    foreach (var item in Model)
    {
        totalRevenue += item.TotalRevenue;
        achievedRevenue += item.AchievedRevenue;
        yettoAchieveRevenue += item.YetToAchieveRevenue;
    }
    if(totalRevenue>0)
    {
        achievedPercent = ((achievedRevenue * 100) / totalRevenue).Value.ToString("#0.00");
        yettoAchievePercent = ((yettoAchieveRevenue * 100) / totalRevenue).Value.ToString("#0.00");
    }

    var CountryData = (List<EZY.EDU.Contract.Branch>)ViewData["CountryData"];

}
<div class="page page-forms-elements">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <h4>Total Revenue</h4>
                    <div class="box-tools">
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-1 control-label">
                                <span class="pull-right">Year</span>
                            </label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(x => x.FirstOrDefault().Year, Enumerable.Range(2017, 14).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Select Year ", new { @class = "form-control input-sm", onchange = "ChangeYear();" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="square">
                                            <h3 style="color:green;padding-top:30%; text-align:center">TOTAL REVENUE ACHIEVED </h3>
                                            <h1 style="color:green; text-align:center">@achievedPercent%</h1>
                                        </div>
                                    </div>
                                    <div style="padding-top:12px" class="col-md-2">
                                        <div class="sml">
                                            <h6 style="color:white;padding-top:30%; text-align:center"><span class="div0"></span></h6>
                                            <h5 style="color:white; text-align:center"><span id="achieved0"></span></h5>
                                        </div>
                                        <div class="sml">
                                            <h6 style="color:white;padding-top:30%; text-align:center"><span class="div1"></span></h6>
                                            <h5 style="color:white; text-align:center"><span id="achieved1"></span></h5>
                                        </div>
                                        <div class="sml">
                                            <h6 style="color:white;padding-top:30%; text-align:center"><span class="div2"></span></h6>
                                            <h5 style="color:white; text-align:center"><span id="achieved2"></span></h5>
                                        </div>
                                        <div class="sml">
                                            <h6 style="color:white;padding-top:30%; text-align:center"><span class="div3"></span></h6>
                                            <h5 style="color:white; text-align:center"><span id="achieved3"></span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <div class="sml">
                                                <h6 style="color:white;padding-top:30%; text-align:center"><span class="div4" ></span></h6>
                                                <h5 style="color:white; text-align:center"><span id="achieved4"></span></h5>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml">
                                                <h6 style="color:white;padding-top:30%; text-align:center"><span class="div5"></span></h6>
                                                <h5 style="color:white; text-align:center"><span id="achieved5"></span></h5>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml">
                                                <h6 style="color:white;padding-top:30%; text-align:center"><span class="div6"></span></h6>
                                                <h5 style="color:white; text-align:center"><span id="achieved6"></span></h5>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml">
                                                <h6 style="color:white;padding-top:30%; text-align:center"><span class="div7"></span></h6>
                                                <h5 style="color:white; text-align:center"><span id="achieved7"></span></h5>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml">
                                                <h6 style="color:white;padding-top:30%; text-align:center"><span class="div8"></span></h6>
                                                <h5 style="color:white; text-align:center"><span id="achieved8"></span></h5>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml">
                                                <h6 style="color:white;padding-top:30%; text-align:center"><span class="div9"></span></h6>
                                                <h5 style="color:white; text-align:center"><span id="achieved9"></span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-12">
                                        <div id="jqChart1"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="square1">
                                            <h3 style="color:white;padding-top:30%; text-align:center">TOTAL REVENUE YET TO ACHIVE</h3>
                                            <h1 style="color:white; text-align:center">@yettoAchievePercent%</h1>
                                        </div>
                                    </div>
                                    <div style="padding-top:12px" class="col-md-2">
                                        <div class="sml1">
                                            <h6 style="color:white;padding-top:30%; text-align:center"><span class="div0"></span></h6>
                                            <h5 style="color:white; text-align:center"><span id="yetachieve0"></span></h5>
                                        </div>
                                        <div class="sml1">
                                            <h6 style="color:white;padding-top:30%; text-align:center"><span class="div1"></span></h6>
                                            <h5 style="color:white; text-align:center"><span id="yetachieve1"></span></h5>
                                        </div>
                                        <div class="sml1">
                                            <h6 style="color:white;padding-top:30%; text-align:center"><span class="div2"></span></h6>
                                            <h5 style="color:white; text-align:center"><span id="yetachieve2"></span></h5>
                                        </div>
                                        <div class="sml1">
                                            <h6 style="color:white;padding-top:30%; text-align:center"><span class="div3"></span></h6>
                                            <h5 style="color:white; text-align:center"><span id="yetachieve3"></span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <div class="sml1">
                                                <h6 style="color:white;padding-top:30%; text-align:center"><span class="div4"></span></h6>
                                                <h5 style="color:white; text-align:center"><span id="yetachieve4"></span></h5>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml1">
                                                <h6 style="color:white;padding-top:30%; text-align:center"><span class="div5"></span></h6>
                                                <h5 style="color:white; text-align:center"><span id="yetachieve5"></span></h5>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml1">
                                                <h6 style="color:white;padding-top:30%; text-align:center"><span class="div6"></span></h6>
                                                <h5 style="color:white; text-align:center"><span id="yetachieve6"></span></h5>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml1">
                                                <h6 style="color:white;padding-top:30%; text-align:center"><span class="div7"></span></h6>
                                                <h5 style="color:white; text-align:center"><span id="yetachieve7"></span></h5>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml1">
                                                <h6 style="color:white;padding-top:30%; text-align:center"><span class="div8"></span></h6>
                                                <h5 style="color:white; text-align:center"><span id="yetachieve8"></span></h5>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml1">
                                                <h6 style="color:white;padding-top:30%; text-align:center"><span class="div9"></span></h6>
                                                <h5 style="color:white; text-align:center"><span id="yetachieve9"></span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row css10">
                                        <div class="col-md-12">
                                            <div id="jqChart2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    div.square {
        max-width: 100%;
        max-height: 100%;
        min-height: 320px;
        background-color: black;
    }

    div.square1 {
        max-width: 100%;
        max-height: 100%;
        min-height: 320px;
        background-color: red;
    }

    div.sml {
        max-width: 100%;
        max-height: 100%;
        min-height: 70px;
        background-color: black;
    }

    div.sml1 {
        max-width: 100%;
        max-height: 100%;
        min-height: 70px;
        background-color: red;
    }
</style>
@section SectionScripts {
    <script lang="javascript" type="text/javascript">
        function ChangeYear() {
            window.location = '@Url.Action("TotalRevenue", "Reports", new { year = ""})' + '?year=' + $('#Year').val();
        };
        $(document).ready(function () {
            var count = 0;
            @foreach(var item in CountryData)
            {
                var info = Model.Where(x=>x.Country==item.BranchID).FirstOrDefault();
                if (info != null) {
                    <text>
                    debugger;
                $('.div' + count).text('@info.CountryName');
            var achievedPercent = @info.TotalRevenue>0?((@info.AchievedRevenue * 100) / @info.TotalRevenue):0;
            $('#achieved' + count).text(achievedPercent.toFixed(2) + '%');

            var yetachievePercent = @info.TotalRevenue>0?((@info.YetToAchieveRevenue * 100) / @info.TotalRevenue):0;
            $('#yetachieve' + count).text(yetachievePercent.toFixed(2) + '%');
                     count++;
                    </text>
                }

            }

            $('#liReportsTotalRevenue').addClass('active');

            $('#jqChart1').jqChart({
                title: { text: '' },
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                legend:{
                    visible:false
                },
                axes: [
                    {
                        type: 'category',
                        location: 'bottom',
                        categories: [
                             @foreach (var item in Model)
                        {
                            <text>
                                '@item.CountryName',
                            </text>
                            }
                        ],
                        labels: {
                            font: '8px sans-serif',
                            angle: -90
                        }
                    }
                ],
                series: [
                    {
                        type: 'column',
                        title: '',
                        fillStyles: ['#418CF0', '#FCB441', '#E0400A', '#056492', '#1A3B69', '#418CF0', '#E0400A', '#1A3B69'],
                        data: [
                            @foreach (var item in Model)
                        {
                            <text>
                                @item.AchievedRevenue,
                            </text>
                            }
                        ]
                    }
                ]
            });


            $('#jqChart2').jqChart({
                title: { text: '' },
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                legend:{
                    visible:false
                },
                axes: [
                    {
                        type: 'category',
                        location: 'bottom',
                        categories: [
                        @foreach (var item in Model)
                        {
                            <text>
                                '@item.CountryName',
                            </text>
                            }
                        ],
                        labels: {
                            font: '8px sans-serif',
                            angle: -90
                        }
                    }
                ],
                series: [
                    {
                        type: 'column',
                        title: '',
                        fillStyles: ['#418CF0', '#FCB441', '#E0400A', '#056492', '#1A3B69', '#418CF0', '#E0400A', '#1A3B69'],
                        data: [
                            @foreach (var item in Model)
                        {
                            <text>
                                @item.YetToAchieveRevenue,
                            </text>
                            }
                        ]
                    }
                ]
            });
        });
    </script>
}
