@using System.Globalization;
﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDUCATION</title>
    @RenderSection("StylesCharts", false)
    <link rel="shortcut icon" href="@Url.Content("~/images/ezy-corporation-logo.png")" />
    <link rel="stylesheet" href="@Url.Content("~/Css/ionicons-2.0.1/css/ionicons.css")">
    <link rel="stylesheet" href="@Url.Content("~/Css/font-awesome-4.7.0/css/font-awesome.css")">
    @*<link rel="stylesheet" href="@Url.Content("~/Css/c3.css")">*@
    <link href="@Url.Content("~/Css/skins/flat/_all.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/skins/flat/green.css")" rel="stylesheet" />
    <!-- sweetalert -->
    <script src="@Url.Content("~/Scripts/sweetalert.js")"></script>
    <link href="@Url.Content("~/Scripts/sweetalert.css")" rel="stylesheet" />

    <!-- Plugins -->

    <link rel="stylesheet" href="@Url.Content("~/Css/waves.css")">
    <link rel="stylesheet" href="@Url.Content("~/Css/perfect-scrollbar.css")">
    <!-- Css/Less Stylesheets -->
    <link href="@Url.Content("~/Css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/bootstrap-datetimepicker.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Css/main.min.css")">
    <link href="@Url.Content("~/Css/style.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/sitecss.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-2.2.3.min.js")"></script>
    <style type="text/css">
        .icheckbox_flat {
            margin-top: 10px;
        }

        .ptop7 {
            padding: 7px 0px 0px 10px;
        }
        .ptop0 {
            padding: 0px 0px 0px 10px;
        }

        .font20 {
            font-size: 20px !important;
        }
    </style>
    @RenderSection("Styles", false)
    @{
        int month = Convert.ToInt16(DateTime.Now.Month.ToString());
        int year = Convert.ToInt16(DateTime.Now.Year.ToString());
    }
</head>
<body id="app" class="app off-canvas nav-expand">
    <!-- header -->
    <header class="site-head" id="site-head">
        <ul class="list-unstyled left-elems">
            <!-- nav trigger/collapse -->
            <li>
                <a href="javascript:;" class="nav-trigger ion ion-drag"></a>
            </li>
            <!-- #end nav-trigger -->
            <!-- site-logo for mobile nav -->
            <li>
                <div class="site-logo visible-xs">
                    <a href="javascript:;" class="text-uppercase h3">
                        <span class="text">EZY EDU</span>
                    </a>
                </div>
            </li>
        </ul>

        <ul class="list-unstyled right-elems">
            <!-- profile drop -->
            <li class="profile-drop hidden-xs dropdown">
                <a href="javascript:;" data-toggle="dropdown">
                    <img src="@Url.Content("~/Css/ionicons-2.0.1/png/512/android-contact.png")" alt="admin-pic">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    @*<li><a href="javascript:;"><span class="ion ion-person">&nbsp;&nbsp;</span>Profile</a></li>
                        <li><a href="javascript:;"><span class="ion ion-settings">&nbsp;&nbsp;</span>Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;"><span class="ion ion-lock-combination">&nbsp;&nbsp;</span>Lock Screen</a></li>*@
                    <li><a href="@Url.Content("~/Layout/LogOut")"><span class="ion ion-power">&nbsp;&nbsp;</span>LogOut</a></li>
                </ul>
            </li>
        </ul>

    </header>
    <!-- #end header -->
    <!-- main-container -->
    <div class="main-container clearfix">
        <!-- main-navigation -->
        <aside class="nav-wrap nav-expand ps-container ps-active-y" id="site-nav" data-perfect-scrollbar>
            <div class="nav-head">
                <!-- site logo -->
                <a href="@Url.Content("~/Home/Index")" class="site-logo text-uppercase">
                    <img src="@Url.Content("~/images/ezy-corporation-logo.png")" style="width:35px;" />
                    <span class="text">EZY EDU</span>
                </a>
            </div>

            <nav class="site-nav clearfix" role="navigation">
                @*<div class="profile clearfix mb15">
                        <img src="@Url.Content("~/images/admin.jpg")" alt="admin">
                        <div class="group">
                            <h5 class="name">Robert Smith</h5>
                            <small class="desig text-uppercase">UX Designer</small>
                        </div>
                    </div>*@

                <!-- navigation -->
                <ul class="list-unstyled clearfix nav-list mb15">
                    @*<li class="active">
                            <a href="index.html">
                                <i class="ion ion-monitor"></i>
                                <span class="text">Dashboard</span>
                            </a>
                        </li>*@
                    <li class="waves-effect open">
                        <a href="javascript:;">
                            <i class="ion ion-android-options"></i>
                            <span class="text">Master</span>
                            <i class="arrow ion-chevron-left"></i>
                        </a>
                        <ul class="inner-drop list-unstyled">
                            <li id="liCourse">
                                <a href="@Url.Content("~/Master/CourseList")">
                                    <i class="fa fa-bars font20"></i>
                                    <span class="text ptop7">Courses</span>
                                </a>
                            </li>
                            <li id="liRegionalLeads">
                                <a href="@Url.Content("~/Master/CourseSalesMasterList")">
                                    <i class="fa fa-chain font20"></i>
                                    <span class="text ptop7">Regional Leads</span>
                                </a>
                            </li>
                            <li id="liTrainingConfirmationList">
                                <a href="@Url.Content("~/Trainer/TrainingConfirmationList")">
                                    <i class="fa fa-thumbs-up font20"></i>
                                    <span class="text ptop7">Training Confirmation</span>
                                </a>
                            </li>
                            <li id="liRegistrationList">
                                <a href="@Url.Content("~/Registration/RegistrationList?trainingConfirmationID=")">
                                    <i class="fa fa-users font20"></i>
                                    <span class="text ptop7">Registrations</span>
                                </a>
                            </li>
                            <li id="liCustomerPaymentStatusList">
                                <a href="@Url.Content("~/CustomerPaymentStatus/CustomerPaymentStatusList?trainingConfirmationID=")">
                                    <i class="fa fa-users font20"></i>
                                    <span class="text ptop7">Customer Payment Status</span>
                                </a>
                            </li>
                            <li id="liVendorPaymentStatusList">
                                <a href="@Url.Content("~/VendorPaymentStatus/VendorPaymentStatusList?trainingConfirmationID=")">
                                    <i class="fa fa-users font20"></i>
                                    <span class="text ptop7">Vendor Payment Status</span>
                                </a>
                            </li>
                            <li id="liFinancialTransactionList">
                                <a href="@Url.Content("~/FinancialTransaction/FinancialTransactionList")">
                                    <i class="fa fa-money font20"></i>
                                    <span class="text ptop7">Financial Transactions</span>
                                </a>
                            </li>
                            <li id="liOperationalTransactionList">
                                <a href="@Url.Content("~/OperationalTransaction/OperationalTransactionList?month="+month+"&year="+year+"&country="+Convert.ToInt16(Session["BranchId"]))">
                                    <i class="fa fa-money font20"></i>
                                    <span class="text ptop7">Operational Transactions</span>
                                </a>
                            </li>
                            <li id="liTrainersList">
                                <a href="@Url.Content("~/Trainer/TrainersList")">
                                    <i class="fa fa-user-o font20"></i>
                                    <span class="text ptop7">Vendor and Trainers</span>
                                </a>
                            </li>
                            <li id="liEduProductList">
                                <a href="@Url.Content("~/Master/EduProductList")">
                                    <i class="fa fa-book font20"></i>
                                    <span class="text ptop7">Products</span>
                                </a>
                            </li>
                            <li id="liRevenueList">
                                <a href="@Url.Content("~/Revenue/RevenueList?country="+Convert.ToInt16(Session["BranchId"])+"&year="+year)">
                                    <i class="fa fa-money font20"></i>
                                    <span class="text ptop7">Assign Revenue</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="waves-effect open css10">
                        <a href="javascript:;">
                            <i class="ion ion-stats-bars"></i>
                            <span class="text">Dashboard</span>
                            <i class="arrow ion-chevron-left"></i>
                        </a>
                        <ul class="inner-drop list-unstyled">
                            <li id="liReportsAchievement" class="waves-effect">
                                <a href="@Url.Content("~/Reports/Achievement?year=" + year)">
                                    <i class="fa fa-table font20"></i>
                                    <span class="text ptop7">Performance Report</span>
                                </a>
                            </li>

                            <li id="liOperationalTransactionList">
                                <a href="@Url.Content("~/OperationalTransaction/OperationalTransactionReport?year="+year+"&country="+Convert.ToInt16(Session["BranchId"]))">
                                    <i class="fa fa-table font20"></i>
                                    <span class="text ptop0">Operational Transactions Report</span>
                                </a>
                            </li>
                            <li id="liReportsOperationaltransaction" class="waves-effect">
                                <a href="@Url.Content("~/Reports/Operationaltransaction?country=" + Convert.ToInt16(Session["BranchId"])+ "&month=" + month + "&year=" + year)">
                                    <i class="fa fa-table font20"></i>
                                    <span class="text ptop7"> Operational Transaction</span>
                                </a>
                            </li>
                            <li id="liReportsOperationalExpenses" class="waves-effect">
                                <a href="@Url.Content("~/Reports/OperationalExpenses?year=" + year)">
                                    <i class="fa fa-table font20"></i>
                                    <span class="text ptop7"> Operational Expenses</span>
                                </a>
                            </li>
                            <li id="liDashboardOperationaltransaction" class="waves-effect">
                                <a href="@Url.Content("~/Reports/DashboardOperationaltransaction?month=" + month + "&year=" + year)">
                                    <i class="fa fa-table font20"></i>
                                    <span class="text ptop0">Dashboard Operational Transaction</span>
                                </a>
                            </li>
                            <li id="liReportsTotalRevenue" class="waves-effect">
                                <a href="@Url.Content("~/Reports/TotalRevenue?year=" + year)">
                                    <i class="fa fa-table font20"></i>
                                    <span class="text ptop7">Total Revenue</span>
                                </a>
                            </li>
                            <li id="liReportsDashboard" class="waves-effect">
                                <a href="@Url.Content("~/Reports/Dashboard?country=" + Convert.ToInt16(Session["BranchId"])+ "&month=" + month + "&year=" + year)">
                                    <i class="fa fa-table font20"></i>
                                    <span class="text ptop0">DashBoard - Achievement YTD</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul> <!-- #end navigation -->
            </nav>

            <!-- nav-foot -->
            @*<footer class="nav-foot">
                    <p>
                        <b>Version</b> 2.3.8<br />
                        <strong>Copyright &copy; 2017 <a href="#">EZY EDU</a>.</strong>
                        <br />All rights reserved.
                    </p>
                </footer>*@

        </aside>
        <!-- #end main-navigation -->
        <!-- content-here -->
        <div class="content-container" id="content">
            <!-- dashboard page -->
            @RenderBody()
            <!-- #end dashboard page -->
        </div>

    </div> <!-- #end main-container -->
    <!-- theme settings -->
    <div class="site-settings clearfix hidden-xs" style="display:none;">
        <div class="settings clearfix">
            <div class="trigger ion ion-settings left" style="display:none;"></div>
            <div class="wrapper left" style="display:none;">
                <ul class="list-unstyled other-settings">
                    <li class="clearfix mb10">
                        <div class="left small">Nav Horizontal</div>
                        <div class="md-switch right">
                            <label>
                                <input type="checkbox" id="navHorizontal">
                                <span>&nbsp;</span>
                            </label>
                        </div>
                    </li>
                    <li class="clearfix mb10">
                        <div class="left small">Fixed Header</div>
                        <div class="md-switch right">
                            <label>
                                <input type="checkbox" id="fixedHeader">
                                <span>&nbsp;</span>
                            </label>
                        </div>
                    </li>
                    <li class="clearfix mb10">
                        <div class="left small">Nav Full</div>
                        <div class="md-switch right">
                            <label>
                                <input type="checkbox" id="navFull">
                                <span>&nbsp;</span>
                            </label>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <!-- #end theme settings -->
    <!-- Dev only -->
    <!-- Vendors -->
    <!--highcharts-->
    <script src="@Url.Content("~/Scripts/Charts/highcharts.js")"></script>
    <script src="@Url.Content("~/Scripts/Charts/highcharts-3d.js")"></script>
    <script src="@Url.Content("~/Scripts/Charts/exporting.js")"></script>

    <!--jqChart-->
    <script src="@Url.Content("~/Scripts/Charts/jquery-1.11.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Charts/jquery-ui-1.10.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Charts/jquery.jqChart.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Charts/jquery.jqRangeSlider.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Charts/jquery.mousewheel.js")"></script>
    <script src="@Url.Content("~/Scripts/Charts/prettify.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>


    @*<script src="@Url.Content("~/Scripts/Core/vendors.js")"></script>*@
    @*<script src="@Url.Content("~/Scripts/Core/d3.min.js")"></script>
        <script src="@Url.Content("~/Scripts/Core/c3.min.js")"></script>*@
    @*<script src="@Url.Content("~/Scripts/icheck.js")"></script>*@
    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.js")"></script>
    <script src="@Url.Content("~/Scripts/Core/screenfull.js")"></script>
    <script src="@Url.Content("~/Scripts/Core/perfect-scrollbar.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Core/waves.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Core/jquery.sparkline.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Core/jquery.easypiechart.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Core/app.js")"></script>
    <script src="@Url.Content("~/Scripts/Core/index.init.js")"></script>
    <script src="@Url.Content("~/Scripts/layout.js")"></script>
    @RenderSection("SectionScripts", false)
    <script type="text/javascript">
        $(document).on('keypress', '.numCss', function (evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode >= 48 && charCode <= 57) || charCode == 8)
                return true;
            else
                return false;
        });

        $(document).on('keypress', '.numCsspuls', function (evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode >= 48 && charCode <= 57) || charCode == 8 || charCode == 43)
                return true;
            else
                return false;
        });


        $(document).on('keypress', '.decimalCss', function (evt) {

            if (navigator.appName == "Netscape")
                Key = evt.charCode; //or e.which; (standard method)
            else
                Key = evt.keyCode;
            var character = String.fromCharCode(Key);
            //console.log(Key);

            if (Key == 0)
                return true;

            var newValue = this.value + character;
            if (isNaN(newValue) || parseFloat(newValue) * 10000 % 1 > 0) {
                evt.preventDefault();
                return false;
            }

        });
    </script>
</body>
</html>