@using System.Globalization;
@model IEnumerable<EZY.EDU.Contract.CourseSalesMasterViewModel>
@{
    ViewBag.Title = "CourseSalesMasterList";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ProductData = (List<EZY.EDU.Contract.EduProduct>)ViewData["ProductList"];


}
@functions {
    public string GetMonthById(int id)
    {
        var monthData = DateTimeFormatInfo.CurrentInfo.MonthNames.ToList();

        var month = id == 0 ? null : monthData[id - 1];
        return month;
    }

    public string CheckString(string remarks)
    {
        return remarks.Replace(System.Environment.NewLine, "<br/>");
    }

    public string ConvertToInt64dollar(decimal? data)
    {
        if (data != null && data > 0)
            return new HtmlString("$ " + Convert.ToInt64(data.Value)).ToString();
        else
            return null;
    }

}
@{
    var listMonths = new List<SelectListItem>()
                          {
                           new SelectListItem {Text = "All",   Value = "0"},
                           new SelectListItem {Text = "January",   Value = "1"},
                           new SelectListItem {Text = "February", Value = "2"},
                           new SelectListItem {Text = "March", Value = "3"},
                           new SelectListItem {Text = "April",   Value = "4"},
                           new SelectListItem {Text = "May", Value = "5"},
                           new SelectListItem {Text = "June", Value = "6"},
                           new SelectListItem {Text = "July",   Value = "7"},
                           new SelectListItem {Text = "August", Value = "8"},
                           new SelectListItem {Text = "September", Value = "9"},
                           new SelectListItem {Text = "October",   Value = "10"},
                           new SelectListItem {Text = "November", Value = "11"},
                           new SelectListItem {Text = "December", Value = "12"}
                       };
}
<style>
    .bordertop {
        border-top: 2px solid gray !important;
        border-bottom: 2px solid gray !important;
        color: #D73925;
        /*font-family: 'Bebas Neue'*/
    }

    .popover {
        color: black;
        min-width: 500px;
    }

    .popover-title {
        background-color: #F7F7F7;
        border-bottom: 1px solid #EBEBEB;
        border-radius: 5px 5px 0 0;
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
        margin: 0;
        padding: 8px 14px;
    }

    .center {
        text-align: center !important;
    }

    .action {
        width: 50px;
    }
</style>

<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <h4>Regional Leads List</h4>
                    <div class="box-tools">
                        <button type="button" class="btn btn-primary btn-sm waves-effect" data-toggle="modal" onclick="PrintRegionalLeadsList()"><i class="fa fa-print"></i>Print</button>

                        @if (Session["RoleCode"].ToString() == "ADMIN" || Session["RoleCode"].ToString() == "SALES" || Session["RoleCode"].ToString() == "REGIONAL")
                        {
                            <button type="button" class="btn btn-info btn-sm waves-effect" data-toggle="modal" onclick="navigateToDetail(-1)"><i class="fa fa-plus"></i>Add New Regional Lead</button>
                        }
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-1 control-label">
                                <span class="pull-right">Year</span>
                            </label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(x => x.FirstOrDefault().Year, Enumerable.Range(2014, 14).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control input-sm", onchange = "ChangeMonth();" })
                            </div>
                            <label class="col-md-1 control-label">
                                <span class="pull-right">Month</span>
                            </label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(x => x.FirstOrDefault().Month, listMonths, new { @class = "form-control input-sm", onchange = "ChangeMonth();" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="clearfix tabs-linearrow">
                                <ul class="nav nav-tabs">
                                    @for (int i = 0; i < ProductData.Count(); i++)
                                    {
                                        <li id="li_@i"><a href="#div_@i" data-toggle="tab" style="color:orangered">@ProductData[i].ProductName</a></li>
                                    }
                                </ul>
                                <hr />
                                <div class="tab-content">
                                    @for (int j = 0; j < ProductData.Count(); j++)
                                    {
                                        <div class="tab-pane" id="div_@j">
                                            <div class="clearfix">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="table-responsive">
                                                            <table class="table-bordered tblstyle" id="tblRegional_@j" style="white-space:nowrap;width:100%">
                                                                <thead style="cursor:pointer">
                                                                    <tr>
                                                                        <td style='width:80px;'>#Action</td>
                                                                        <td style='width:100px;'>Country</td>
                                                                        <td style='width:80px;'>Product Name</td>
                                                                        <td style='width:200px;'>Course Name</td>
                                                                        <td style='width:80px;'>No Of Days</td>
                                                                        <td style='width:80px;'>Month</td>
                                                                        <td style='width:80px;'>Start Dt.</td>
                                                                        <td style='width:80px;'>End Dt.</td>
                                                                        <td style='width:80px;'>Min. Reg</td>
                                                                        <td style='width:80px;'>Leads on hand</td>
                                                                        <td style='width:80px;'>Registered</td>
                                                                        <td style='width:80px;'>Avl. Seats</td>
                                                                        <td style='width:80px;'>Reg. Closing Dt.</td>
                                                                        <td style='width:80px;'>Revenue</td>
                                                                        <td style='width:80px;'>Created Dt.</td>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model.Where(x => x.ProductName == ProductData[j].ProductName))
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @if (Session["RoleCode"].ToString() == "ADMIN" || Session["RoleCode"].ToString() == "SALES" || Session["RoleCode"].ToString() == "REGIONAL")
                                                                                {
                                                                                    <button class="btn btn-xs btn-success waves-effect" onclick="navigateToDetail(@item.Id)"><i class="fa fa-pencil-square-o" style="padding-left: 5px;"></i></button>
                                                                                }
                                                                                @if (Session["RoleCode"].ToString() == "ADMIN" || Session["RoleCode"].ToString() == "REGIONAL" || (Session["RoleCode"].ToString() == "SALES" && Session["UserID"].ToString() == "SALESSG"))
                                                                                {
                                                                                <button class="btn btn-xs btn-danger waves-effect" onclick="DeleteCourseSalesMaster(@item.Id)"><i class="fa fa-trash-o" style="padding-left: 5px;"></i></button>
                                                                                }
                                                                                @if (item.IsConfirm == true)
                                                                                {
                                                                                    <span class="text-green"><i class="fa fa-circle" style="font-size:12pt; "></i></span>
                                                                                }
                                                                                else if (item.IsDrop == true)
                                                                                {
                                                                                    <span class="text-red"><i class="fa fa-circle" style="font-size:12pt;"></i></span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span class="text-gray"><i class="fa fa-circle" style="font-size:12pt;"></i></span>
                                                                                }
                                                                            </td>
                                                                            <td>
                                                                                @item.CountryName
                                                                            </td>
                                                                            <td>
                                                                                @item.ProductName
                                                                            </td>
                                                                            <td>
                                                                                @item.CourseName
                                                                            </td>
                                                                            <td class="center">
                                                                                @item.NoOfDays
                                                                            </td>
                                                                            <td>
                                                                                @GetMonthById(item.Month == null ? 0 : item.Month.Value)
                                                                            </td>
                                                                            <td class="center">
                                                                                @(item.StartDate == null ? null : item.StartDate.Value.ToString("dd/MM/yyyy"))
                                                                            </td>
                                                                            <td class="center">
                                                                                @(item.EndDate == null ? null : item.EndDate.Value.ToString("dd/MM/yyyy"))
                                                                            </td>
                                                                            <td class="center">
                                                                                @item.MinimumReg
                                                                            </td>
                                                                            <td class="center">
                                                                                @if (string.IsNullOrWhiteSpace(item.LeadsOnHeadRemarks))
                                                                                {
                                                                                    <span>@item.LeadsOnHead</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <a style="cursor:pointer;text-decoration:underline;">
                                                                                        <span onmouseover="mouseover(this)" onmouseout="mouseleave(this)" data-placement="top" data-toggle="popover" data-html="true" data-title="Leads on hand Details" data-content="@CheckString(item.LeadsOnHeadRemarks)" data-original-title="" title="">@item.LeadsOnHead</span>
                                                                                    </a>
                                                                                }
                                                                            </td>
                                                                            <td class="center">
                                                                                @if (string.IsNullOrWhiteSpace(item.RegisteredRemarks))
                                                                                {
                                                                                    <span>@item.Registered</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <a style="cursor:pointer;text-decoration:underline;">
                                                                                        <span data-placement="top" data-toggle="popover" data-html="true" data-title="Leads on hand Details" data-content="@CheckString(item.RegisteredRemarks)"
                                                                                              onmouseover="mouseover(this)" onmouseout="mouseleave(this)" data-original-title="" title="">@item.Registered</span>
                                                                                        </a>
                                                                                    }
                                                                            </td>
                                                                            <td class="center">
                                                                                @item.AvailableSeats
                                                                            </td>
                                                                            <td class="center">
                                                                                @(item.RegClosingDate == null ? null : item.RegClosingDate.ToString("dd/MM/yyyy"))
                                                                            </td>
                                                                            <td class="center">
                                                                                @ConvertToInt64dollar(item.Revenue)
                                                                            </td>
                                                                            <td class="center">
                                                                                @(item.CreatedOn == null ? null : item.CreatedOn.ToString("dd/MM/yyyy"))
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr class="bordertop">
                                                                        <td colspan="2">Summary</td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="center"></td>
                                                                        <td></td>
                                                                        <td class="center"></td>
                                                                        <td class="center"></td>
                                                                        <td class="center"></td>
                                                                        <td class="center"></td>
                                                                        <td class="center"></td>
                                                                        <td class="center"></td>
                                                                        <td class="center"></td>
                                                                        <td class="center"></td>
                                                                        <td class="center"></td>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">

</div>
<style type="text/css">
    .select2 {
        width: 121px !important;
    }


    .tblstyle {
        font-weight: bold;
    }

        .tblstyle td {
            padding: 2px;
        }

        .tblstyle thead {
            background-color: powderblue;
            font-weight: bold;
            color: blue;
        }
</style>

@using (Html.BeginForm("DeleteCourseSalesMaster", "Master", FormMethod.Post, new { id = "frmDelete", name = "frmDelete" }))
{
    <input type="hidden" id="id" name="id" />
    <input type="hidden" id="month" name="month" />
    <input type="hidden" id="year" name="year" />
}
@section SectionScripts{
    <script type="text/javascript">
        $(function () {
            $("#div_0").addClass('active');
            $("#li_0").addClass('active');
            $('#liRegionalLeads').addClass('active');

            for (var j = 0; j < @ProductData.Count(); j++) {
                $('#tblRegional_' + j).dataTable({
                    "bPaginate": false,

                    footerCallback: function (row, data, start, end, display) {
                        var api = this.api();
                        // Remove the formatting to get integer data for summation
                        var intVal = function (i) {

                            var amt = typeof i === 'string' ?
                                i.replace(/[\$,]/g, '') * 1 :
                                typeof i === 'number' ?
                                    i : 0;
                            return amt;

                        };

                        // Total over this page
                        if (api.column(13).data().length) {
                            var pageTotal13 = api
                                .column(13, { page: 'current' })
                                .data()
                                .reduce(function (a, b) {
                                    var x = intVal(a) + intVal(b);
                                    return intVal(a) + intVal(b);
                                }, 0);
                        }
                        else { pageTotal13 = 0 };

                        // Update footer
                        $(api.column(13).footer()).html(
                            '$ ' + pageTotal13
                        );
                    }
                });
            }

            $('input.global_filter').on('keyup click', function () {
                filterGlobal();
            });

            $('input.column_filter').on('keyup click', function () {
                filterColumn($(this).parents('tr').attr('data-column'));
            });
        });

        function filterGlobal() {
            for (var j = 0; j < @ProductData.Count(); j++)
            {
                $('#tblRegional_' + j).DataTable().search(
                    $('#global_filter').val(),
                    $('#global_regex').prop('checked'),
                    $('#global_smart').prop('checked')
                ).draw();
            }
        }

        function filterColumn(i) {
            for (var j = 0; j < @ProductData.Count(); j++)
            {
                $('#tblRegional_' + j).DataTable().column(i).search(
                    $('#col' + i + '_filter').val(),
                    $('#col' + i + '_regex').prop('checked'),
                    $('#col' + i + '_smart').prop('checked')
                ).draw();
            }
        }

        function navigateToDetail(id) {
            var month = $('#Month').val();
            var year = $('#Year').val();
            location.href = '@Url.Content("~/Master/CourseSalesMaster?id=")'+id+'&month=' + month + '&year=' + year;
        }

         function ChangeMonth() {
            window.location = '@Url.Action("CourseSalesMasterList", "Master", new { month = "", year = "" })' + '?month=' + $('#Month').val() + "&year=" + $('#Year').val();
        };

        function PrintRegionalLeadsList() {

            var country = null;
            @if (Session["AccessRights"].ToString() == "false")
            {
            <text>
                country = @Session["BranchId"].ToString();
            </text>
            }

            var year = $('#Year').val();
            var month = $('#Month').val() == 0 ? null : $('#Month').val();
            debugger;
            $.ajax({
                url: '@Url.Content("~/Report/RegionalLeadsReport?year=")' + year + '&month=' + month + '&country=' + country,
                method: 'get',
                contentType: 'text/html',
                success: function (html) {
                    $('#myModal').html(html);
                    $('#myModal').modal('show');
                },
                error: function (err) {
                }
            });
        }

        function DeleteCourseSalesMaster(Id) {
            swal({
                title: "Are you sure?",
                text: "Do you want delete?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
                function () {
                    $('#id').val(Id);
                    $('#month').val($('#Month').val());
                    $('#year').val($('#Year').val());
                    $('#frmDelete').submit();
                    swal("Deleted!", "Your Regional Leads record has been deleted.", "success");

                });
        }

        function mouseleave(el) {
            $(el).popover("hide");
        }

        function mouseover(el) {
            $(el).popover("show");
        }
    </script>
}