@using System.Globalization;
@model IEnumerable<EZY.EDU.Contract.CourseSalesMasterViewModel>
@{
    ViewBag.Title = "CourseSalesMasterList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@functions {
    public string GetMonthById(int id)
    {
        var monthData = DateTimeFormatInfo.CurrentInfo.MonthNames.ToList();

        var month = id == 0 ? null : monthData[id - 1];
        return month;
    }

    public string CheckString(string remarks)
    {
        return remarks.Replace(System.Environment.NewLine, "<br/>");
    }
}
<style>
    .popover {
        color: black;
        min-width: 500px;
    }

    .popover-title {
        background-color: #F7F7F7;
        border-bottom: 1px solid #EBEBEB;
        border-radius: 5px 5px 0 0;
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
        margin: 0;
        padding: 8px 14px;
    }

    .center {
        text-align: center !important;
    }

    .action {
        width: 50px;
    }
</style>
@{
    WebGrid grid = new WebGrid(Model, rowsPerPage: 10, ajaxUpdateContainerId: "grid");
    grid.Pager(WebGridPagerModes.All);
}
<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <h4>Regional Leads List</h4>
                    <div class="box-tools">
                        @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                        {
                            <button type="button" class="btn btn-info btn-sm waves-effect" data-toggle="modal" onclick="location.href = '@Url.Content("~/Master/CourseSalesMaster?Id=-1")'"><i class="fa fa-plus"></i>Add New Regional Lead</button>
                        }
                    </div>
                </div>
                <div class="box-body">
                    <div class="row" style="overflow-x: scroll; width: 100%">
                        @grid.GetHtml(
                                columns: grid.Columns(
                                grid.Column("CountryName", "Country", canSort: true),
                                grid.Column("ProductName", "Product Name", canSort: true,
                                format:
                                @<text>
                                    <div style='width:110px;'>
                                        @item.ProductName
                                    </div>
                                </text>),
                                    grid.Column("CourseName", "Course Name", canSort: true,
                                format:
                                @<text>
                                    <div style='width:150px;'>
                                        @item.CourseName
                                    </div>
                                </text>),
                                grid.Column("NoOfDays", "No Of Days", canSort: true,
                                format:
                                @<text>
                                    <div style='width:80px;'>
                                        @item.NoOfDays
                                    </div>
                                </text>, style: "center"),
                                grid.Column("Month", "Month", format: @<text> @GetMonthById(item.Month == null ? 0 : item.Month + 1) </text>, canSort: true),
                                grid.Column("StartDate", "Start Dt", format: @<text> @(item.StartDate == null ? null : item.StartDate.ToString("dd/MM/yyyy")) </text>, canSort: true, style: "center"),
                                grid.Column("EndDate", "End Dt", format: @<text> @(item.EndDate == null ? null : item.EndDate.ToString("dd/MM/yyyy")) </text>, canSort: true, style: "center"),

                                grid.Column("MinimumReg", "Min. Reg", canSort: true,
                                format:
                                @<text>
                                    <div style='width:60px;'>
                                        @item.NoOfDays
                                    </div>
                                </text>, style: "center"),

                                grid.Column("LeadsOnHead", "Leads on hand",
                                format:
                                @<text>
                                    <div style='width:110px;'>
                                        @if (string.IsNullOrWhiteSpace(item.LeadsOnHeadRemarks))
                                    {
                                            <span>@item.LeadsOnHead</span>
                                        }
                                        else
                                        {
                                            <a style="cursor:pointer;text-decoration:underline;">
                                                <span class="pop" data-placement="top" data-toggle="popover" data-html="true" data-title="Leads on hand Details" data-content="@(item.LeadsOnHeadRemarks)" data-original-title="" title="">@item.LeadsOnHead</span>
                                            </a>
                                        }
                                    </div>
                                </text>, canSort: true, style: "center"),
                                grid.Column("Revenue", "Revenue", format: @<text> @(item.Revenue > 0 ? item.Revenue.ToString("0.00") : "N/A") </text>, canSort: true, style: "center"),
                                grid.Column("Registered", "Registered",
                                format:
                                @<text>
                                    @if (string.IsNullOrWhiteSpace(item.RegisteredRemarks))
                                    {
                                        <span>@item.Registered</span>
                                    }
                                    else
                                    {
                                        <a style="cursor:pointer;text-decoration:underline;">
                                            <span class="pop" data-placement="top" data-toggle="popover" data-html="true" data-title="Leads on hand Details" data-content="@(item.RegisteredRemarks)" data-original-title="" title="">@item.Registered</span>
                                        </a>
                                    }
                                </text>, canSort: true, style: "center"),

                                grid.Column("AvailableSeats", "Avl. Seats", canSort: true,
                                format:
                                @<text>
                                    <div style='width:70px;'>
                                        @item.AvailableSeats
                                    </div>
                                </text>, style: "center"),

                                grid.Column("RegClosingDate", "Reg. Closing Dt.", canSort: true,
                                format:
                                @<text>
                                    <div style='width:110px;'>
                                        @(item.RegClosingDate == null ? null : item.RegClosingDate.ToString("dd/MM/yyyy"))
                                    </div>
                                </text>, style: "center"),
                                
                                grid.Column("", "#Action", canSort: false,
                                format:
                                @<text>
                                    <div style='width:110px;'>
                                        @if (item.IsConfirm == true)
                                        {
                                            <span class="text-green"><i class="fa fa-circle" style="font-size:12pt; "></i></span>
                                        }
                                        else if (item.IsDrop == true)
                                        {
                                            <span class="text-red"><i class="fa fa-circle" style="font-size:12pt;"></i></span>
                                        }
                                        else
                                        {
                                            <span class="text-gray"><i class="fa fa-circle" style="font-size:12pt;"></i></span>
                                        }

                                        @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                        {
                                            <button class="btn btn-xs btn-success waves-effect" style="padding-left: 5px;margin-left: 6px;" onclick="location.href = '@Url.Content("~/Master/CourseSalesMaster?Id=" + item.Id)'"><i class="fa fa-pencil-square-o" style="padding-left: 5px;"></i></button>
                                            <button class="btn btn-xs btn-danger waves-effect" style="padding-left: 5px;margin-left: 6px;" onclick="DeleteCourseSalesMaster(@item.Id)"><i class="fa fa-trash-o" style="padding-left: 5px;"></i></button>
                                        }
                                    </div>
                                </text>)),
                                tableStyle: "table")
                    </div>



                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">@grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-sm")</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm("DeleteCourseSalesMaster", "Master", FormMethod.Post, new { id = "frmDelete", name = "frmDelete" }))
{
    <input type="hidden" id="id" name="id" />
}
@section SectionScripts{

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover({
                placement: 'top',
                trigger: 'hover'
            });

            $('#tblCourseSalesMaster').DataTable({
                responsive: true
            });
        });

        function DeleteCourseSalesMaster(Id) {

            if (confirm("Are you sure, do you want delete?")) {
                $('#id').val(Id);
                $('#frmDelete').submit();
            }

        }

        $(".pop").popover({ trigger: "manual", html: true, animation: false })
            .on("mouseenter", function () {
                var _this = this;
                $(this).popover("show");
                $(".popover").on("mouseleave", function () {
                    $(_this).popover('hide');
                });
            }).on("mouseleave", function () {
                var _this = this;
                setTimeout(function () {
                    if (!$(".popover:hover").length) {
                        $(_this).popover("hide");
                    }
                }, 300);
            });
    </script>
}