@model EZY.EDU.Contract.Course
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@ViewBag.Title</h4>
        </div>
        <div class="modal-body" id="ProductCategoryModalBody">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.IsActive)
            <input type="hidden" id="cname" name="cname" />
            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label col-md-offset-1">
                        <span>Country</span>
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.Country,
                    new SelectList((List<EZY.EDU.Contract.Branch>)ViewData["CountryData"], "BranchID", "BranchName"),
                    "Select Country", new { @class = "form-control ", onchange = "CountryChange(this);" })
                    </div>
                </div>
            </div>
            <div class="row css10">
                <div class="form-group">
                    <label class="col-md-3 control-label col-md-offset-1">
                        <span>Product</span>
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.Product,
                    new SelectList((List<EZY.EDU.Contract.EduProduct>)ViewData["ProductData"], "Id", "ProductName"),
                    "Select Product", new { @class = "form-control", onchange = "ProductChange(this);" })
                    </div>
                </div>
            </div>
            <div class="row css10" id="existCourse">
                <div class="form-group">
                    <label class="col-md-3 control-label col-md-offset-1">
                        <span>Course Name</span>
                    </label>
                    <div class="col-md-4">
                        @if (Model.Id == -1)
                        {
                            @Html.DropDownListFor(x => x.CourseName,
                                Enumerable.Empty<SelectListItem>(),
                                "Select Course",
                                new { @class = "form-control", disabled = "disabled", onchange = "CourseChange(this)" })
                        }
                        else
                        {
                            @Html.DropDownListFor(x => x.CourseName,
                                                 new SelectList((List<EZY.EDU.Contract.Course>)ViewData["CourseData"], "Id", "CourseName"),
                                             "Select Course",
                                        new { @class = "form-control", onchange = "CourseChange(this)" })
                        }
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-info btn-xs waves-effect" onclick="enableCourseText()"><i class="fa fa-plus" style="padding-left: 5px;"></i>Add New Course</button>

                    </div>
                </div>
            </div>
            <div class="row css10" id="newCourse">
                <div class="form-group">
                    <label class="col-md-3 control-label col-md-offset-1">
                        <span>New Course Name</span>
                    </label>
                    <div class="col-md-7">
                        @Html.TextAreaFor(x => x.CourseDescription,
                    new { @class = "form-control", placeholder = "Course Name" })@*, onblur = "ValidateCourseName(true)"*@
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-danger btn-xs waves-effect" onclick="disableCourseText()"><i class="fa fa-times" style="padding-left: 5px;"></i></button>
                </div>
            </div>
        </div>
        <div class="row css10">
            <div class="form-group">
                <label class="col-md-3 control-label col-md-offset-1">
                    <span>No. Of Days</span>
                </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(x => x.NoOfDays, Enumerable.Range(0, 11).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Select", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row css10">
            <div class="form-group">
                <label class="col-md-3 control-label col-md-offset-1">
                    <span>Public Price</span>
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.PublicPrice,
                    new { @class = "form-control numCss", placeholder = "Public Price", @Value = Convert.ToInt64(Model.PublicPrice) })
                </div>
            </div>
        </div>
        <div class="row css10">
            <div class="form-group">
                <label class="col-md-3 control-label col-md-offset-1">
                    <span>Private Price</span>
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.PrivatePrice,
                    new { @class = "form-control numCss", placeholder = "Private Price", @Value = Convert.ToInt64(Model.PrivatePrice) })
                </div>
            </div>
        </div>

        <div class="modal-footer css10">
            <button type="button" onclick="SaveCourse()" class="btn btn-success btn-frmt btn-sm"> <i class="fa fa-floppy-o"></i>&nbsp;Save</button>
            <button type="button" class="btn btn-default btn-frmt btn-sm" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
        </div>
    </div>
</div>

</div>
<style type="text/css">
    .select2 {
     width: 172px !important; 
}
</style>
<script type="text/javascript">
    $(function () {
        $('#newCourse').hide();
        $("select").select2();
    });
   
    $('select').select2({}).on("change", function (e) {
        $(this).valid()
    });
    function disableCourseText() {
        $('#CourseDescription').val('');
        $('#newCourse').hide();
        $('#existCourse').show();
    }
    function enableCourseText() {
        $('#CourseName').val('');
        $('#newCourse').show();
        $('#existCourse').hide();
    }
      @*  @if(Model.Id != -1)
        {
            <text>
        $(function () {
            $('#CourseName, #Country, #Product').attr('disabled', 'disabled');
        });
            </text>
        }*@
</script>