@model IEnumerable<EZY.EDU.Contract.EduProduct>

@{
    WebGrid grid = new WebGrid(Model, rowsPerPage: 10, ajaxUpdateContainerId: "grid");
    grid.Pager(WebGridPagerModes.All);
}
<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">

            <div class="row" style="margin-top:20px;">
            </div>
            <div class="box center" id="grid">
                <div class="box-header">
                    <h4>Product List</h4>
                    <div class="box-tools">
                        @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                        {
                            <button class="btn btn-info btn-sm waves-effect" type="button" onclick="AddEduProduct();"><i class="fa fa-plus"></i> Add New Product</button>
                        }
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        @grid.GetHtml(
                                columns: grid.Columns(
                                grid.Column("ProductName", "Product Name", canSort: true),
                                grid.Column("", "#Action", canSort: false,
                                format:
                                @<text>
                                    @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                    {
                                        <button class="btn btn-xs btn-success waves-effect" onclick="EditEduProduct(@item.Id)"><i class="fa fa-pencil-square-o" style="padding-left: 5px;"></i></button>
                                        <button class="btn btn-xs btn-danger waves-effect" onclick="DeleteProductCategory(@item.Id)"><i class="fa fa-trash-o" style="padding-left: 5px;"></i></button>
                                    }
                                </text>)),
                                tableStyle: "table")
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-right">@grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-sm")</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm("DeleteEduProduct", "Master", FormMethod.Post, new { id = "frmDelete", name = "frmDelete" }))
{
    <input type="hidden" id="id" name="id" />
}
@using (Html.BeginForm("SaveEduProduct", "Master", FormMethod.Post, new { id = "frmEduProduct", name = "frmEduProduct", autocomplete = "off" }))
{
    <div id="myModal" class="modal fade" role="dialog">

    </div>
}
@section SectionScripts{
    <script type="text/javascript">
        $(function () {
            debugger;
            $('#liEduProductList').addClass('active');
        });

        function AddEduProduct() {
            $.ajax({
                url: '@Url.Content("~/Master/EduProduct")',
                method: 'get',
                contentType: 'text/html',
                success: function (html) {
                    debugger;
                    $('#myModal').html(html);
                    $('#myModal').modal('show');
                    $('#error').hide();
                },
                error: function (err) {

                }
            });
        }
        function DeleteProductCategory(Id) {
            //if (confirm("Are you sure, do you want delete?")) {
            //    $('#id').val(Id);
            //    $('#frmDelete').submit();
            //}
            swal({
                title: "Are you sure?",
                text: "Do you want delete?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
            function () {
                $('#id').val(Id);
                $('#frmDelete').submit();
                swal("Deleted!", "Your product has been deleted.", "success");

            });
        }
        function EditEduProduct(Id) {
            $.ajax({
                url: '@Url.Content("~/Master/EduProduct?Id=")' + Id,
                method: 'get',
                contentType: 'text/html',
                success: function (html) {
                    $('#myModal').html(html);
                    $('#myModal').modal('show');
                    $('#error').hide();
                },
                error: function (err) {

                }
            });
        }

        debugger;
        $('#frmEduProduct').validate({
            rules: {
                ProductName:
                    {
                        required: true
                    }
            }
        })
        function SaveEduProduct() {
            debugger;
            if ($('#frmEduProduct').valid()) {
                $('#frmEduProduct').submit();
            }
        };
        function ValidateByProductName() {
            var def = $.Deferred();
            $.ajax({
                url: '@Url.Content("~/Master/IsEduProductExists?productName=")' + $('#ProductName').val(),
                method: 'get',
                contentType: 'text/html',
                success: function (result) {
                    def.resolve(result);
                }
            });
            return def.promise();
        };


        function ValidateProductName(isBlur) {
            var promise = ValidateByProductName();
            $.when(promise).done(function (result) {
                if (isBlur) {
                    if (result == "True") {
                        debugger;
                        $('#error').show();
                        //alert("Product already exists. Please re-enter new product.");
                        $('#ProductName').val('');
                    }
                    else {
                        $('#error').hide();
                    }
                }
                else {
                    return result
                }
            });
        };

    </script>
}

<style>
    .center {
    margin: auto;
    width: 35%;
    border: 3px solid gray;
    padding: 10px;
    border-radius: 20px;
}

    .Grid-Footer > td {
        padding-top: 10px;
        text-align: right;
        margin-bottom: 10px;
    }

        .Grid-Footer > td > a {
            background: #fff;
            display: inline-block;
            border-radius: 1px;
            padding: 6px 12px;
            font-size: 16px;
            cursor: pointer;
            border: 2px solid #eeeeee;
        }

            .Grid-Footer > td > a:hover {
                color: #3f51b5;
                text-decoration: none;
            }
</style>