@using Newtonsoft.Json;

@model EDU.Web.ViewModels.Registration.RegistrationVM
@{
    ViewBag.Title = "Registrations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    WebGrid grid = new WebGrid(Model.registration, rowsPerPage: 16);
    grid.Pager(WebGridPagerModes.All);

    var Student = Model.trainingconfDetail.NoOfStudents;
    var reg = Model.registration.Count();

    var remainReg = Student - reg;

    var myArray = (List<decimal?>)ViewData["Summary"];
}
<style>
    .centerbox {
        margin: auto;
        width: 100%;
        border: 1px solid gray;
        border-radius: 20px;
    }

    .center {
        text-align: center !important;
    }

    .right {
        text-align: right !important;
    }

    .popover {
        color: black;
        min-width: 300px;
    }

    .popover-title {
        background-color: #F7F7F7;
        border-bottom: 1px solid #EBEBEB;
        border-radius: 5px 5px 0 0;
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
        margin: 0;
        padding: 8px 14px;
    }

    .bordertop {
        border-top: 2px solid gray !important;
        border-bottom: 2px solid gray !important;
        color: #D73925;
        /*font-family: 'Bebas Neue'*/
    }

    .tablescroll {
        display: block;
        overflow-x: scroll;
        width: 100%;
        min-height: 200px;
        position: relative;
        z-index: 1;
    }
    .bootstrap-datetimepicker-widget {
        bottom: auto !important;
        position: absolute !important;
        z-index: 5000 !important;
    }
</style>
@functions {
    public string GetPaymentType(short id)
    {
        if (id == 1)
            return "CASH";
        else if (id == 2)
            return "CHEQUE";
        else if (id == 3)
            return "BANK TRANSFER";
        else
            return "";
    }
    public string ConvertToInt64percent(decimal? data)
    {
        if (data != null && data > 0)
            return new HtmlString(Convert.ToInt64(data.Value) + "%").ToString();
        else
            return null;
    }
    public string ConvertToInt64dollar(decimal? data)
    {
        if (data != null && data != 0)
            return new HtmlString("$ " + Convert.ToInt64(data)).ToString();
        else
            return null;
    }
    public string ConvertToInt64dollarBalance(decimal? data)
    {
        if (data != null && data != 0)
            return new HtmlString("$ " + Convert.ToInt64(data)).ToString();
        else
            return "$ 0";
    }
    public string PaymentDetails(DateTime? date, short? type, string no)
    {
        string x = "";
        x = "Payment Date : " + (date == null ? "" : date.Value.ToString("dd/MM/yyyy")) + "</Br>";
        //if (type != null)
        //{
        //    if (type == 1)
        //        x = "Payment Date : " + (date == null ? "" : date.Value.ToString("dd/MM/yyyy")) + "</Br>" +
        //        "Payment Type : Cash";
        //    else if (type == 2)
        //        x = "Payment Date : " + (date == null ? "" : date.Value.ToString("dd/MM/yyyy")) + "</Br>" +
        //            "Payment Type : Cheque" + "</Br>" +
        //            "Cheque No : " + (no == null ? "" : no);
        //    else if (type == 3)
        //        x = "Payment Date : " + (date == null ? "" : date.Value.ToString("dd/MM/yyyy")) + "</Br>" +
        //            "Payment Type : Bank Transfer" + "</Br>" +
        //            "Transaction ID : " + (no == null ? "" : no);
        //}
        return x;
    }
}
@{
    var listMonths = new List<SelectListItem>()
                                          {
                                           new SelectListItem {Text = "All",   Value = "0"},
                                           new SelectListItem {Text = "January",   Value = "1"},
                                           new SelectListItem {Text = "February", Value = "2"},
                                           new SelectListItem {Text = "March", Value = "3"},
                                           new SelectListItem {Text = "April",   Value = "4"},
                                           new SelectListItem {Text = "May", Value = "5"},
                                           new SelectListItem {Text = "June", Value = "6"},
                                           new SelectListItem {Text = "July",   Value = "7"},
                                           new SelectListItem {Text = "August", Value = "8"},
                                           new SelectListItem {Text = "September", Value = "9"},
                                           new SelectListItem {Text = "October",   Value = "10"},
                                           new SelectListItem {Text = "November", Value = "11"},
                                           new SelectListItem {Text = "December", Value = "12"}
                                       };
}
@functions {
    public string TypeColumn(bool isPrivate, bool isPublic, bool islvc)
    {
        if (isPrivate)
            return "Private";
        else if (isPublic)
            return "Public";
        else if (islvc)
            return "LVC/TOD";
        return "";
    }
}
<div class="page page-forms-elements">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <div style="display:-webkit-inline-box">
                        <h4> Registrations List</h4>
                    </div>
                    <div class="box-tools">

                    </div>
                </div>
                <div class="box-body">
                    <form id="frmregistration">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Year</span>
                                </label>
                                <div class="col-md-1">
                                    @Html.DropDownListFor(x => x.Year, Enumerable.Range(2014, 14).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control input-sm", onchange = "ChangeMonth();" })
                                </div>
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Month</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(x => x.Month, listMonths, new { @class = "form-control input-sm", onchange = "ChangeMonth();" })
                                </div>
                                <label class="col-md-1 control-label">
                                    <span>Event No.</span>
                                </label>
                                <div class="col-md-2">
                                    <input type="hidden" id="eventid" name="eventid" />
                                    @Html.DropDownListFor(x => x.registration.FirstOrDefault().TrainingConfirmationID,
                                 new SelectList(Model.trainingconf, "TrainingConfirmationID", "TrainingConfirmationID"),
                                 "Select Event No.", new { @class = "form-control input-sm", onchange = "ChangeEventID(this);" })
                                </div>
                                <div class="col-md-2">
                                    @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                    {
                                    <button type="button" id="addbtn" class="btn btn-info btn-sm waves-effect" data-toggle="modal" onclick="navigatetoDetail()"><i class="fa fa-pencil"></i>Update Registration Info</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row css10">
                        <div id="TrainingDetails" class="col-md-12">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-1">
                                        <label class="control-label">Product:&nbsp;&nbsp;&nbsp;&nbsp;    </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm" readonly value="@(Model.trainingconfDetail != null ? Model.trainingconfDetail.ProductName : "")" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="control-label">Course:&nbsp;&nbsp;  </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm" readonly value="@(Model.trainingconfDetail != null ? Model.trainingconfDetail.CourseName : "")" />
                                    </div>
                                    <div class="col-md-1" style="white-space:nowrap">
                                        <label class="control-label">Trainer Name:&nbsp;&nbsp;   </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm" readonly value="@(Model.trainingconfDetail != null && Model.trainingconfDetail.TrianerName != null ? Model.trainingconfDetail.TrianerName : "")" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="control-label">Country:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm" readonly value="@(Model.trainingconfDetail != null && Model.trainingconfDetail.CountryName != null ? Model.trainingconfDetail.CountryName : "")" />
                                    </div>
                                </div>
                            </div>
                            <div class="row css10">
                                <div class="form-group">
                                    <div class="col-md-1 ">
                                        <label class="control-label">Start Date:&nbsp;&nbsp;</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm" readonly value="@(Model.trainingconfDetail != null && Model.trainingconfDetail.StartDate != null ? Model.trainingconfDetail.StartDate.Value.ToString("dd/MM/yyyy") : "")" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="control-label">End Date:&nbsp;&nbsp;    </label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm" readonly value="@(Model.trainingconfDetail != null && Model.trainingconfDetail.EndDate != null ? Model.trainingconfDetail.EndDate.Value.ToString("dd/MM/yyyy") : "")" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="control-label" style="white-space:nowrap">Total # of days:</label>
                                    </div>
                                    <div class="col-md-1">
                                        <input type="text" class="form-control input-sm" readonly value="@(Model.trainingconfDetail != null ? Model.trainingconfDetail.TotalNoOfDays.ToString() : "")" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="control-label">Type:</label>
                                    </div>
                                    <div class="col-md-1">
                                        <input type="text" class="form-control input-sm" readonly value="@(Model.trainingconfDetail != null ? TypeColumn(Model.trainingconfDetail.Private, Model.trainingconfDetail.Public, Model.trainingconfDetail.LVC) : "")" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="control-label " style="white-space:nowrap">No of Students:</label>
                                    </div>
                                    <div class="col-md-1">
                                        <input type="text" class="form-control input-sm" readonly value="@(Model.trainingconfDetail != null ? Model.trainingconfDetail.NoOfStudents.ToString() : "")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    @using (Html.BeginForm("SaveRegistrationPublicList", "Registration", FormMethod.Post, new { id = "frmRegistrationPublic", name = "frmRegistrationPublic", autocomplete = "off" }))
                    {
                        <div class="row css25" id="webGridPublicEdit" style="display:none">
                            <div class="col-sm-12">
                                <table class="table tablescroll">
                                    <thead>
                                        <tr>
                                            <td class="center"><b>S No.</b></td>
                                            <td class="center"><b>Student Name</b></td>
                                            <td class="center"><b>Email Id</b></td>
                                            <td class="center"><b>Contact</b></td>
                                            <td class="center"><b>Company/Individual</b></td>
                                            <td class="center"><b>Amount</b></td>
                                            <td class="center"><b>VAT/TAX %</b></td>
                                            <td class="center"><b>VAT/TAX Amount</b></td>
                                            <td class="center"><b>WHT %</b></td>
                                            <td class="center"><b>WHT Amount</b></td>
                                            <td class="center"><b>Payment #1</b></td>
                                            <td class="center"><b>Date</b></td>
                                            <td class="center"><b>Payment #2</b></td>
                                            <td class="center"><b>Date</b></td>
                                            <td class="center"><b>Payment #3</b></td>
                                            <td class="center"><b>Date</b></td>
                                            <td class="center"><b>Total Amount</b></td>
                                            <td class="center"><b>Balance Amount</b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.registration.Count(); i++)
                                        {
                                            @Html.HiddenFor(x => x.registration[i].RegistrationId)
                                            @Html.HiddenFor(x => x.registration[i].TrainingConfirmationID)
                                            <tr>
                                                <td style="min-width:35px;">@(i + 1).</td>
                                                <td style="min-width:200px;">
                                                    @Html.TextBoxFor(x => x.registration[i].StudentName, new { @class = "form-control input-sm" })
                                                </td>
                                                <td style="min-width:150px;">
                                                    @Html.TextBoxFor(x => x.registration[i].Email, new { @class = "form-control input-sm",@type="email" })
                                                </td>
                                                <td style="min-width:100px;">
                                                    @Html.TextBoxFor(x => x.registration[i].Contact, new { @maxlength = "15", @class = "form-control input-sm numCsspuls" })
                                                </td>
                                                <td style="min-width:100px;">
                                                    @Html.TextBoxFor(x => x.registration[i].CompanyName, new { @class = "form-control input-sm" })
                                                </td>
                                                <td style="min-width:100px;">
                                                    @Html.TextBoxFor(x => x.registration[i].Amount, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "calculateTotalAmount(this)" })
                                                </td>
                                                <td style="min-width:65px;">
                                                    @Html.TextBoxFor(x => x.registration[i].VATPercent, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "calculateTotalAmount(this)" })
                                                </td>
                                                <td style="min-width:100px;">
                                                    @Html.TextBoxFor(x => x.registration[i].VATAmount, "{0:#.#}", new { @class = "form-control input-sm", @readonly = true })
                                                </td>
                                                <td style="min-width:50px;">
                                                    @Html.TextBoxFor(x => x.registration[i].WHTPercent, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "calculateTotalAmount(this)" })
                                                </td>
                                                <td style="min-width:100px;">
                                                    @Html.TextBoxFor(x => x.registration[i].WHTAmount, "{0:#.#}", new { @class = "form-control input-sm", @readonly = true })
                                                </td>
                                                <td style="min-width:100px;">
                                                    @Html.TextBoxFor(x => x.registration[i].Payment1, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "calculateTotalAmount(this)" })
                                                </td>
                                                <td style="min-width:150px;">
                                                    <div class="input-group date" id="Payment1Dt">
                                                        @Html.TextBoxFor(x => x.registration[i].Payment1Date, new { @class = "form-control dtCss input-sm" })
                                                        <span class="input-group-addon">
                                                            <i class="ion ion-calendar"></i>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td style="min-width:100px;">
                                                    @Html.TextBoxFor(x => x.registration[i].Payment2, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "calculateTotalAmount(this)" })
                                                </td>
                                                <td style="min-width:150px;">
                                                    <div class="input-group date" id="Payment2Dt">
                                                        @Html.TextBoxFor(x => x.registration[i].Payment2Date, new { @class = "form-control dtCss input-sm" })
                                                        <span class="input-group-addon">
                                                            <i class="ion ion-calendar"></i>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td style="min-width:100px;">
                                                    @Html.TextBoxFor(x => x.registration[i].Payment3, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "calculateTotalAmount(this)" })
                                                </td>
                                                <td style="min-width:150px;">
                                                    <div class="input-group date" id="Payment3Dt">
                                                        @Html.TextBoxFor(x => x.registration[i].Payment3Date, new { @class = "form-control dtCss input-sm" })
                                                        <span class="input-group-addon">
                                                            <i class="ion ion-calendar"></i>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td style="min-width:100px;">
                                                    @Html.TextBoxFor(x => x.registration[i].TotalAmount, "{0:#.#}", new { @class = "form-control input-sm", @readonly = true })
                                                </td>
                                                <td style="min-width:100px;">
                                                    @Html.TextBoxFor(x => x.registration[i].BalanceAmount, "{0:#.#}", new { @class = "form-control input-sm", @readonly = true })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                            <div class="row css25">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <button id="btnSave" type="button" onclick="SaveRegistrationPublic()" class="btn btn-success btn-frmt green btn-sm"><i class="fa fa-floppy-o"></i>&nbsp;Save</button> &nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-default btn-sm" type="button" onclick="navigatetoList()"><i class="fa fa-backward"></i>&nbsp;Back</button>&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @using (Html.BeginForm("SaveRegistrationPrivateList", "Registration", FormMethod.Post, new { id = "frmRegistrationPrivate", name = "frmRegistrationPrivate", autocomplete = "off" }))
                    {
                        <div class="row css25" id="webGridPrivateEdit" style="display:none">
                            <div class="col-sm-12">
                                <div class="tablescroll">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td class="center"><b>Company/Individual</b></td>
                                                <td class="center"><b>Amount</b></td>
                                                <td class="center"><b>VAT/TAX %</b></td>
                                                <td class="center"><b>VAT/TAX Amout</b></td>
                                                <td class="center"><b>WHT %</b></td>
                                                <td class="center"><b>WHT Amount</b></td>
                                                <td class="center"><b>Payment #1</b></td>
                                                <td class="center"><b>Date</b></td>
                                                <td class="center"><b>Payment #2</b></td>
                                                <td class="center"><b>Date</b></td>
                                                <td class="center"><b>Payment #3</b></td>
                                                <td class="center"><b>Date</b></td>
                                                <td class="center"><b>Total Amount</b></td>
                                                <td class="center"><b>Balance Amount</b></td>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @for (int i = 0; i < 1; i++)
                                            {
                                                if (Model.registrationPrivate.Count() > 0)
                                                {
                                                    <tr>
                                                        <td style="min-width:200px;">
                                                            @Html.TextBoxFor(x => x.registrationPrivate[i].CompanyName, new { @class = "form-control input-sm" })
                                                        </td>
                                                        <td style="min-width:100px;">
                                                            @Html.TextBoxFor(x => x.registrationPrivate[i].Amount, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "calculateTotalAmoutPrivate()" })
                                                        </td>
                                                        <td style="min-width:65px;">
                                                            @Html.TextBoxFor(x => x.registrationPrivate[i].VATPercent, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "calculateTotalAmoutPrivate()" })
                                                        </td>
                                                        <td style="min-width:100px;">
                                                            @Html.TextBoxFor(x => x.registrationPrivate[i].VATAmount, "{0:#.#}", new { @class = "form-control input-sm numCss", @readonly = true })
                                                        </td>
                                                        <td style="min-width:50px;">
                                                            @Html.TextBoxFor(x => x.registrationPrivate[i].WHTPercent, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "calculateTotalAmoutPrivate()" })
                                                        </td>
                                                        <td style="min-width:100px;">
                                                            @Html.TextBoxFor(x => x.registrationPrivate[i].WHTAmount, "{0:#.#}", new { @class = "form-control input-sm numCss", @readonly = true })
                                                        </td>
                                                        <td style="min-width:100px;">
                                                            @Html.TextBoxFor(x => x.registrationPrivate[i].Payment1, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "calculateTotalAmoutPrivate()" })
                                                        </td>
                                                        <td style="min-width:150px;">
                                                            <div class="input-group date" id="Payment1Dte">
                                                                @Html.TextBoxFor(x => x.registrationPrivate[i].Payment1Date, new { @class = "form-control dtCss input-sm" })
                                                                <span class="input-group-addon">
                                                                    <i class="ion ion-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td style="min-width:100px;">
                                                            @Html.TextBoxFor(x => x.registrationPrivate[i].Payment2, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "calculateTotalAmoutPrivate()" })
                                                        </td>
                                                        <td style="min-width:150px;">
                                                            <div class="input-group date" id="Payment2Dte">
                                                                @Html.TextBoxFor(x => x.registrationPrivate[i].Payment2Date, new { @class = "form-control dtCss input-sm" })
                                                                <span class="input-group-addon">
                                                                    <i class="ion ion-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td style="min-width:100px;">
                                                            @Html.TextBoxFor(x => x.registrationPrivate[i].Payment3, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "calculateTotalAmoutPrivate()" })
                                                        </td>
                                                        <td style="min-width:150px;">
                                                            <div class="input-group date" id="Payment3Dte">
                                                                @Html.TextBoxFor(x => x.registrationPrivate[i].Payment3Date, new { @class = "form-control dtCss input-sm" })
                                                                <span class="input-group-addon">
                                                                    <i class="ion ion-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td style="min-width:100px;">
                                                            @Html.TextBoxFor(x => x.registrationPrivate[i].TotalAmount, "{0:#.#}", new { @class = "form-control input-sm", @readonly = true })
                                                        </td>
                                                        <td style="min-width:100px;">
                                                            @Html.TextBoxFor(x => x.registrationPrivate[i].BalanceAmount, "{0:#.#}", new { @class = "form-control input-sm", @readonly = true })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <hr />
                                <div class="row css25">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td class="center"><b>S No.</b></td>
                                                <td class="center"><b>Student Name</b></td>
                                                <td class="center"><b>Email Id</b></td>
                                                <td class="center"><b>Contact</b></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.registrationPrivate.Count(); i++)
                                            {
                                                @Html.HiddenFor(x => x.registrationPrivate[i].RegistrationId)
                                                @Html.HiddenFor(x => x.registrationPrivate[i].TrainingConfirmationID)
                                                <tr>
                                                    <td>@(i + 1).</td>
                                                    <td>
                                                        @Html.TextBoxFor(x => x.registrationPrivate[i].StudentName, new { @class = "form-control input-sm" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(x => x.registrationPrivate[i].Email, new { @class = "form-control input-sm", @type = "email" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(x => x.registrationPrivate[i].Contact, new { @maxlength = "15", @class = "form-control input-sm numCsspuls" })
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row css25">
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <button id="btnSave" type="button" onclick="SaveRegistrationPrivate()" class="btn btn-success btn-frmt green btn-sm"><i class="fa fa-floppy-o"></i>&nbsp;Save</button> &nbsp;&nbsp;&nbsp;
                                            <button class="btn btn-default btn-sm" type="button" onclick="navigatetoList()"><i class="fa fa-backward"></i>&nbsp;Back</button>&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                    <div class="row css25" id="webGridDisplay">
                        <div class="col-sm-12">
                            <div id="gridContent" style="overflow-x: scroll; width: 100%">
                                @grid.GetHtml(
                        columns: grid.Columns(
                            grid.Column("", "S No.", canSort: false,
                                        format:
                                        @<text>
                                            <div style='width:35px;'>
                                                @(item.WebGrid.Rows.IndexOf(item) + 1).
                                            </div>
                                        </text>),
                                grid.Column("StudentName", "Student Name", canSort: true,
                                        format:
                                        @<text>
                                            <div style='width:150px;'>
                                                @(item.StudentName)
                                            </div>
                                        </text>),
                                grid.Column("Amount", "Amount", canSort: true,
                                        format:
                                        @<text>
                                            <div style='width:70px;'>
                                                <span class="center">
                                                    @ConvertToInt64dollar(item.Amount)
                                                </span>
                                            </div>
                                        </text>, style: "center"),
                                grid.Column("WHTPercent", "WHT %", canSort: true,
                                        format:
                                        @<text>
                                            <div style='width:50px;'>
                                                <span class="center">
                                                    @ConvertToInt64percent(item.WHTPercent)
                                                </span>
                                            </div>
                                        </text>, style: "center"),
                                grid.Column("WHTAmount", "WHT Amount", canSort: true,
                                        format:
                                        @<text>
                                            <div style='width:80px;'>
                                                <span class="center">
                                                    @ConvertToInt64dollar(item.WHTAmount)
                                                </span>
                                            </div>
                                        </text>, style: "center"),
                                grid.Column("VATPercent", "VAT/TAX %",
                                format:
                                @<text>
                                    <div style='width:80px;'>
                                        <span class="center">
                                            @ConvertToInt64percent(item.VATPercent)
                                        </span>
                                    </div>
                                </text>
                                , canSort: true, style: "center"),
                                grid.Column("VATAmount", "VAT/TAX Amount", canSort: true,
                                        format:
                                        @<text>
                                            <div style='width:100px;'>
                                                <span class="center">
                                                    @ConvertToInt64dollar(item.VATAmount)
                                                </span>
                                            </div>
                                        </text>, style: "center"),
                                 grid.Column("TotalAmount", "Total Amount", canSort: true,
                                        format:
                                        @<text>
                                            <div style='width:75px;'>
                                                <span class="center">
                                                    @ConvertToInt64dollar(item.TotalAmount)
                                                </span>
                                            </div>
                                        </text>, style: "center"),
                                grid.Column("Payment1", "Payment Receipt 1", canSort: true,
                                        format:
                                        @<text>
                                            <div style='width:110px;'>
                                                <span class="center">
                                                    <a style="cursor:pointer;text-decoration:underline;">
                                                        <span data-placement="top" data-toggle="popover" data-html="true" data-title="Payment 1 Details" data-content="@PaymentDetails(item.Payment1Date, item.Payment1Type, item.ChequeNo1)"
                                                              onmouseover="mouseover(this)" onmouseout="mouseleave(this)" data-original-title="" title="">@ConvertToInt64dollar(item.Payment1)</span>
                                                        </a>
                                                    </span>
                                                </div>
                                        </text>, style: "center"),
                                grid.Column("Payment2", "Payment Receipt 2", canSort: true,
                                        format:
                                        @<text>
                                            <div style='width:110px;'>
                                                <span class="center">
                                                    <a style="cursor:pointer;text-decoration:underline;">
                                                        <span data-placement="top" data-toggle="popover" data-html="true" data-title="Payment 2 Details" data-content="@PaymentDetails(item.Payment2Date, item.Payment2Type, item.ChequeNo2)"
                                                              onmouseover="mouseover(this)" onmouseout="mouseleave(this)" data-original-title="" title="">@ConvertToInt64dollar(item.Payment2)</span>
                                                        </a>
                                                    </span>
                                                </div>
                                        </text>, style: "center"),
                                grid.Column("Payment3", "Payment Receipt 3", canSort: true,
                                        format:
                                        @<text>
                                            <div style='width:110px;'>
                                                <span class="center">
                                                    <a style="cursor:pointer;text-decoration:underline;">
                                                        <span data-placement="top" data-toggle="popover" data-html="true" data-title="Payment 3 Details" data-content="@PaymentDetails(item.Payment3Date, item.Payment3Type, item.ChequeNo3)"
                                                              onmouseover="mouseover(this)" onmouseout="mouseleave(this)" data-original-title="" title="">@ConvertToInt64dollar(item.Payment3)</span>
                                                        </a>
                                                    </span>
                                                </div>
                                        </text>, style: "center"),
                                grid.Column("BalanceAmount", "Balance", canSort: true,
                                        format:
                                        @<text>
                                            <div style='width:70px;'>
                                                <span class="center">
                                                    @ConvertToInt64dollarBalance(item.BalanceAmount)
                                                </span>
                                            </div>
                                        </text>, style: "center"),
                                grid.Column("Email", "Email", canSort: true,
                                        format:
                                        @<text>
                                            <div style='width:200px;'>
                                                <span class="center">
                                                    @(item.Email)
                                                </span>
                                            </div>
                                        </text>),
                                grid.Column("Contact", "Contact", canSort: true,
                                        format:
                                        @<text>
                                            <div style='width:100px;'>
                                                <span class="center">
                                                    @(item.Contact)
                                                </span>
                                            </div>
                                        </text>),
                                grid.Column("CompanyName", "Company Name", canSort: true,
                                        format:
                                        @<text>
                                            <div style='width:200px;'>
                                                <span class="center">
                                                    @(item.CompanyName)
                                                </span>
                                            </div>
                                        </text>)),
                                            tableStyle: "table")
                            </div>
                        </div>
                        <div class="col-sm-12 css10">
                            <div class="pull-right">@grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-sm")</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section SectionScripts
    {
    <script type="text/javascript">
        $(function () {
            $('#Payment1Dt,#Payment2Dt,#Payment3Dt,#Payment1Dte,#Payment2Dte,#Payment3Dte').datetimepicker({
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-arrow-up',
                    down: 'fa fa-arrow-down'
                },
                //minDate: new Date(),
                //maxDate: new Date(),
                format: 'DD/MM/YYYY'
            });

            @*@for (int i = 0; i < Model.registration.Count(); i++)
            {
                if (Model.registration[i].RegistrationId != -1 && Model.registration[i].Payment1 != null)
                {
                    <text>
            $('#registration_' +@i+'__Payment1').attr('readonly', 'readonly');
            $('#registration_' +@i+'__Payment1Date').attr('readonly', 'readonly');
            </text>
                }
                if (Model.registration[i].RegistrationId != -1 && Model.registration[i].Payment2 != null)
                {
                    <text>
            $('#registration_' +@i+'__Payment2').attr('readonly', 'readonly');
            $('#registration_' +@i+'__Payment2Date').attr('readonly', 'readonly');
            </text>
                }
                if (Model.registration[i].RegistrationId != -1 && Model.registration[i].Payment3 != null)
                {
                    <text>
            $('#registration_' +@i+'__Payment3').attr('readonly', 'readonly');
            $('#registration_' +@i+'__Payment3Date').attr('readonly', 'readonly');
            </text>
                }
            }


            @for (int i = 0; i < 1; i++)
            {
                if (Model.registrationPrivate.Count() > 0)
                {
                    if (Model.registrationPrivate[i].RegistrationId != -1 && Model.registrationPrivate[i].Payment1 != null)
                    {
                    <text>
            $('#registrationPrivate_' +@i+'__Payment1').attr('readonly', 'readonly');
            $('#registrationPrivate_' +@i+'__Payment1Date').attr('readonly', 'readonly');
            </text>
                    }
                    if (Model.registrationPrivate[i].RegistrationId != -1 && Model.registrationPrivate[i].Payment2 != null)
                    {
                    <text>
            $('#registrationPrivate_' +@i+'__Payment2').attr('readonly', 'readonly');
            $('#registrationPrivate_' +@i+'__Payment2Date').attr('readonly', 'readonly');
            </text>
                    }
                    if (Model.registrationPrivate[i].RegistrationId != -1 && Model.registrationPrivate[i].Payment3 != null)
                    {
                    <text>
            $('#registrationPrivate_' +@i+'__Payment3').attr('readonly', 'readonly');
            $('#registrationPrivate_' +@i+'__Payment3Date').attr('readonly', 'readonly');
            </text>
                    }
                }
            }*@

            $('#webGridPublicEdit').hide();
            $('#webGridPrivateEdit').hide();

            $('#liRegistrationList').addClass('active');

            var myArray = @Html.Raw(JsonConvert.SerializeObject(myArray));
            @if (reg > 0)
        {
            <text>
            $('#gridContent tbody').append('<tr class="bordertop"><td></td><td>Summary</td><td class="center">@ConvertToInt64dollar(myArray[0])</td><td></td><td class="center">@ConvertToInt64dollar(myArray[1])</td><td></td><td class="center">@ConvertToInt64dollar(myArray[2])</td><td class="center">@ConvertToInt64dollar(myArray[3])</td><td class="center">@ConvertToInt64dollar(myArray[4])</td><td class="center">@ConvertToInt64dollar(myArray[5])</td><td class="center">@ConvertToInt64dollar(myArray[6])</td><td class="center">@ConvertToInt64dollar(myArray[8])</td><td></td><td></td><td></td></tr>');
            </text>
            }

            $('#lblmsg').hide();
            $('#TrainingDetails').hide();
            var trid = $('#TrainingConfirmationID').val();
            debugger;
            if (trid != null && trid != '') {
                $('#TrainingDetails').show();
                $('#lblmsg').show();
            }
        });

        function SaveRegistrationPublic() {
            if ($('#frmRegistrationPublic').valid()) {
                $('#frmRegistrationPublic').submit();
            }
        }
        function SaveRegistrationPrivate() {
            debugger;
            if ($('#frmRegistrationPrivate').valid()) {
                $('#frmRegistrationPrivate').submit();
            }
        }

        function ChangeMonth() {
            window.location = '@Url.Action("RegistrationList", "Registration", new { trainingConfirmationID = "", month = "", year = "" })' + '?trainingConfirmationID=&month=' + $('#Month').val() + "&year=" + $('#Year').val();
        };

        function mouseleave(el) {
            $(el).popover("hide");
        }

        function mouseover(el) {
            debugger;
            $(el).popover("show");
        }

        function ChangeEventID(el) {
            $('#eventid').val(el.value);
            window.location = '@Url.Action("RegistrationList", "Registration", new { trainingConfirmationID = "", month = "", year = "" })' + '?trainingConfirmationID=' + el.value + '&month=' + $('#Month').val() + "&year=" + $('#Year').val();

            $('#webGridDisplay').show();
            $('#webGridPublicEdit').hide();
            $('#webGridPrivateEdit').hide();
        };

        function navigatetoDetail() {
            if($('#frmregistration').valid())
            {

                @if (Model.trainingconfDetail.Private) {
                <text>

                $('#webGridPrivateEdit').show();
                $('#webGridPublicEdit').hide();
                </text>
            }
            else {
                <text>
                $('#webGridPublicEdit').show();
                $('#webGridPrivateEdit').hide();

                </text>
            }
                $('#webGridDisplay').hide();
            };
        }
        function navigatetoList() {

            $('#webGridPrivateEdit').hide();
            $('#webGridPublicEdit').hide();
            $('#webGridDisplay').show();
        };

        function calculateTotalAmount(el)
        {
            debugger;
            var id=el.id;
            var row=id.split("_")
            var rowvalue=row[1];
            var amount=($('#registration_'+rowvalue+'__Amount').val()!="" &&!isNaN($('#registration_'+rowvalue+'__Amount').val())?parseInt($('#registration_'+rowvalue+'__Amount').val()):0);
            var vatpercent=($('#registration_'+rowvalue+'__VATPercent').val()!="" &&!isNaN($('#registration_'+rowvalue+'__VATPercent').val())?parseInt($('#registration_'+rowvalue+'__VATPercent').val()):0)
            var whtpercent=($('#registration_'+rowvalue+'__WHTPercent').val()!="" &&!isNaN($('#registration_'+rowvalue+'__WHTPercent').val())?parseInt($('#registration_'+rowvalue+'__WHTPercent').val()):0)

            if(vatpercent>100)
            {
                var vatpercent=0;
                swal("vatpercent can not greater than 100!", "");
                $('#registration_'+rowvalue+'__VATPercent').val('')
                $('#registration_'+rowvalue+'__VATAmount').val('')

            }
            if(whtpercent>100)
            {
                var whtpercent=0;
                swal("whtpercent can not greater than 100!", "");
                $('#registration_'+rowvalue+'__WHTPercent').val('')
                $('#registration_'+rowvalue+'__WHTAmount').val('')

            }


            var vatamount=0;
            if(amount!=0 &&vatpercent!=0)
            {
                vatamount=(amount*vatpercent/100);
                $('#registration_'+rowvalue+'__VATAmount').val(vatamount)
            }
            else
            {
                $('#registration_'+rowvalue+'__VATAmount').val('')
            }
            var whtamount=0;
            if(amount!=0 &&whtpercent!=0)
            {
                whtamount=(amount*whtpercent/100);
                $('#registration_'+rowvalue+'__WHTAmount').val(whtamount)
            }
            else{
                $('#registration_'+rowvalue+'__WHTAmount').val('')

            }

            var Payment1=($('#registration_'+rowvalue+'__Payment1').val()!="" &&!isNaN($('#registration_'+rowvalue+'__Payment1').val())?parseInt($('#registration_'+rowvalue+'__Payment1').val()):0);
            var Payment2=($('#registration_'+rowvalue+'__Payment2').val()!="" &&!isNaN($('#registration_'+rowvalue+'__Payment2').val())?parseInt($('#registration_'+rowvalue+'__Payment2').val()):0);
            var Payment3=($('#registration_'+rowvalue+'__Payment3').val()!="" &&!isNaN($('#registration_'+rowvalue+'__Payment3').val())?parseInt($('#registration_'+rowvalue+'__Payment3').val()):0);

            var totalamount=((amount+vatamount+whtamount));
            $('#registration_'+rowvalue+'__TotalAmount').val(totalamount);
            var balanceamount=totalamount-(Payment1+Payment2+Payment3);
            balanceamount=$('#registration_'+rowvalue+'__BalanceAmount').val(balanceamount);

        }

        function calculateTotalAmoutPrivate()
        {
            var p = $('#registrationPrivate_0__Amount').val();
            debugger;
            var amount = ($('#registrationPrivate_0__Amount').val() != "" && !isNaN($('#registrationPrivate_0__Amount').val()) ? parseInt($('#registrationPrivate_0__Amount').val()):0)
            var vatpercent = ($('#registrationPrivate_0__VATPercent').val() != "" && !isNaN($('#registrationPrivate_0__VATPercent').val()) ? parseInt($('#registrationPrivate_0__VATPercent').val()):0)
            var whtpercent = ($('#registrationPrivate_0__WHTPercent').val() != "" && !isNaN($('#registrationPrivate_0__WHTPercent').val()) ? parseInt($('#registrationPrivate_0__WHTPercent').val()):0)

            var vatamount=0;
            if(vatpercent>100)
            {
                debugger;
                var vatpercent=0;
                swal("vatpercent can not greater than 100!", "")
                $('#registrationPrivate_0__VATPercent').val('');
                $('#registrationPrivate_0__VATAmount').val('');
            }
            if(whtpercent>100)
            {
                var whtpercent=0;
                swal("whtpercent can not greater than 100!","")
                $('#registrationPrivate_0__WHTPercent').val('') ;
                $('#registrationPrivate_0__WHTAmount').val('');
            }

            if(amount!=0 &&vatpercent!=0)
            {
                vatamount=(amount*vatpercent/100);
                $('#registrationPrivate_0__VATAmount').val(vatamount);
            }
            else
            {
                $('#registrationPrivate_0__VATAmount').val('');
            }

            var whtamount=0;
            if(amount!=0 &&whtpercent!=0)
            {
                whtamount=(amount*whtpercent/100);
                $('#registrationPrivate_0__WHTAmount').val(whtamount);
            }
            else{
                $('#registrationPrivate_0__WHTAmount').val('');
            }
            var payment1 = ($('#registrationPrivate_0__Payment1').val() != "" && !isNaN($('#registrationPrivate_0__Payment1').val()) ? parseInt($('#registrationPrivate_0__Payment1').val()):0);
            var payment2 = ($('#registrationPrivate_0__Payment2').val() != "" && !isNaN($('#registrationPrivate_0__Payment2').val()) ? parseInt($('#registrationPrivate_0__Payment2').val()):0);
            var payment3 = ($('#registrationPrivate_0__Payment3').val() != "" && !isNaN($('#registrationPrivate_0__Payment3').val()) ? parseInt($('#registrationPrivate_0__Payment3').val()):0);
            var totalamount=((amount+vatamount+whtamount));
            $('#registrationPrivate_0__TotalAmount').val(totalamount);
            var balanceamount=totalamount-(payment1+payment2+payment3);
            $('#registrationPrivate_0__BalanceAmount').val(balanceamount);
        }


        $('#frmregistration').validate({
            rules:{
                TrainingConfirmationID:{
                    required:true
                }
            }
        })


        $('#frmRegistrationPrivate').validate({
            rules: {
                'registrationPrivate[0].Payment1Date': {
                    Payment1: true
                },
                'registrationPrivate[0].Payment2Date': {
                    Payment2: true
                },
                'registrationPrivate[0].Payment3Date': {
                    Payment3: true
                },

            }
        });
        $.validator.addMethod("Payment1", function (Value, element) {
            debugger;
            var payment1 = parseInt($('#registrationPrivate_0__Payment1').val());
            if (payment1 && !isNaN(payment1) && (Value == "" || Value == null)) {
                return false
            }
            else
                return true;

        }, "");

        $.validator.addMethod("Payment2", function (Value, element) {
            var payment2 = parseInt($('#registrationPrivate_0__Payment2').val());
            if (payment2 && !isNaN(payment2) && (Value == "" || Value == null)) {
                return false
            }
            else return true;

        }, "");

        $.validator.addMethod("Payment3", function (Value, element) {
            var payment3 = parseInt($('#registrationPrivate_0__Payment3').val());
            if (payment3 && !isNaN(payment3) && (Value == "" || Value == null)) {
                return false
            }
            else return true;

        }, "");

        $('#frmRegistrationPublic').validate({
            rules:{
                @for (int i = 0; i < Model.registration.Count(); i++)
                  {
                    <text>
                'registration[@i].Payment1Date':{
                    required: function(){
                        var payment1 = $('#registration_'+'@i'+'__Payment1').val();
                        if (payment1 != null && payment1 != "") {
                            return true
                        }
                        else
                            return false;
                    }
                },
                'registration[@i].Payment2Date':{
                    required: function(){
                        var payment2 = $('#registration_'+'@i'+'__Payment2').val();
                        if (payment2 != null && payment2 != "") {
                            return true
                        }
                        else
                            return false;
                    }
                },
                'registration[@i].Payment3Date':{
                    required: function(){
                        var payment3 = $('#registration_'+'@i'+'__Payment3').val();
                        if (payment3 != null && payment3 != "") {
                            return true
                        }
                        else
                            return false;
                    }
                },
                </text>
                  }
            }
        });
        

    </script>
}
