
@model EDU.Web.ViewModels.Registration.RegistrationVM
@{
    ViewBag.Title = "Registrations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    WebGrid grid = new WebGrid(Model.registration, rowsPerPage: 10);
    grid.Pager(WebGridPagerModes.All);

    var Student = Model.trainingconfDetail.NoOfStudents;
    var reg = Model.registration.Count();
    var remainReg = Student - reg;
}
<style>
    .centerbox {
        margin: auto;
        width: 100%;
        border: 1px solid gray;
        border-radius: 20px;
    }

    .center {
        text-align: center !important;
    }

    .right {
        text-align: right !important;
    }

    .StudentName {
        width: 150px;
    }

    .popover {
        color: black;
        min-width: 300px;
    }

    .popover-title {
        background-color: #F7F7F7;
        border-bottom: 1px solid #EBEBEB;
        border-radius: 5px 5px 0 0;
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
        margin: 0;
        padding: 8px 14px;
    }
</style>
@functions {
    public string GetPaymentType(short id)
    {
        if (id == 1)
            return "CASH";
        else if (id == 2)
            return "CHEQUE";
        else if (id == 3)
            return "BANK TRANSFER";
        else
            return "";
    }
    public string ConvertToInt64(decimal? data)
    {
        if (data != null)
            return Convert.ToInt64(data.Value).ToString();
        else
            return null;
    }

    public string PaymentDetails(DateTime? date, short type, string no)
    {
        if (type == 1)
            return "Payment Date : " + (date == null ? "" : date.Value.ToString("dd/MM/yyyy")) + "</Br>" +
                "Payment Type : Cash";
        else if (type == 2)
            return "Payment Date : " + (date == null ? "" : date.Value.ToString("dd/MM/yyyy")) + "</Br>" +
                "Payment Type : Cheque" + "</Br>" +
                "Cheque No : " + no;
        else if (type == 3)
            return "Payment Date : " + (date == null ? "" : date.Value.ToString("dd/MM/yyyy")) + "</Br>" +
                "Payment Type : Bank Transfer" + "</Br>" +
                "Bank Transaction ID : " + no;
        else
            return "";
    }
}
<div class="page page-forms-elements">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <div style="display:-webkit-inline-box">
                        <h4> Registrations List</h4>
                        &nbsp;&nbsp;(&nbsp;<label style="color:red;margin-top:14px"> Pending Registrations :@remainReg</label>&nbsp;)
                    </div>

                    <div class="box-tools">
                        @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                        {

                            <button type="button" id="addbtn" class="btn btn-info btn-sm waves-effect" data-toggle="modal" onclick="navigatetoDetail()"><i class="fa fa-plus"></i>New Registration</button>
                            // <button class="btn btn-info btn-sm waves-effect" type="button" onclick="AddEduProduct();"><i class="fa fa-plus"></i> Add New Product</button>
                        }
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-1 control-label col-md-offset-2">
                                <span>Event No.</span>
                            </label>
                            <div class="col-md-2">
                                <input type="hidden" id="eventid" name="eventid" />
                                @Html.DropDownListFor(x => x.registration.FirstOrDefault().TrainingConfirmationID,
                                 new SelectList(Model.trainingconf, "TrainingConfirmationID", "TrainingConfirmationID"),
                                 "Select Event No.", new { @class = "form-control", onchange = "ChangeEventID(this);" })
                            </div>
                        </div>
                    </div>
                    <div id="TrainingDetails" class="col-md-8 col-md-offset-2 css10">
                        <div class="centerbox">
                            <div class="row css10">
                                <div class="col-md-5 col-md-offset-1">
                                    <label class="control-label">Product:&nbsp;&nbsp;&nbsp;&nbsp;    </label><b>@(Model.trainingconfDetail != null ? Model.trainingconfDetail.ProductName : "")</b>
                                </div>
                                <div class="col-md-5">
                                    <label class="control-label">Course:&nbsp;&nbsp;&nbsp;&nbsp;    </label><b>@(Model.trainingconfDetail != null ? Model.trainingconfDetail.CourseName : "")</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <label class="control-label">No of Students:&nbsp;&nbsp;&nbsp;&nbsp;    </label><b>@(Model.trainingconfDetail != null ? Model.trainingconfDetail.NoOfStudents.ToString() : "")</b>
                                </div>
                                <div class="col-md-5">
                                    <label class="control-label">Type:&nbsp;&nbsp;&nbsp;&nbsp;    </label><b>@(Model.trainingconfDetail != null ? (Model.trainingconfDetail.Private ? "Private" : "Public") : "")</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <label class="control-label">Start Date:&nbsp;&nbsp;&nbsp;&nbsp;    </label><b>@(Model.trainingconfDetail != null && Model.trainingconfDetail.StartDate != null ? Model.trainingconfDetail.StartDate.Value.ToString("dd/MM/yyyy") : "")</b>
                                </div>
                                <div class="col-md-5">
                                    <label class="control-label">End Date:&nbsp;&nbsp;&nbsp;&nbsp;    </label><b>@(Model.trainingconfDetail != null && Model.trainingconfDetail.EndDate != null ? Model.trainingconfDetail.EndDate.Value.ToString("dd/MM/yyyy") : "")</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <label class="control-label">Total # of days:&nbsp;&nbsp;&nbsp;&nbsp;    </label><b>@(Model.trainingconfDetail != null ? Model.trainingconfDetail.TotalNoOfDays.ToString() : "")</b>
                                </div>
                                <div class="col-md-5">
                                    <label class="control-label">Trainer Name:&nbsp;&nbsp;&nbsp;&nbsp;    </label><b>@(Model.trainingconfDetail != null && Model.trainingconfDetail.TrianerName != null ? Model.trainingconfDetail.TrianerName : "")</b>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:20px;">
                    </div>
                    <div class="row css10" style="overflow-x: scroll; width: 100%">
                        @grid.GetHtml(
                                    columns: grid.Columns(
                                            grid.Column("StudentName", "Student Name", canSort: true,
                                                    format:
                                                    @<text>
                                                        <div style='width:150px;'>
                                                            @(item.StudentName)
                                                        </div>
                                                    </text>),
                                            grid.Column("Amount", "Amount", canSort: true,
                                                    format:
                                                    @<text>
                                                        <div style='width:50px;'>
                                                            <span class="pull-right">
                                                                @ConvertToInt64(item.Amount)
                                                            </span>
                                                        </div>
                                                    </text>),
                                            grid.Column("WHTPercent", "WHT", canSort: true,
                                                    format:
                                                    @<text>
                                                        <div style='width:50px;'>
                                                            <span class="center">
                                                                @(new HtmlString(ConvertToInt64(item.WHTPercent) + "%"))
                                                            </span>
                                                        </div>
                                                    </text>),
                                            grid.Column("WHTAmount", "WHT Amount", canSort: true,
                                                    format:
                                                    @<text>
                                                        <div style='width:80px;'>
                                                            <span class="pull-right">
                                                                @ConvertToInt64(item.WHTAmount)
                                                            </span>
                                                        </div>
                                                    </text>),
                                            grid.Column("VATPercent", "VAT/TAX", format: (item) => new HtmlString(ConvertToInt64(item.VATPercent) + "%"), canSort: true, style: "center"),
                                            grid.Column("VATAmount", "VAT/TAX Amount", canSort: true,
                                                    format:
                                                    @<text>
                                                        <div style='width:100px;'>
                                                            <span class="pull-right">
                                                                @ConvertToInt64(item.VATAmount)
                                                            </span>
                                                        </div>
                                                    </text>),
                                             grid.Column("TotalAmount", "Total Amount", canSort: true,
                                                    format:
                                                    @<text>
                                                        <div style='width:75px;'>
                                                            <span class="pull-right">
                                                                @ConvertToInt64(item.TotalAmount)
                                                            </span>
                                                        </div>
                                                    </text>),
                                            grid.Column("Payment1", "Payment 1", canSort: true,
                                                    format:
                                                    @<text>
                                                        <div style='width:60px;'>
                                                            <span class="pull-right">
                                                                <a style="cursor:pointer;text-decoration:underline;">
                                                                    <span data-placement="top" data-toggle="popover" data-html="true" data-title="Payment 1 Details" data-content="@PaymentDetails(item.Payment1Date, item.Payment1Type, item.ChequeNo1)"
                                                                          onmouseover="mouseover(this)" onmouseout="mouseleave(this)" data-original-title="" title="">@ConvertToInt64(item.Payment1)</span>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                    </text>),
                                        @*grid.Column("Payment1Date", "Payment 1 Date", canSort: true,
                                                    format:
                                                    @<text>
                                                        <div style='width:100px;'>
                                                            @(item.Payment1Date == null ? "" : item.Payment1Date.ToString("MM/dd/yyyy"))
                                                        </div>
                                                    </text>, style: "center"),
                                            grid.Column("Payment1Type", "Payment 1 Type", canSort: true,
                                                    format:
                                                    @<text>
                                                        <div style='width:100px;'>
                                                            @GetPaymentType(item.Payment1Type == null ? 0 : item.Payment1Type)
                                                        </div>
                                                    </text>),*@
                                            grid.Column("Payment2", "Payment 2", canSort: true,
                                                    format:
                                                    @<text>
                                                        <div style='width:60px;'>
                                                            <span class="pull-right">
                                                                <a style="cursor:pointer;text-decoration:underline;">
                                                                    <span data-placement="top" data-toggle="popover" data-html="true" data-title="Payment 2 Details" data-content="@PaymentDetails(item.Payment2Date, item.Payment2Type, item.ChequeNo2)"
                                                                          onmouseover="mouseover(this)" onmouseout="mouseleave(this)" data-original-title="" title="">@ConvertToInt64(item.Payment2)</span>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                    </text>),
                        @*grid.Column("Payment2Date", "Payment 2 Date", canSort: true,
                                    format:
                                    @<text>
                                        <div style='width:100px;'>
                                            @(item.Payment2Date == null ? "" : item.Payment2Date.ToString("MM/dd/yyyy"))
                                        </div>
                                    </text>, style: "center"),
                            grid.Column("Payment2Type", "Payment 2 Type", canSort: true,
                                    format:
                                    @<text>
                                        <div style='width:100px;'>
                                            @GetPaymentType(item.Payment2Type == null ? 0 : item.Payment2Type)
                                        </div>
                                    </text>),*@
                                            grid.Column("Payment3", "Payment 3", canSort: true,
                                                    format:
                                                    @<text>
                                                        <div style='width:60px;'>
                                                            <span class="pull-right">
                                                                <a style="cursor:pointer;text-decoration:underline;">
                                                                    <span data-placement="top" data-toggle="popover" data-html="true" data-title="Payment 3 Details" data-content="@PaymentDetails(item.Payment3Date, item.Payment3Type, item.ChequeNo3)"
                                                                          onmouseover="mouseover(this)" onmouseout="mouseleave(this)" data-original-title="" title="">@ConvertToInt64(item.Payment3)</span>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                    </text>),
                        @*grid.Column("Payment3Date", "Payment 3 Date", canSort: true,
                                    format:
                                    @<text>
                                        <div style='width:100px;'>
                                            @(item.Payment3Date == null ? "" : item.Payment3Date.ToString("MM/dd/yyyy"))
                                        </div>
                                    </text>, style: "center"),
                            grid.Column("Payment3Type", "Payment 3 Type", canSort: true,
                                    format:
                                    @<text>
                                        <div style='width:100px;'>
                                            @GetPaymentType(item.Payment3Type == null ? 0 : item.Payment3Type)
                                        </div>
                                    </text>),*@
                                            grid.Column("BalanceAmount", "Balance", canSort: true,
                                                    format:
                                                    @<text>
                                                        <div style='width:60px;'>
                                                            <span class="pull-right">
                                                                @ConvertToInt64(item.BalanceAmount)
                                                            </span>
                                                        </div>
                                                    </text>),
                                            grid.Column("OtherDeductionsAmount", "Other Deductions", canSort: true,
                                                    format:
                                                    @<text>
                                                        <div style='width:100px;'>
                                                            <span class="pull-right">
                                                                @ConvertToInt64(item.OtherDeductionsAmount)
                                                            </span>
                                                        </div>
                                                    </text>),
                                            grid.Column("Email", "Email", canSort: true),
                                            grid.Column("Contact", "Contact", canSort: true),
                                            grid.Column("CompanyName", "CompanyName", canSort: true),
                                            grid.Column("", "#Action", canSort: false,
                                                        format:
                                                        @<text>
                                                            <div style='width:80px;'>
                                                                @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                                            {
                                                                    <button class="btn btn-xs btn-success waves-effect" style="padding-left: 5px;margin-left: 6px;" onclick="location.href ='@Url.Content("~/Registration/Registration?Id=" + item.RegistrationId + "&trainingConfirmationID=" + item.TrainingConfirmationID)'"><i class="fa fa-pencil-square-o" style="padding-left: 5px;"></i></button>
                                                                    <button class="btn btn-xs btn-danger waves-effect" style="padding-left: 5px;margin-left: 6px;" onclick="DeleteRegistration(@item.RegistrationId)"><i class="fa fa-trash-o" style="padding-left: 5px;"></i></button>
                                                                }
                                                            </div>
                                                        </text>)),
                                                        tableStyle: "table")
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-right">@grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-sm")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section SectionScripts
    {
    <script type="text/javascript">

        function mouseleave(el) {
            $(el).popover("hide");
        }

        function mouseover(el) {
            $(el).popover("show");
        }

        $(function () {
            $('#TrainingDetails').hide();
            $('#addbtn').attr('disabled', 'disabled');
            var trid = $('#TrainingConfirmationID').val();
            debugger;
            if (trid != null && trid != '')
            {
                $('#TrainingDetails').show();

                @if(Model.registration.Count() >= Model.trainingconfDetail.NoOfStudents)
                    {
                    <text>$('#addbtn').attr('disabled', 'disabled');</text>
                }
                else
                {
                    <text>$('#addbtn').removeAttr('disabled', 'disabled');</text>
                }
            }
        });

        function ChangeEventID(el) {
                $('#eventid').val(el.value);
                window.location = '@Url.Action("RegistrationList", "Registration", new { trainingConfirmationID = ""})' + '?trainingConfirmationID=' + el.value;
        };

        function navigatetoDetail() {
            var trid = $('#TrainingConfirmationID').val();
            window.location = '@Url.Content("~/Registration/Registration")' + "?Id=-1&trainingConfirmationID=" + trid;
        };

        function DeleteRegistration(id) {
            if (confirm("Are you sure, You want to delete"))
            {
                $.ajax({
                    url: '@Url.Content("~/Registration/DeleteRegistration?Id=")' + id,
                    type: 'POST',
                    contentType: 'application/json',
                    success: function(data) {
                        alert("Deleted Successfully");
                        if (data)
                        {
                            location.reload();
                        }
                    },
                    error: function(e) {
                    }
                });
            }
        }
    </script>

}
