@using Newtonsoft.Json;
@model IEnumerable<EDU.Web.ViewModels.FinancialTransactionModel.FinancialTransactionsVM>

@{
    ViewBag.Title = "FinancialTransactionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var grid = new WebGrid(Model, rowsPerPage: 15);
    grid.Pager(WebGridPagerModes.All);
}
@functions {
    public string CheckString(string remarks)
    {
        return remarks.Replace(System.Environment.NewLine, "<br/>");
    }
    public string ConvertToInt64(decimal? data)
    {
        if (data != null)
            return Convert.ToInt64(data.Value).ToString();
        else
            return null;
    }
}

@{
    var listMonths = new List<SelectListItem>()
                                          {
                                           new SelectListItem {Text = "Select Month",   Value = "0"},
                                           new SelectListItem {Text = "Janaury",   Value = "1"},
                                           new SelectListItem {Text = "February", Value = "2"},
                                           new SelectListItem {Text = "March", Value = "3"},
                                           new SelectListItem {Text = "April",   Value = "4"},
                                           new SelectListItem {Text = "May", Value = "5"},
                                           new SelectListItem {Text = "June", Value = "6"},
                                           new SelectListItem {Text = "July",   Value = "7"},
                                           new SelectListItem {Text = "August", Value = "8"},
                                           new SelectListItem {Text = "September", Value = "9"},
                                           new SelectListItem {Text = "October",   Value = "10"},
                                           new SelectListItem {Text = "November", Value = "11"},
                                           new SelectListItem {Text = "December", Value = "12"}
                                       };
}
<style>
    .centerbox {
        margin: auto;
        width: 100%;
        border: 1px solid gray;
        border-radius: 20px;
    }

    .center {
        text-align: center !important;
    }

    .right {
        text-align: right !important;
    }

    .bordertop {
        border-top: 2px solid gray !important;
        border-bottom: 2px solid gray !important;
        color: #D73925;
        /*font-family: 'Bebas Neue';*/
    }
</style>

@using (Html.BeginForm("SaveFinancialTransaction", "FinancialTransaction", FormMethod.Post, new { id = "frmFinancial", name = "frmFinancial", enctype = "multipart/form-data" }))
{
    <div class="page page-forms-elements">
        <div class="page-wrap">
            <div class="panel panel-default">
                <div class="box" id="grid">
                    <div class="box-header">
                        <div style="display:-webkit-inline-box">
                            <h4> Financial Transaction List</h4>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Year</span>
                                </label>
                                <div class="col-md-1">
                                    @Html.DropDownListFor(x => x.FirstOrDefault().Year, Enumerable.Range(2014, 14).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Select Year ", new { @class = "form-control input-sm", onchange = "ChangeMonth();" })
                                </div>
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Month</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(x => x.FirstOrDefault().Month, listMonths, new { @class = "form-control input-sm", onchange = "ChangeMonth();" })
                                </div>
                            </div>
                        </div>
                        <div class="row css25">
                            <div class="col-md-12">
                                <div id="gridContent" style="overflow-x: scroll; width: 100%">
                                    @grid.GetHtml(
                                     tableStyle: "table table-striped table-bordered",
                                     mode: WebGridPagerModes.All,
                                     columns:
                                        grid.Columns(

                                              grid.Column("", "Action", format: @<text>
                                                @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                                {
                                                    <input type="hidden" id="hdnFinancialTransactionId" value="@item.FinancialTransactionId" />
                                                    <button id="btn_edit" class="btn btn-primary btn-xs waves-effect btn_edit " data-toggle="modal" onclick="location.href = '@Url.Content("~/FinancialTransaction/FinancialTransactionDetail?Id=" +item.FinancialTransactionId+"&trainingConfirmationID="+item.trainingConfirmationID+"&country="+item.Country+"&totalRevenueAmount="+item.TotalRevenueAmount+"&month="+item.Month+"&year="+item.Year)'"><i class="fa fa-pencil-square-o" style="padding-left: 5px;"></i></button>
                                                }
                                            </text>, style: "col3Width", canSort: false),

                                        grid.Column("TrainingConfirmationID", "Event ID",
                                        format:
                                        @<text>
                                            <div style='width:140px;'>
                                                <span>@item.TrainingConfirmationID</span>
                                            </div>
                                        </text>, canSort: false),
                                            grid.Column("CountryName", "Country Name",
                                        format:
                                        @<text>
                                            <div style='width:85px;'>
                                                <span>@item.CountryName</span>
                                            </div>
                                        </text>, canSort: false),
                                                grid.Column("TotalRevenueAmount", "Revenue Amount", format:
                                                @<text>
                                                    <div style='width:100px;'>
                                                        @if (item.TotalRevenueAmount != null)
                                                        {
                                                            <span class="center">
                                                                $&nbsp;@ConvertToInt64(item.TotalRevenueAmount)
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="center">
                                                                @ConvertToInt64(item.TotalRevenueAmount)
                                                            </span>
                                                        }
                                                    </div>
                                                </text>, canSort: false, style: "center"),
                                                grid.Column("TotalRevenueReferenceDoc", "Revenue Reference Doc",
                                                format:
                                                @<text>
                                                    <div style='width:170px;'>
                                                        <span class="center">
                                                            <a style="cursor:pointer;text-decoration:underline;" href="~/Uploads/ft_@item.FinancialTransactionId/TotalRevenue/@item.TotalRevenueReferenceDoc" target="_blank">@item.TotalRevenueReferenceDoc</a>
                                                        </span>
                                                    </div>
                                                </text>, canSort: false),
                                                grid.Column("TotalRevenueRemarks", "Revenue Remarks",
                                                format:
                                                @<text>
                                                    <div style='width:110px;'>
                                                        @if (item.TotalRevenueRemarks != null && item.TotalRevenueRemarks.ToString().Length > 20)
                                                        {
                                                            <a style="cursor:pointer;text-decoration:underline;">
                                                                <span onmouseover="mouseover(this)" onmouseout="mouseleave(this)" data-placement="top" data-toggle="popover" data-html="true" data-title="Remarks" data-content="@CheckString(item.TotalRevenueRemarks)" data-original-title="" title="">@item.TotalRevenueRemarks.ToString().Substring(0, 20)...</span>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <span>@item.TotalRevenueRemarks</span>
                                                        }
                                                    </div>
                                                </text>, canSort: false),

                                                grid.Column("TrainerExpensesAmount", " Trainer Expenses Amount", format:
                                                @<text>
                                                    <div style='width:150px;'>
                                                        @if (item.TrainerExpensesAmount != null)
                                                        {
                                                            <span class="center">
                                                                $&nbsp;@ConvertToInt64(item.TrainerExpensesAmount)
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="center">
                                                                @ConvertToInt64(item.TrainerExpensesAmount)
                                                            </span>
                                                        }
                                                    </div>
                                                </text>, canSort: false, style: "center"),
                                                grid.Column("TrainerExpensesReferenceDoc", "Trainer Expenses Reference Doc",
                                                format:
                                                @<text>
                                                    <div style='width:190px;'>
                                                        <span class="center">
                                                            <a style="cursor:pointer;text-decoration:underline;" href="~/Uploads/ft_@item.FinancialTransactionId/TrainerExpenses/@item.TrainerExpensesReferenceDoc" target="_blank">@item.TrainerExpensesReferenceDoc</a>
                                                        </span>
                                                    </div>
                                                </text>, canSort: false),
                                                grid.Column("TrainerExpensesRemarks", "Trainer Expenses Remarks",
                                                format:
                                                @<text>
                                                    <div style='width:155px;'>
                                                        @if (item.TrainerExpensesRemarks != null && item.TrainerExpensesRemarks.ToString().Length > 20)
                                                        {
                                                            <a style="cursor:pointer;text-decoration:underline;">
                                                                <span onmouseover="mouseover(this)" onmouseout="mouseleave(this)" data-placement="top" data-toggle="popover" data-html="true" data-title="Remarks" data-content="@CheckString(item.TrainerExpensesRemarks)" data-original-title="" title="">@item.TrainerExpensesRemarks.ToString().Substring(0, 20)...</span>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <span>@item.TrainerExpensesRemarks</span>
                                                        }
                                                    </div>
                                                </text>, canSort: false),
                                                   grid.Column("TrainerTravelExpensesAmount", " Trainer Travel Expenses Amount", format:
                                                @<text>
                                                    <div style='width:190px;'>
                                                        @if (item.TrainerTravelExpensesAmount != null)
                                                        {
                                                            <span class="center">
                                                                $&nbsp;@ConvertToInt64(item.TrainerTravelExpensesAmount)
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="center">
                                                                @ConvertToInt64(item.TrainerTravelExpensesAmount)
                                                            </span>
                                                        }
                                                    </div>
                                                </text>, canSort: false, style: "center"),
                                                grid.Column("TrainerTravelExpensesReferenceDoc", "Trainer TravelExpenses ReferenceDoc",
                                                format:
                                                @<text>
                                                    <div style='width:220px;'>
                                                        <span class="center">
                                                            <a style="cursor:pointer;text-decoration:underline;" href="~/Uploads/ft_@item.FinancialTransactionId/TrainerTravelExpenses/@item.TrainerTravelExpensesReferenceDoc" target="_blank">@item.TrainerTravelExpensesReferenceDoc</a>
                                                        </span>
                                                    </div>
                                                </text>, canSort: false),
                                                grid.Column("TrainerTravelExpensesRemarks", "Trainer TravelExpenses Remarks",
                                                format:
                                                @<text>
                                                    <div style='width:195px;'>
                                                        @if (item.TrainerTravelExpensesRemarks != null && item.TrainerTravelExpensesRemarks.ToString().Length > 20)
                                                        {
                                                            <a style="cursor:pointer;text-decoration:underline;">
                                                                <span onmouseover="mouseover(this)" onmouseout="mouseleave(this)" data-placement="top" data-toggle="popover" data-html="true" data-title="Remarks" data-content="@CheckString(item.TrainerTravelExpensesRemarks)" data-original-title="" title="">@item.TrainerTravelExpensesRemarks.ToString().Substring(0, 20)...</span>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <span>@item.TrainerTravelExpensesRemarks</span>
                                                        }
                                                    </div>
                                                </text>, canSort: false),

                                                grid.Column("LocalExpensesAmount", " Local Expenses Amount", format:
                                                @<text>
                                                    <div style='width:150px;'>
                                                        @if (item.LocalExpensesAmount != null)
                                                        {
                                                            <span class="center">
                                                                $&nbsp;@ConvertToInt64(item.LocalExpensesAmount)
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="center">
                                                                @ConvertToInt64(item.LocalExpensesAmount)
                                                            </span>
                                                        }
                                                    </div>
                                                </text>, canSort: false, style: "center"),
                                                grid.Column("LocalExpensesReferenceDoc", "LocalExpenses ReferenceDoc",
                                                format:
                                                @<text>
                                                    <div style='width:170px;'>
                                                        <span class="center">
                                                            <a style="cursor:pointer;text-decoration:underline;" href="~/Uploads/ft_@item.FinancialTransactionId/LocalExpenses/@item.LocalExpensesReferenceDoc" target="_blank">@item.LocalExpensesReferenceDoc</a>
                                                        </span>
                                                    </div>
                                                </text>, canSort: false),
                                                grid.Column("LocalExpensesRemarks", "LocalExpenses Remarks",
                                                format:
                                                @<text>
                                                    <div style='width:140px;'>
                                                        @if (item.LocalExpensesRemarks != null && item.LocalExpensesRemarks.ToString().Length > 20)
                                                        {
                                                            <a style="cursor:pointer;text-decoration:underline;">
                                                                <span onmouseover="mouseover(this)" onmouseout="mouseleave(this)" data-placement="top" data-toggle="popover" data-html="true" data-title="Remarks" data-content="@CheckString(item.LocalExpensesRemarks)" data-original-title="" title="">@item.LocalExpensesRemarks.ToString().Substring(0, 20)...</span>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <span>@item.LocalExpensesRemarks</span>
                                                        }
                                                    </div>
                                                </text>, canSort: false),

                                             grid.Column("CoursewareMaterialAmount", " Courseware Material Amount", format:
                                            @<text>
                                                <div style='width:170px;'>
                                                    @if (item.CoursewareMaterialAmount != null)
                                                    {
                                                        <span class="center">
                                                            $&nbsp;@ConvertToInt64(item.CoursewareMaterialAmount)
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="center">
                                                            @ConvertToInt64(item.CoursewareMaterialAmount)
                                                        </span>
                                                    }
                                                </div>
                                            </text>, canSort: false, style: "center"),
                                                grid.Column("CoursewareMaterialReferenceDoc", "Courseware Material ReferenceDoc",
                                                format:
                                                @<text>
                                                    <div style='width:210px;'>
                                                        <span class="center">
                                                            <a style="cursor:pointer;text-decoration:underline;" href="~/Uploads/ft_@item.FinancialTransactionId/CoursewareMaterial/@item.CoursewareMaterialReferenceDoc" target="_blank">@item.CoursewareMaterialReferenceDoc</a>
                                                        </span>
                                                    </div>
                                                </text>, canSort: false),
                                                grid.Column("CoursewareMaterialRemarks", "Courseware Material Remarks",
                                                format:
                                                @<text>
                                                    <div style='width:175px;'>
                                                        @if (item.CoursewareMaterialRemarks != null && item.CoursewareMaterialRemarks.ToString().Length > 20)
                                                        {
                                                            <a style="cursor:pointer;text-decoration:underline;">
                                                                <span onmouseover="mouseover(this)" onmouseout="mouseleave(this)" data-placement="top" data-toggle="popover" data-html="true" data-title="Remarks" data-content="@CheckString(item.CoursewareMaterialRemarks)" data-original-title="" title="">@item.CoursewareMaterialRemarks.ToString().Substring(0, 20)...</span>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <span>@item.CoursewareMaterialRemarks</span>
                                                        }
                                                    </div>
                                                </text>, canSort: false),

                                                 grid.Column("MiscExpensesAmount", " MiscExpenses Amount", format:
                                                @<text>
                                                    <div style='width:140px;'>
                                                        @if (item.MiscExpensesAmount != null)
                                                        {
                                                            <span class="center">
                                                                $&nbsp;@ConvertToInt64(item.MiscExpensesAmount)
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="center">
                                                                @ConvertToInt64(item.MiscExpensesAmount)
                                                            </span>
                                                        }
                                                    </div>
                                                </text>, canSort: false, style: "center"),
                                                grid.Column("MiscExpensesReferenceDoc", "MiscExpenses ReferenceDoc",
                                                format:
                                                @<text>
                                                    <div style='width:170px;'>
                                                        <span class="center">
                                                            <a style="cursor:pointer;text-decoration:underline;" href="~/Uploads/ft_@item.FinancialTransactionId/MiscExpenses/@item.MiscExpensesReferenceDoc" target="_blank">@item.MiscExpensesReferenceDoc</a>
                                                        </span>
                                                    </div>
                                                </text>, canSort: false),
                                                grid.Column("MiscExpensesRemarks", "MiscExpenses Remarks",
                                                format:
                                                @<text>
                                                    <div style='width:140px;'>
                                                        @if (item.MiscExpensesRemarks != null && item.MiscExpensesRemarks.ToString().Length > 20)
                                                        {
                                                            <a style="cursor:pointer;text-decoration:underline;">
                                                                <span onmouseover="mouseover(this)" onmouseout="mouseleave(this)" data-placement="top" data-toggle="popover" data-html="true" data-title="Remarks" data-content="@CheckString(item.MiscExpensesRemarks)" data-original-title="" title="">@item.MiscExpensesRemarks.ToString().Substring(0, 20)...</span>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <span>@item.MiscExpensesRemarks</span>
                                                        }
                                                    </div>
                                                </text>, canSort: false),
                                            grid.Column("GrossProfit", "Gross Profit",
                                                format:
                                                @<text>
                                                    <div style='width:140px;'>
                                                        @if (item.GrossProfit != null)
                                                        {
                                                            <span class="center">
                                                                $&nbsp;@ConvertToInt64(item.GrossProfit)
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="center">
                                                                @ConvertToInt64(item.GrossProfit)
                                                            </span>
                                                        }
                                                    </div>

                                                </text>, canSort: false),
                                            grid.Column("ProfitAndLossPercent", "Profit And Loss Percent",
                                                format:
                                                @<text>
                                                    <div style='width:140px;'>
                                                        @if (item.ProfitAndLossPercent != null)
                                                        {
                                                            <span class="center">
                                                                @ConvertToInt64(item.ProfitAndLossPercent)&nbsp;%
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="center">
                                                                @ConvertToInt64(item.ProfitAndLossPercent)
                                                            </span>
                                                        }
                                                    </div>

                                                </text>, canSort: false)
                                                     ))

                                </div>
                            </div>
                            <div class="col-sm-12 css10">
                                <div class="pull-right">@grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-sm")</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section SectionScripts {
    <script type="text/javascript">
        $(function () {
            $('#liFinancialTransactionList').addClass('active');

            $("#gridContent tbody tr").each(function (i, row) {
                debugger;
                var $actualRow = $(row);
                if ($actualRow.find('#hdnFinancialTransactionId').val() != -1) {
                    $actualRow.css('background-color', '#b3f7da');
                }

            });  
        });

        function ChangeMonth() {
            window.location = '@Url.Action("FinancialTransactionList", "FinancialTransaction", new { month = "", year = "" })' + '?month=' + $('#Month').val() + "&year=" + $('#Year').val();
        };

        @*function UpdateFinancialTransactionLocalAmount() {
            debugger;
            if ($('#frmFinancial').valid()) {
                var FinancialTransaction =
                    {
                        "CurrencyExRate": $('#financialTransaction_CurrencyExRate').val(),
                        "Country": $('#financialTransaction_Country').val(),
                        "CurrencyCode": $('#financialTransaction_CurrencyCode').val(),
                        "FinancialTransactionId": $('#financialTransaction_FinancialTransactionId').val(),
                        "TrainingConfirmationID": $('#financialTransaction_TrainingConfirmationID').val()
                    };
                $.ajax({
                    url: '@Url.Content("~/FinancialTransaction/UpdateFinancialTransactionLocalAmount/")',
                    data: JSON.stringify(FinancialTransaction),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        alert(data);
                        location.reload(true);
                    }
                });
            }
        }*@

        function SaveFinancialTransaction() {
            if ($('#frmFinancial').valid()) {

                debugger;
                $('#Amount').removeAttr('disabled');
                $('#LocalAmount').removeAttr('disabled');
                $('#frmFinancial').submit();
            }
        };


        @*function SubmitFinancialTransaction() {
            if ($('#frmFinancial').valid()) {
                var FinancialTransaction =
                    {
                        "FinancialTransactionId": $('#financialTransaction_FinancialTransactionId').val(),
                        "TrainingConfirmationID": $('#financialTransaction_TrainingConfirmationID').val()
                    };
                $.ajax({
                    url: '@Url.Content("~/FinancialTransaction/SubmitFinancialTransaction/")',
                    data: JSON.stringify(FinancialTransaction),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        alert(data);
                        location.reload(true);
                    }
                });
            }
        }*@

        @*function EditFinancialTransactionDetail(Id) {
            debugger;
            if($('#frmFinancial').valid())
            {
                //var currencyExRate = $('#financialTransaction_CurrencyExRate').val();
                $.ajax({
                    url: '@Url.Content("~/FinancialTransaction/FinancialTransactionDetail?Id=")' + Id ,
                    method: 'get',
                    contentType: 'text/html',
                    success: function (html) {
                    },
                    error: function (err) {

                    }
                });
            }

        }*@

        @*function CountryChange(el) {
            if (el.value) {
                $.ajax({
                    url: '@Url.Content("~/FinancialTransaction/GetCurrency?Id=")' + el.value,
                    method: 'GET',
                    contentType: 'application/json',
                    success: function (data) {
                        debugger;
                        $("#financialTransaction_CurrencyCode").val(data);
                    },
                    error: function (err) {
                    }
                });
            }
            else {
                $("#financialTransaction_CurrencyCode").val('');
            }
        };*@
        //function CalculateLocalAmount() {
        //    debugger;
        //    var currencyrate = parseInt($('#financialTransaction_CurrencyExRate').val());
        //    var Amount = parseInt($('#Amount').val());
        //    var result = currencyrate * Amount;
        //    $('#LocalAmount').val(result);
        //    if (isNaN(Amount)) {
        //        $('#LocalAmount').val('');
        //    }
        //}
        $('#frmFinancial').validate({
            rules: {
                'financialTransaction.Country': {
                    required: true
                },
                'financialTransaction.CurrencyCode': {
                    required: true
                },
                'financialTransaction.CurrencyExRate': {
                    required: true,
                }
                ,
                'Amount': {
                    required: true,
                },
                'financialTransaction.TrainingConfirmationID':{
                    required:true
                }
            }
        });
        function mouseleave(el) {
            $(el).popover("hide");
        }

        function mouseover(el) {
            $(el).popover("show");
        }
        //function ValidateTheExValue()
        //{
        //    var currencyrate = parseInt($('#financialTransaction_CurrencyExRate').val());
        //    if(currencyrate==0)
        //    {
        //        parseInt($('#financialTransaction_CurrencyExRate').val(''));
        //    }
        //}
    </script>
}
