@model EDU.Web.ViewModels.FinancialTransactionModel.FinancialTransactionsVM
@{
    // ViewBag.Title = "FinancialTransactionDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page page-forms-elements">
    @using (Html.BeginForm("SaveFinancialTransactionDetail", "FinancialTransaction", FormMethod.Post, new { id = "frmFinancialTransaction", name = "frmFinancialTransaction", autocomplete = "off" }))
    {
        @Html.HiddenFor(x => x.FinancialTransactionId)
        <div class="page-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default panel-hovered panel-stacked mb30">
                        <div class="panel-heading">@ViewBag.Title</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2 col-md-offset-1">
                                        @Html.TextBoxFor(x => x.TrainingConfirmationID, new { @class = "form-control", @readonly = true })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(x => x.Country,
                        new SelectList((List<EZY.EDU.Contract.Branch>)ViewData["CountryData"], "BranchId", "BranchName"),
                        "Select Country", new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                    <div class="col-md-1">
                                        @Html.DropDownListFor(x => x.CurrencyCode,
                                        new SelectList((List<EDU.Web.Models.Lookup>)ViewData["CurrencyList"], "LookupCode", "LookupCode"),
                                              "Select Currency", new { @class = "form-control " })
                                    </div>
                                    <div class="col-md-1">
                                        @Html.TextBoxFor(x => x.CurrencyExRate, "{0:#.#}", new { @class = "form-control numCss", @placeholder = "Currency Ex Rate" })
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-2 col-md-offset-2">
                                    <h4>Amount</h4>
                                </div>
                                <div class="col-md-2">
                                    <h4>Local Amount</h4>
                                </div>
                                <div class="col-md-2">
                                    <h4>Reference Doc</h4>
                                </div>
                                <div class="col-md-2">
                                    <h4>Remarks</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Total Revenue</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.TotalRevenueAmount, "{0:#.#}", new { @class = "form-control numCss",  @readonly = true })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.TotalRevenueLocalAmount, "{0:#.#}", new { @class = "form-control numCss", @readonly = true })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.TotalRevenueReferenceDoc, new { @class = "form-control", @type = "file" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextAreaFor(x => x.TotalRevenueRemarks, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right"> Trainer Expenses</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.TrainerExpensesAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.TrainerExpensesLocalAmount, "{0:#.#}", new { @class = "form-control numCss", @readonly = true })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.TrainerExpensesReferenceDoc, new { @class = "form-control", @type = "file" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextAreaFor(x => x.TrainerExpensesRemarks, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        <span style="width:135px" class="pull-right"> Trainer Travel Expenses</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.TrainerTravelExpensesAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.TrainerTravelExpensesLocalAmount, "{0:#.#}", new { @class = "form-control", @readonly = true })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.TrainerTravelExpensesReferenceDoc, new { @class = "form-control", @type = "file" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextAreaFor(x => x.TrainerTravelExpensesRemarks, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right"> Local Expenses</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.LocalExpensesAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.LocalExpensesLocalAmount, "{0:#.#}", new { @class = "form-control", @readonly = true })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.LocalExpensesReferenceDoc, new { @class = "form-control", @type = "file" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextAreaFor(x => x.LocalExpensesRemarks, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Courseware Material</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.CoursewareMaterialAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.CoursewareMaterialLocalAmount, "{0:#.#}", new { @class = "form-control", @readonly = true })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.CoursewareMaterialReferenceDoc, new { @class = "form-control", @type = "file" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextAreaFor(x => x.CoursewareMaterialRemarks, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Misc Expenses</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.MiscExpensesAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.MiscExpensesLocalAmount, "{0:#.#}", new { @class = "form-control", @readonly = true })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.MiscExpensesReferenceDoc, new { @class = "form-control", @type = "file" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextAreaFor(x => x.MiscExpensesRemarks, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <button type="button" onclick="SaveFinancialTransactionDetail()" class="btn btn-success btn-frmt green btn-sm"><i class="fa fa-floppy-o"></i>&nbsp;Save</button> &nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-default btn-sm" type="button" onclick="location.href = '@Url.Content("~/FinancialTransaction/FinancialTransactionList")'"><i class="fa fa-backward"></i>&nbsp;Back</button>&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section SectionScripts{
    <script type="text/javascript">
        $('#frmFinancialTransaction').validate({
            rules: {
                CurrencyCode: {
                    required: true
                },
                CurrencyExRate: {
                    required: true
                }
            }
        })

        function SaveFinancialTransactionDetail() {
            debugger;
            if ($('#frmFinancialTransaction').valid()) {
                $('#Country').removeAttr('disabled');
                $('#TrainingConfirmationID').removeAttr('disabled');
                $('#TotalRevenueAmount').removeAttr('disabled');
                $('#frmFinancialTransaction').submit();
            }
        }
    </script>
}

