@model IEnumerable<EDU.Web.Models.TrainingConfirmation>

@{
    ViewBag.Title = "FinancialTransactionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form name="frmFinancial" id="frmFinancial">
    <section class="content">
        <div class="box box-dnex">
            <div class="box-header with-border">
                <div class="row">
                    <section class="content-header">
                        <ol class="breadcrumb">
                            @*<li><a href='@Url.Content("~/Home/Education")'><i class="fa fa-dashboard"></i> Home</a></li>
                                <li class="active">Revenue</li>*@
                        </ol>
                    </section>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            <span>Event No.</span>
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(x => x.FirstOrDefault().TrainingConfirmationID,
                                 new SelectList((List<EDU.Web.Models.TrainingConfirmation>)ViewData["TrainingConfirmation"], "TrainingConfirmationID", "TrainingConfirmationID"),
                                 "Select Event No.", new { @class = "form-control", onchange = "ChangeEventID(this);" })
                        </div>
                        <label class="col-md-1 control-label">
                            <span>Currency</span>
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(x => x.FirstOrDefault().TrainingConfirmationID,
                             new SelectList((List<EZY.EDU.Contract.Lookup>)ViewData["CurrencyList"], "LookupCode", "LookupCode"),
                             "Select Currency", new { @class = "form-control" })
                        </div>
                        <label class="col-md-1 control-label">
                            <span>Country</span>
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(x => x.FirstOrDefault().TrainingConfirmationID,
                             new SelectList((List<EZY.EDU.Contract.Branch>)ViewData["CountryData"], "BranchID", "BranchName"),
                             "Select Country", new { @class = "form-control", onchange = "CountryChange(this);" })
                        </div>
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-12">
                        @{
                            var grid = new WebGrid(Model);
                        }
                        <div id="gridContent">
                            @grid.GetHtml(
                                     tableStyle: "table table-striped",
                                     mode: WebGridPagerModes.All,
                                     columns:
                                        grid.Columns(
                                        grid.Column("Product", "DESCRIPTION"),
                                        grid.Column("Course", "AMOUNT", format: @<text> <span class="display-mode"> @(item.Course > 0 ? Convert.ToInt64(item.Course) : "") </span>  <input type="text" name="Course" id="Course" value="@(item.Course > 0 ?Convert.ToInt64(item.Course) : "")" class="edit-mode numCss" /> </text>, style: ""),
                                        grid.Column("TotalNoOfDays", "Reference Doc", format: @<text> <span class="display-mode"> @(item.TotalNoOfDays > 0 ? Convert.ToInt64(item.TotalNoOfDays) : "") </span>  <input type="file" name="TotalNoOfDays" id="TotalNoOfDays" value="@(item.TotalNoOfDays > 0 ?Convert.ToInt64(item.TotalNoOfDays) : "")" class="edit-mode numCss" /> </text>, style: ""),
                                        grid.Column("NoOfStudents", "REMARKS", format: @<text> <span class="display-mode"> @(item.NoOfStudents > 0 ? Convert.ToInt64(item.NoOfStudents) : "") </span>  <input type="text" name="NoOfStudents" id="NoOfStudents" value="@(item.NoOfStudents > 0 ?Convert.ToInt64(item.NoOfStudents) : "")" class="edit-mode numCss" /> </text>, style: ""),
                                        grid.Column("", format: @<text>
                                                @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                                {
                                                    <button type="button" class="edit-user display-mode btn btn-primary btn-xs waves-effect"><i class="fa fa-pencil-square-o" style="padding-left: 5px;"></i></button>
                                                }
                                                <button type="button" class="save-user edit-mode btn btn-success btn-xs waves-effect"><i class="fa fa-floppy-o" style="padding-left: 5px;"></i></button>
                                                <button type="button" class="cancel-user edit-mode btn btn-default btn-xs waves-effect"><i class="fa fa-times" style="padding-left: 5px;"></i></button>
                                        </text>, style: "col3Width", canSort: false)
                                        ))
                        </div>
                    </div>
                </div>
                <div class="modal-footer css10">
                    <button type="button" onclick="SaveFinancialTransaction()" class="btn btn-primary btn-sm"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                    <button type="button" onclick="SubmitFinancialTransaction()" class="btn btn-success btn-sm"><i class="fa fa-floppy-o"></i>&nbsp;Submit</button>
                </div>
            </div>
        </div>
    </section>
</form>
@section SectionScripts {
    <script type="text/javascript">
        $(document).ready(function () {
           
        });
        $(function () {
            debugger;
            $('.edit-mode').hide();
            $('.edit-user, .cancel-user').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit-mode, .display-mode').toggle();
            });

            $('.save-user').on('click',function()
            {
               
            })
        });
       
        function SaveFinancialTransaction()
        {

        }
        function SubmitFinancialTransaction() {

        }
        </script>
}
