@using Newtonsoft.Json;
@model IEnumerable<EDU.Web.ViewModels.DashboardModel.ProductTotalRevenueVM>

@{
    ViewBag.Title = "Achievement";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var CountryData = (List<EZY.EDU.Contract.Branch>)ViewData["CountryData"];
    var productData = (List<EZY.EDU.Contract.EduProduct>)ViewData["ProductData"];
}
<style>
    .round {
        border-radius: 10px;
        width: 10px;
    }
</style>
<div class="page page-forms-elements">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <h4>PRODUCT - Achievement  YTD</h4>
                    <div class="box-tools">
                        <button type="button" class="btn btn-primary btn-sm waves-effect" data-toggle="modal" onclick="PrintProductAchievementReportList()"><i class="fa fa-print"></i>Print</button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row css10">
                        <div class="form-group">
                            <label class="col-md-1 control-label">
                                <span class="pull-right">Year</span>
                            </label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(x => x.FirstOrDefault().Year, Enumerable.Range(2014, 14).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control input-sm", onchange = "ChangeMonth();", @style = "width:60%" })
                            </div>
                        </div>
                    </div>
                    <div class="row css10">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="row" id="dvChartdoughnut">
                                    <div class="col-md-12">
                                        <div id="jqChartdoughnut"></div>
                                    </div>
                                </div>
                                <div class="row css10" id="dvProducts">
                                    <div class="col-md-12">
                                        <div id="jqChart"></div>
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div id="legend">
                                        <div><h4>Products</h4></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6 css10" id="dvBangladesh" >
                                        <div id="jqChartdoughnut0" style="border:1px solid gray"></div>
                                    </div>
                                    <div class="col-md-6 css10" id="dvCombodia">
                                        <div id="jqChartdoughnut1" style="border:1px solid gray"></div>
                                    </div>

                                    <div class="col-md-6 css10" id="dvMyanmar">
                                        <div id="jqChartdoughnut4" style="border:1px solid gray"></div>
                                    </div>
                                    <div class="col-md-6 css10" id="dvSrilanka">
                                        <div id="jqChartdoughnut8" style="border:1px solid gray"></div>
                                    </div>

                                    <div class="col-md-6 css10" id="dvPakistan">
                                        <div id="jqChartdoughnut5" style="border:1px solid gray"></div>
                                    </div>
                                    <div class="col-md-6 css10" id="dvPhillipines">
                                        <div id="jqChartdoughnut6" style="border:1px solid gray"></div>
                                    </div>

                                    <div class="col-md-6 css10" id="dvVietnam">
                                        <div id="jqChartdoughnut9" style="border:1px solid gray"></div>
                                    </div>
                                    <div class="col-md-6 css10" id="dvLaos">
                                        <div id="jqChartdoughnut3" style="border:1px solid gray"></div>
                                    </div>

                                    <div class="col-md-6 css10" id="dvSingapore">
                                        <div id="jqChartdoughnut7" style="border:1px solid gray"></div>
                                    </div>
                                    <div class="col-md-6 css10" id="dvIndia">
                                        <div id="jqChartdoughnut2" style="border:1px solid gray"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
</div>
@section SectionScripts {

    <script lang="javascript" type="text/javascript">

        function ChangeMonth() {
            window.location = '@Url.Action("Achievement", "Dashboard", new { year = "" })' + '?year=' + $('#Year').val();
        };

        function PrintProductAchievementReportList() {
            var country = null;
            @if (Session["AccessRights"].ToString() == "false")
            {
            <text>
                country = @Session["BranchId"].ToString();
            </text>
            }
            var year = $('#Year').val();
            $.ajax({
                url: '@Url.Content("~/Report/ProductAchievementReport?country=")' + country + '&year=' + year,
                method: 'get',
                contentType: 'text/html',
                success: function (html) {
                    $('#myModal').html(html);
                    $('#myModal').modal('show');
                },
                error: function (err) {
                }
            });
        }

        $(function () {

            @if (Session["UserID"].ToString().ToUpper() == "MGMTSL" || Session["UserID"].ToString().ToUpper() == "ACCSL" || Session["UserID"].ToString().ToUpper() == "SALESSL" || Session["UserID"].ToString().ToUpper() == "CXOSL@EZYINTELLECT.COM")
         {
                <text>
            $('#dvChartdoughnut').hide();
            $('#dvProducts').hide();
            $('#dvBangladesh').hide();
            $('#dvCombodia').hide();
            $('#dvMyanmar').hide();
            $('#dvPakistan').hide();
            $('#dvPhillipines').hide();
            $('#dvVietnam').hide();
            $('#dvLaos').hide();
            $('#dvSingapore').hide();
            $('#dvIndia').hide();

            </text>
         }
         else if (Session["UserID"].ToString().ToUpper() == "MGMTVN" || Session["UserID"].ToString().ToUpper() == "ACCVN" || Session["UserID"].ToString().ToUpper() == "SALESVN" || Session["UserID"].ToString().ToUpper() == "CXOVN@EZYINTELLECT.COM")
            {
                <text>
            $('#dvChartdoughnut').hide();
            $('#dvProducts').hide();
            $('#dvBangladesh').hide();
            $('#dvCombodia').hide();
            $('#dvMyanmar').hide();
            $('#dvPakistan').hide();
            $('#dvPhillipines').hide();
            $('#dvSrilanka').hide();
            $('#dvLaos').hide();
            $('#dvSingapore').hide();
            $('#dvIndia').hide();

            </text>
            }
         else if (Session["UserID"].ToString().ToUpper() == "MGMTBD" || Session["UserID"].ToString().ToUpper() == "ACCBD" || Session["UserID"].ToString().ToUpper() == "SALESBD" || Session["UserID"].ToString().ToUpper() == "CXOBD@EZYINTELLECT.COM")
            {
            <text>
            $('#dvChartdoughnut').hide();
            $('#dvProducts').hide();
            $('#dvSrilanka').hide();
            $('#dvCombodia').hide();
            $('#dvMyanmar').hide();
            $('#dvPakistan').hide();
            $('#dvPhillipines').hide();
            $('#dvVietnam').hide();
            $('#dvLaos').hide();
            $('#dvSingapore').hide();
            $('#dvIndia').hide();

            </text>
            }
         else if (Session["UserID"].ToString().ToUpper() == "MGMTIN" || Session["UserID"].ToString().ToUpper() == "ACCIN" || Session["UserID"].ToString().ToUpper() == "SALESIN" || Session["UserID"].ToString().ToUpper() == "CXOIN@EZYINTELLECT.COM")
            {
            <text>
            $('#dvChartdoughnut').hide();
            $('#dvProducts').hide();
            $('#dvBangladesh').hide();
            $('#dvCombodia').hide();
            $('#dvMyanmar').hide();
            $('#dvPakistan').hide();
            $('#dvPhillipines').hide();
            $('#dvVietnam').hide();
            $('#dvLaos').hide();
            $('#dvSingapore').hide();
            $('#dvSrilanka').hide();

            </text>
            }
         else if (Session["UserID"].ToString().ToUpper() == "MGMTKH" || Session["UserID"].ToString().ToUpper() == "ACCKH" || Session["UserID"].ToString().ToUpper() == "SALESKH" || Session["UserID"].ToString().ToUpper() == "CXOKH@EZYINTELLECT.COM")
            {
            <text>
            $('#dvChartdoughnut').hide();
            $('#dvProducts').hide();
            $('#dvBangladesh').hide();
            $('#dvSrilanka').hide();
            $('#dvMyanmar').hide();
            $('#dvPakistan').hide();
            $('#dvPhillipines').hide();
            $('#dvVietnam').hide();
            $('#dvLaos').hide();
            $('#dvSingapore').hide();
            $('#dvIndia').hide();

            </text>
            }
         else if (Session["UserID"].ToString().ToUpper() == "MGMTLA" || Session["UserID"].ToString().ToUpper() == "ACCLA" || Session["UserID"].ToString().ToUpper() == "SALESLA" || Session["UserID"].ToString().ToUpper() == "CXOLA@EZYINTELLECT.COM")
            {
            <text>
            $('#dvChartdoughnut').hide();
            $('#dvProducts').hide();
            $('#dvBangladesh').hide();
            $('#dvCombodia').hide();
            $('#dvMyanmar').hide();
            $('#dvPakistan').hide();
            $('#dvPhillipines').hide();
            $('#dvVietnam').hide();
            $('#dvSrilanka').hide();
            $('#dvSingapore').hide();
            $('#dvIndia').hide();

            </text>
            }
         else if (Session["UserID"].ToString().ToUpper() == "MGMTMM" || Session["UserID"].ToString().ToUpper() == "ACCMM" || Session["UserID"].ToString().ToUpper() == "SALESMM" || Session["UserID"].ToString().ToUpper() == "CXOMM@EZYINTELLECT.COM")
            {
            <text>
            $('#dvChartdoughnut').hide();
            $('#dvProducts').hide();
            $('#dvBangladesh').hide();
            $('#dvCombodia').hide();
            $('#dvSrilanka').hide();
            $('#dvPakistan').hide();
            $('#dvPhillipines').hide();
            $('#dvVietnam').hide();
            $('#dvLaos').hide();
            $('#dvSingapore').hide();
            $('#dvIndia').hide();

            </text>
            }
         else if (Session["UserID"].ToString().ToUpper() == "MGMTPH" || Session["UserID"].ToString().ToUpper() == "ACCPH" || Session["UserID"].ToString().ToUpper() == "SALESPH" || Session["UserID"].ToString().ToUpper() == "CXOPH@EZYINTELLECT.COM")
            {
            <text>
            $('#dvChartdoughnut').hide();
            $('#dvProducts').hide();
            $('#dvBangladesh').hide();
            $('#dvCombodia').hide();
            $('#dvMyanmar').hide();
            $('#dvPakistan').hide();
            $('#dvSrilanka').hide();
            $('#dvVietnam').hide();
            $('#dvLaos').hide();
            $('#dvSingapore').hide();
            $('#dvIndia').hide();

            </text>
            }
         else if (Session["UserID"].ToString().ToUpper() == "MGMTPK" || Session["UserID"].ToString().ToUpper() == "ACCPK" || Session["UserID"].ToString().ToUpper() == "SALESPK" || Session["UserID"].ToString().ToUpper() == "CXOPK@EZYINTELLECT.COM")
            {
            <text>
            $('#dvChartdoughnut').hide();
            $('#dvProducts').hide();
            $('#dvBangladesh').hide();
            $('#dvCombodia').hide();
            $('#dvMyanmar').hide();
            $('#dvSrilanka').hide();
            $('#dvPhillipines').hide();
            $('#dvVietnam').hide();
            $('#dvLaos').hide();
            $('#dvSingapore').hide();
            $('#dvIndia').hide();

            </text>
            }

            $('#liDashboardAchievement').addClass('active');


            var fillStyles = ['#fb0000', '#00a65a', '#333333',  '#8cb1f3', '#8a2be2',
                '#bcb7c1', '#A52A2A', '#DEB887', '#5F9EA0', '#D2691E', '#FF7F50',
                '#6495ED', '#DC143C', '#00FFFF', '#00008B', '#008B8B', '#B8860B',
                '#006400', '#8B008B', '#556B2F', '#FF8C00', '#8B0000', '#FF1493',
                '#1E90FF', '#B22222', '#228B22', '#008000', '#4B0082', '#F08080',
                '#00FF00', '#0000CD', '#FF4500', '#800080', '#9ACD32', '#008080',
            ];

            var myArray = @Html.Raw(JsonConvert.SerializeObject(productData));
            var $container = $("#legend");
            for (var i = 0; i < @productData.Count(); i++) {
                $container.append('<div class="row css10" style="height: 20px; padding-left:10px;" ><div class="col-md-1 round" style="height: 20px; background:' + fillStyles[i] + ';" id="answerdiv' + $container.children().length + '"><div class="col-md-11" style="padding-left:35px; padding-top:2px; white-space:nowrap"><b>' + myArray[i].ProductName + '</b></div></div></div>');
            }

            $('#jqChartdoughnut').jqChart({
                title: { text: '' },
                legend: {
                    title: 'Products',
                    visible:false
                },
                border: { visible:false },
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                series: [
                    {
                        type: 'doughnut',
                        innerExtent: 0.5,
                        outerExtent: 1.0,
                        fillStyles: ['#fb0000', '#00a65a', '#333333',  '#8cb1f3', '#8a2be2',
                            '#bcb7c1', '#A52A2A', '#DEB887', '#5F9EA0', '#D2691E', '#FF7F50',
                            '#6495ED', '#DC143C', '#00FFFF', '#00008B', '#008B8B', '#B8860B',
                            '#006400', '#8B008B', '#556B2F', '#FF8C00', '#8B0000', '#FF1493',
                            '#1E90FF', '#B22222', '#228B22', '#008000', '#4B0082', '#F08080',
                            '#00FF00', '#0000CD', '#FF4500', '#800080', '#9ACD32', '#008080',
                        ],
                        labels: {
                            stringFormat: '%.1f%%',
                            valueType: 'percentage',
                            font: '15px sans-serif',
                            fillStyle: 'white'
                        },
                        data: [ @foreach (var item in Model.GroupBy(x=>x.ProductName).ToList())
                        {
                            <text>
                                [
                                    '@item.FirstOrDefault().ProductName',
                                    @item.Sum(a=>a.AchievedRevenue)
                                ],
                            </text>
                        }]
                    }
                ]
            });
            //Tooltip//
            $('#jqChartdoughnut').bind('tooltipFormat', function (e, data) {
                return '<b>' + data.dataItem[0] + '</b><br />' +
                     "<b>$ " + data.value + "</b>";
            });
            //Tooltip//
            var i = 0;
            $('#jqChart').jqChart({
                title: { text: '' },
                border: { visible:false },
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                legend: {
                    visible: false,
                    customItems: [
                    @foreach (var item in Model.GroupBy(x => x.ProductName).ToList())
                    {
                    <text>
                        {
                            marker: {
                                type: 'rectangle',
                                fillStyle: fillStyles[i++]
                            },
                            text: {
                                text: '@item.FirstOrDefault().ProductName'
                            }
                        },
                    </text>
                    }
                    ],
                    title: {
                        text: 'Products',
                        font: '14px sans-serif',
                        fillStyle: 'red'
                    },
                    border: {
                        lineWidth: 2,
                        strokeStyle: 'green'
                    },
                    font: '12px sans-serif',
                    background: '#eeeeee',
                    margin: 10
                },
                axes: [
                    {
                        type: 'category',
                        location: 'bottom',
                        categories: [
                                        @foreach (var item in Model.GroupBy(x => x.ProductName).ToList())
                                        {
                                               <text>
                                             '',
                                                 </text>
                                         }
                        ],
                        labels: {

                        }
                    }
                ],
                series: [
                    {
                        type: 'column',
                        fillStyles: ['#fb0000', '#00a65a', '#333333',  '#8cb1f3', '#8a2be2',
                            '#bcb7c1', '#A52A2A', '#DEB887', '#5F9EA0', '#D2691E', '#FF7F50',
                            '#6495ED', '#DC143C', '#00FFFF', '#00008B', '#008B8B', '#B8860B',
                            '#006400', '#8B008B', '#556B2F', '#FF8C00', '#8B0000', '#FF1493',
                            '#1E90FF', '#B22222', '#228B22', '#008000', '#4B0082', '#F08080',
                            '#00FF00', '#0000CD', '#FF4500', '#800080', '#9ACD32', '#008080',
                        ],
                        data:[
                         @foreach (var info in Model.GroupBy(x => x.ProductName).ToList())
                         {
                        <text>
                                @info.Sum(a => a.AchievedRevenue),
                        </text>
                        }
                        ]
                    }
                ]
            });
            //Tooltip//
            $('#jqChart').bind('tooltipFormat', function (e, data) {
                return "<b>$ " + data.y + "</b>";
            });
            //Tooltip//


            //new charts
            var count = 0;
            @foreach (var item in CountryData)
            {
                <text>
            $('#jqChartdoughnut'+count).jqChart({
                title: {
                    text: '@item.BranchName',
                    font: '12px sans-serif'
                },
                legend: {
                    title: '',
                    visible:false
                },
                border: { visible:false },
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                series: [
                    {
                        type: 'doughnut',
                        innerExtent: 0.5,
                        outerExtent: 1.0,
                        labelsPosition: 'outside',
                        fillStyles: ['#fb0000', '#00a65a', '#333333',  '#8cb1f3', '#8a2be2',
                            '#bcb7c1', '#A52A2A', '#DEB887', '#5F9EA0', '#D2691E', '#FF7F50',
                            '#6495ED', '#DC143C', '#00FFFF', '#00008B', '#008B8B', '#B8860B',
                            '#006400', '#8B008B', '#556B2F', '#FF8C00', '#8B0000', '#FF1493',
                            '#1E90FF', '#B22222', '#228B22', '#008000', '#4B0082', '#F08080',
                            '#00FF00', '#0000CD', '#FF4500', '#800080', '#9ACD32', '#008080',
                        ],
                        labels: {
                            stringFormat: '%.1f%%',
                            valueType: 'percentage',
                            font: '12px sans-serif',
                            fillStyle: 'black'
                        },
                        data: [ @foreach (var info in Model.Where(x => x.Country == item.BranchID).ToList())
                        {
                            <text>
                                [
                                    '@info.ProductName',
                                     @Convert.ToInt64(info.AchievedRevenue)
                                ],
                            </text>
                        }]
                    }
                ]
            });
            //Tooltip//
            $('#jqChartdoughnut'+count).bind('tooltipFormat', function (e, data) {
                return '<b>' + data.dataItem[0] + '</b><br />' +
                     "<b>$ " + data.value + "</b>";
            });
            //Tooltip//
            count++;
            </text>
        }

            //End new charts



            @*var count = 0;
            @foreach (var item in CountryData)
                {
                   <text>
            var i = 0;
            $('#jqChart' + count).jqChart({
                title: {
                    text: '@item.BranchName',
                    font: '14px sans-serif'
                },
                border: { visible:false },
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                legend: {
                    visible: false,
                    allowHideSeries: true,
                    location: 'right',
                    customItems: [
                             @foreach (var info in Model.Where(x => x.Country == item.BranchID).ToList())
                             {
                                <text>
                        {
                            marker: {
                                type: 'rectangle',
                                fillStyle: fillStyles[i++]
                            },
                            text: {
                                text: '@info.ProductName'
                            }
                        },
                                </text>
                             }
                    ],
                    title: {
                        text: 'Products',
                        font: '14px sans-serif',
                        fillStyle: 'red'
                    },
                    border: {
                        lineWidth: 2,
                        strokeStyle: 'green'
                    },
                    font: '12px sans-serif',
                    margin: 10
                },
                axes: [
                    {
                        type: 'category',
                        location: 'bottom',
                        labels: {
                            font: '12px sans-serif'
                        },
                        allowHideSeries: false,
                        categories: [
                            @foreach (var info in Model.Where(x => x.Country == item.BranchID).ToList())
                            {
                                <text>
                                '',
                                </text>
                            }
                        ],
                    }
                ],
                series: [
                    {
                        type: 'column',
                        fillStyles: ['#fb0000', '#00a65a', '#8cb1f3', '#333333', '#8a2be2',
                            '#bcb7c1', '#A52A2A', '#DEB887', '#5F9EA0', '#D2691E', '#FF7F50',
                            '#6495ED', '#DC143C', '#00FFFF', '#00008B', '#008B8B', '#B8860B',
                            '#006400', '#8B008B', '#556B2F', '#FF8C00', '#8B0000', '#FF1493',
                            '#1E90FF', '#B22222', '#228B22', '#008000', '#4B0082', '#F08080',
                            '#00FF00', '#0000CD', '#FF4500', '#800080', '#9ACD32', '#008080',
                        ],
                        data:[
                         @foreach (var info in Model.Where(x => x.Country == item.BranchID).ToList())
                        {
                        <text>
                                @info.AchievedRevenue,
                        </text>
                        }
                        ]
                    }
                ]
            });
            //Tooltip//
            $('#jqChart' + count).bind('tooltipFormat', function (e, data) {
                return "<b>$ " + data.y + "</b>";
            });
            //Tooltip//
            count++;
            </text>
        }*@

        });
    </script>
}