@model EDU.Web.ViewModels.DashboardModel.ProductRevenueReportVM

@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cyear = Convert.ToInt16(DateTime.Now.Year.ToString());

    var productTotalRevenueByMonth = Model.productTotalRevenueByMonth;
    var productRevenueByMonth = Model.productRevenueByMonth;
    var productRevenueToAchieve = Model.productRevenueToAchieve;

    decimal? totalrevenue = 0;
    decimal? achievedtotal = 0;
    decimal? yettoachieve = 0;

    foreach (var item in productRevenueByMonth)
    {
        totalrevenue += item.TotalRevenue;
        achievedtotal += item.JanAmount + item.FebAmount + item.MarAmount + item.AprAmount + item.MayAmount + item.JuneAmount +
            item.JulyAmount + item.AugAmount + item.SepAmount + item.OctAmount + item.NovAmount + item.DecAmount;
    }
    yettoachieve = totalrevenue - achievedtotal;
}
@section StylesCharts{
    <link href="http://circle.firchow.net/assets/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="http://circle.firchow.net/assets/css/circle.css">
}

@{
    var listMonths = new List<SelectListItem>()
    {
    new SelectListItem {Text = "January",   Value = "1"},
    new SelectListItem {Text = "February", Value = "2"},
    new SelectListItem {Text = "March", Value = "3"},
    new SelectListItem {Text = "April",   Value = "4"},
    new SelectListItem {Text = "May", Value = "5"},
    new SelectListItem {Text = "June", Value = "6"},
    new SelectListItem {Text = "July",   Value = "7"},
    new SelectListItem {Text = "August", Value = "8"},
    new SelectListItem {Text = "September", Value = "9"},
    new SelectListItem {Text = "October",   Value = "10"},
    new SelectListItem {Text = "November", Value = "11"},
    new SelectListItem {Text = "December", Value = "12"}
    };
}
<style>
    .changecolor {
        background-color: darkorange;
        color: white;
    }

    .center {
        text-align: center !important;
    }

    table, th, td {
        border-left: none;
        border-right: none;
    }

    .circleclr {
    }
</style>
<div class="page page-forms-elements">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <h4>YTD Achievement</h4>
                    <div class="box-tools">
                        <button type="button" class="btn btn-primary btn-sm waves-effect" data-toggle="modal" onclick="PrintDashboardAchievementReportList()"><i class="fa fa-print"></i>Print</button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="row css10">
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.DropDownListFor(x => x.productTotalRevenueByMonth.FirstOrDefault().Country,
                                     new SelectList((List<EZY.EDU.Contract.Branch>)ViewData["CountryData"], "BranchId", "BranchName"),
                                     new { @class = "form-control input-sm", onchange = "ChangeMonth();" })
                                </div>
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Month</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(x => x.productTotalRevenueByMonth.FirstOrDefault().Month, listMonths, new { @class = "form-control input-sm", onchange = "ChangeMonth(this);", @style = "width:70%" })
                                </div>
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Year</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(x => x.productTotalRevenueByMonth.FirstOrDefault().Year, Enumerable.Range(2014, 14).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control input-sm", onchange = "ChangeMonth();", @style = "width:60%" })
                                </div>
                            </div>
                        </div>

                        <div class="row css10">
                            <div class="col-md-12">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="pull-left">
                                            <div class="c100 p100 center">
                                                <span class="circleclr" id="achieve0"></span>
                                                <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                            </div>
                                            <p class="text-center"><em><span id="Prod0"></span></em></p>
                                        </div>
                                        <div class="pull-left">
                                            <div class="c100 p100 center green">
                                                <span class="circleclr" id="achieve1"></span>
                                                <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                            </div>
                                            <p class="text-center"><em><span id="Prod1"></span></em></p>
                                        </div>
                                        <div class="pull-left">
                                            <div class="c100 p100 center orange">
                                                <span class="circleclr" id="achieve2"></span>
                                                <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                            </div>
                                            <p class="text-center"><em><span id="Prod2"></span></em></p>
                                        </div>
                                        <div class="pull-left">
                                            <div class="c100 p100 center red">
                                                <span class="circleclr" id="achieve3"></span>
                                                <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                            </div>
                                            <p class="text-center"><em><span id="Prod3"></span></em></p>
                                        </div>
                                        <div class="pull-left">
                                            <div class="c100 p100 center orange">
                                                <span class="circleclr" id="achieve4"></span>
                                                <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                            </div>
                                            <p class="text-center"><em><span id="Prod4"></span></em></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="pull-left">
                                            <div class="c100 center" id="div0">
                                                <span class="circleclr" id="achieved0"></span>
                                                <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                            </div>
                                        </div>
                                        <div class="pull-left">
                                            <div class="c100 center green" id="div1">
                                                <span class="circleclr" id="achieved1"></span>
                                                <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                            </div>
                                        </div>
                                        <div class="pull-left">
                                            <div class="c100 center orange" id="div2">
                                                <span class="circleclr" id="achieved2"></span>
                                                <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                            </div>
                                        </div>
                                        <div class="pull-left">
                                            <div class="c100 center red" id="div3">
                                                <span class="circleclr" id="achieved3"></span>
                                                <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                            </div>
                                        </div>
                                        <div class="pull-left">
                                            <div class="c100 center orange" id="div4">
                                                <span class="circleclr" id="achieved4"></span>
                                                <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin:25px 10px 0px 0px; border:1px solid #d2d6de">
                                        <div id="chartContainer" style="height: 330px; width: 100%;"></div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="row" style="margin-top:5px; border:1px solid #d2d6de">
                                        <div id="chartContainer0" style="height: 120px; width: 100%;"></div>
                                    </div>
                                    <div class="row" style="margin-top:5px; border:1px solid #d2d6de">
                                        <div id="chartContainer1" style="height: 120px; width: 100%;"></div>
                                    </div>
                                    <div class="row" style="margin-top:5px; border:1px solid #d2d6de">
                                        <div id="chartContainer2" style="height: 120px; width: 100%;"></div>
                                    </div>
                                    <div class="row" style="margin-top:5px; border:1px solid #d2d6de">
                                        <div id="chartContainer3" style="height: 120px; width: 100%;"></div>
                                    </div>
                                    <div class="row" style="margin-top:5px; border:1px solid #d2d6de">
                                        <div id="chartContainer4" style="height: 120px; width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-top:3%">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="pull-right" style="color:darkorange; font-weight:bold">* Yet to achieve</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <table class="table-responsive" style="width:100%" border="2">
                                    <thead>
                                        <tr style="background:blue;color:white">
                                            <th class="">PRODUCT</th>
                                            <th class="center">GOAL</th>
                                            <th class="center">ACHIEVED</th>
                                            <th class="center">%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var it in productRevenueByMonth)
                                        {
                                            decimal? amt = it.JanAmount + it.FebAmount + it.MarAmount + it.AprAmount + it.MayAmount + it.JuneAmount + it.JulyAmount + it.AugAmount + it.SepAmount + it.OctAmount + it.NovAmount + it.DecAmount;
                                            decimal? percent = it.TotalRevenue == 0 ? 0 : (amt * 100) / it.TotalRevenue;
                                            <tr>
                                                <td class="">@it.ProductName</td>
                                                <td class="center">@it.TotalRevenue.Value.ToString("#0")</td>
                                                <td class="center">@amt.Value.ToString("#0")</td>
                                                <td class="center">@percent.Value.ToString("#0")%</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-8">
                                <table class="table-responsive" style="width:100%" border="2">
                                    <thead>
                                        <tr style="background:blue;color:white">
                                            <th class="">PRODUCT</th>
                                            <th class="center">JAN</th>
                                            <th class="center">FEB</th>
                                            <th class="center">MAR</th>
                                            <th class="center">APR</th>
                                            <th class="center">MAY</th>
                                            <th class="center">JUN</th>
                                            <th class="center">JUL</th>
                                            <th class="center">AUG</th>
                                            <th class="center">SET</th>
                                            <th class="center">OCT</th>
                                            <th class="center">NOV</th>
                                            <th class="center">DEC</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itm in productRevenueToAchieve)
                                        {
                                            <tr>
                                                <td class="">@itm.ProductName</td>
                                                <td class="center 1_Css">@itm.JanAmount.Value.ToString("#0")</td>
                                                <td class="center 2_Css">@itm.FebAmount.Value.ToString("#0")</td>
                                                <td class="center 3_Css">@itm.MarAmount.Value.ToString("#0")</td>
                                                <td class="center 4_Css">@itm.AprAmount.Value.ToString("#0")</td>
                                                <td class="center 5_Css">@itm.MayAmount.Value.ToString("#0")</td>
                                                <td class="center 6_Css">@itm.JuneAmount.Value.ToString("#0")</td>
                                                <td class="center 7_Css">@itm.JulyAmount.Value.ToString("#0")</td>
                                                <td class="center 8_Css">@itm.AugAmount.Value.ToString("#0")</td>
                                                <td class="center 9_Css">@itm.SepAmount.Value.ToString("#0")</td>
                                                <td class="center 10_Css">@itm.OctAmount.Value.ToString("#0")</td>
                                                <td class="center 11_Css">@itm.NovAmount.Value.ToString("#0")</td>
                                                <td class="center 12_Css">@itm.DecAmount.Value.ToString("#0")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
</div>
@section SectionScripts {
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">
        function ChangeMonth() {
            window.location = '@Url.Action("Dashboard", "Dashboard", new { month = "", year = "", country="" })' + '?country=' + $('#Country').val() + "&month=" + $('#Month').val() + "&year=" + $('#Year').val();
        };

        function PrintDashboardAchievementReportList() {
            $.ajax({
                url: '@Url.Content("~/Report/DashboardAchievementReport?country=")' + $('#Country').val() + '&year=' + $('#Year').val() + '&month=' + $('#Month').val(),
                method: 'get',
                contentType: 'text/html',
                success: function (html) {
                    $('#myModal').html(html);
                    $('#myModal').modal('show');
                },
                error: function (err) {
                }
            });
        }

        $(document).ready(function () {
            CanvasJS.addColorSet("greenShades",
                [//colorSet Array
                    "#2F4F4F",
                    "#008080",
                    "#2E8B57",
                    "#3CB371",
                    "#90EE90"
                ]);

            $("tbody tr:even").css("background-color", "#eeeeee");
            $("tbody tr:odd").css("background-color", "#ffffff");

            @if (Session["AccessRights"].ToString() == "false")
            {
            <text>
                $('#Country').attr('disabled','disabled');
            </text>
            }

            $('#liDashboardDashboard').addClass('active');
            $('.canvasjs-chart-credit').hide();

            var monthsArray = [1,2,3,4,5,6,7,8,9,10,11,12];
            var currentMonthNum = @Model.productRevenueToAchieve.FirstOrDefault().Month;
            var year = @Model.productRevenueToAchieve.FirstOrDefault().Year;
            var querySelector = '';
            for (var i = 1; i < monthsArray.length; i++) {
                if (monthsArray[i] > currentMonthNum)
                    querySelector += '.' + monthsArray[i] + '_Css' + (i < 11 ? ',' : '');
            }
            @if (cyear == Model.productRevenueToAchieve.FirstOrDefault().Year)
            {<text>
            $(querySelector).addClass('changecolor');
            </text>
            }

            var count = 0;
            @foreach(var item in productTotalRevenueByMonth)
            {
            <text>
            var achievedPercent = @item.TotalRevenue>0 ? ((@item.AchievedRevenue * 100) / @item.TotalRevenue): 0;
            var mtarget = @item.TotalRevenue;
            $('#achieve' + count).text('$'+mtarget.toFixed());
            $('#achieved' + count).text(achievedPercent.toFixed() + '%');

            $('#Prod' + count).text('@item.ProductName');
            $('#div' + count).addClass('p' + parseInt(achievedPercent));
            count++;
            </text>
            }

        });

        var chart5 = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            colorSet: "greenShades",
            title: {
                text: 'Total Revenue - @totalrevenue.Value.ToString("#0")'
            },
            data: [{
                type: "pie",
                startAngle: 240,
                indexLabel: "{label} {y}",
                dataPoints: [
                    { y: @achievedtotal, label: "Achieved", color: "Red"},
                    { y: @yettoachieve, label: "Yet To Achieve", color: "Black"}
                ]
            }]
        });
        chart5.render();

        var count = 0;
        @foreach (var item in productRevenueByMonth)
        {
        <text>
        var maxAmtvalue = '';
        @{
            List<decimal?> listdata = new List<decimal?>();

            listdata.Add(item.MonthlyTarget);
            listdata.Add(item.JanAmount);
            listdata.Add(item.FebAmount);
            listdata.Add(item.MarAmount);
            listdata.Add(item.AprAmount);
            listdata.Add(item.MayAmount);
            listdata.Add(item.JuneAmount);
            listdata.Add(item.JulyAmount);
            listdata.Add(item.AugAmount);
            listdata.Add(item.SepAmount);
            listdata.Add(item.OctAmount);
            listdata.Add(item.NovAmount);
            listdata.Add(item.DecAmount);

        }
        debugger;

        var chart = new CanvasJS.Chart("chartContainer" + count, {
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            animationEnabled: true,
            title:{
                text: '@item.ProductName'
            },
            axisX: {
                interval: 1,
                intervalType: "month",
                valueFormatString: "MMM"
            },
            toolTip: {
                borderColor: "red"   //change color
            },
            axisY:{
                title: "",
                valueFormatString: "$#0",
                stripLines: [{
                    value: @item.MonthlyTarget,
                    label: '@item.MonthlyTarget.Value.ToString("#0")',
                    labelFontSize: 9,
                }],
                maximum: @listdata.Max()+500, @*@(item.MonthlyTarget*6),*@
            },
            data: [{
                type: "line",
                markerSize: 12,
                xValueFormatString: "MMM, YYYY",
                yValueFormatString: "$###.#",
                dataPoints: [
                    { x: new Date(@item.Year, 00, 1), y: @item.JanAmount },
                    { x: new Date(@item.Year, 01, 1), y: @item.FebAmount },
                    { x: new Date(@item.Year, 02, 1), y: @item.MarAmount },
                    { x: new Date(@item.Year, 03, 1), y: @item.AprAmount },
                    { x: new Date(@item.Year, 04, 1), y: @item.MayAmount },
                    { x: new Date(@item.Year, 05, 1), y: @item.JuneAmount },
                    { x: new Date(@item.Year, 06, 1), y: @item.JulyAmount },
                    { x: new Date(@item.Year, 07, 1), y: @item.AugAmount },
                    { x: new Date(@item.Year, 08, 1), y: @item.SepAmount },
                    { x: new Date(@item.Year, 09, 1), y: @item.OctAmount },
                    { x: new Date(@item.Year, 10, 1), y: @item.NovAmount },
                    { x: new Date(@item.Year, 11, 1), y: @item.DecAmount }
                ]
            }]
        });
        chart.render();
        count++;
        </text>
        }


    </script>
}

