@model IEnumerable<EDU.Web.ViewModels.OperationalTransaction.OperationalTransactionReportByYear>

@{
    ViewBag.Title = "OperationalExpenses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page page-forms-elements">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <h4>Operational Expenses - (YTD)</h4>
                    <div class="box-tools">
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-1 control-label">
                                <span class="pull-right">Year</span>
                            </label>
                            <div class="col-md-1">
                                @Html.DropDownListFor(x => x.FirstOrDefault().Year, Enumerable.Range(2014, 14).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control input-sm", onchange = "ChangeYear();" })
                            </div>

                        </div>
                        <div class="col-md-12 css10">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6  css10" id="dvBangladesh">
                                        <div id="jqChart0"></div>
                                    </div>
                                    <div class="col-md-6 css10" id="dvCombodia">>
                                        <div id="jqChart1"></div>
                                    </div>
                                    <div class="col-md-6 css10" id="dvMyanmar">>
                                        <div id="jqChart4"></div>
                                    </div>
                                    <div class="col-md-6 css10" id="dvSrilanka">>
                                        <div id="jqChart8"></div>
                                    </div>

                                    <div class="col-md-6 css10" id="dvPakistan">>
                                        <div id="jqChart5"></div>
                                    </div>
                                    <div class="col-md-6 css10" id="dvPhillipines">>
                                        <div id="jqChart6"></div>
                                    </div>
                                    <div class="col-md-6 css10" id="dvVietnam">>
                                        <div id="jqChart9"></div>
                                    </div>
                                    <div class="col-md-6 css10" id="dvLaos">>
                                        <div id="jqChart3"></div>
                                    </div>
                                    <div class="col-md-6 css10" id="dvSingapore">>
                                        <div id="jqChart7"></div>
                                    </div>
                                    <div class="col-md-6 css10" id="dvIndia">>
                                        <div id="jqChart2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section SectionScripts{
    
    <script type="text/javascript">
        function ChangeYear() {
            window.location = '@Url.Action("OperationalExpenses", "Dashboard", new { year = ""})' + '?year=' + $('#Year').val();
        };

        $(function () {

         @if (Session["UserID"].ToString().ToUpper() == "MGMTSL")
         {
             <text>
             $('#dvBangladesh').hide();
             $('#dvCombodia').hide();
             $('#dvMyanmar').hide();
             $('#dvPakistan').hide();
             $('#dvPhillipines').hide();
             $('#dvVietnam').hide();
             $('#dvLaos').hide();
             $('#dvSingapore').hide();
             $('#dvIndia').hide();

             </text>
         }
         else if (Session["UserID"].ToString().ToUpper() == "MGMTVN")
         {
             <text>
             $('#dvBangladesh').hide();
             $('#dvCombodia').hide();
             $('#dvMyanmar').hide();
             $('#dvPakistan').hide();
             $('#dvPhillipines').hide();
             $('#dvSrilanka').hide();
             $('#dvLaos').hide();
             $('#dvSingapore').hide();
             $('#dvIndia').hide();

             </text>
         }
         else if (Session["UserID"].ToString().ToUpper() == "MGMTBD")
         {
             <text>
             $('#dvSrilanka').hide();
             $('#dvCombodia').hide();
             $('#dvMyanmar').hide();
             $('#dvPakistan').hide();
             $('#dvPhillipines').hide();
             $('#dvVietnam').hide();
             $('#dvLaos').hide();
             $('#dvSingapore').hide();
             $('#dvIndia').hide();

             </text>
         }
         else if (Session["UserID"].ToString().ToUpper() == "MGMTIN")
         {
             <text>
             $('#dvBangladesh').hide();
             $('#dvCombodia').hide();
             $('#dvMyanmar').hide();
             $('#dvPakistan').hide();
             $('#dvPhillipines').hide();
             $('#dvVietnam').hide();
             $('#dvLaos').hide();
             $('#dvSingapore').hide();
             $('#dvSrilanka').hide();

             </text>
         }
         else if (Session["UserID"].ToString().ToUpper() == "MGMTKH")
         {
             <text>
             $('#dvBangladesh').hide();
             $('#dvSrilanka').hide();
             $('#dvMyanmar').hide();
             $('#dvPakistan').hide();
             $('#dvPhillipines').hide();
             $('#dvVietnam').hide();
             $('#dvLaos').hide();
             $('#dvSingapore').hide();
             $('#dvIndia').hide();

             </text>
         }
         else if (Session["UserID"].ToString().ToUpper() == "MGMTLA")
         {
             <text>
             $('#dvBangladesh').hide();
             $('#dvCombodia').hide();
             $('#dvMyanmar').hide();
             $('#dvPakistan').hide();
             $('#dvPhillipines').hide();
             $('#dvVietnam').hide();
             $('#dvSrilanka').hide();
             $('#dvSingapore').hide();
             $('#dvIndia').hide();

             </text>
         }
         else if (Session["UserID"].ToString().ToUpper() == "MGMTMM")
         {
             <text>
             $('#dvBangladesh').hide();
             $('#dvCombodia').hide();
             $('#dvSrilanka').hide();
             $('#dvPakistan').hide();
             $('#dvPhillipines').hide();
             $('#dvVietnam').hide();
             $('#dvLaos').hide();
             $('#dvSingapore').hide();
             $('#dvIndia').hide();

             </text>
         }
         else if (Session["UserID"].ToString().ToUpper() == "MGMTPH")
         {
             <text>
             $('#dvBangladesh').hide();
             $('#dvCombodia').hide();
             $('#dvMyanmar').hide();
             $('#dvPakistan').hide();
             $('#dvSrilanka').hide();
             $('#dvVietnam').hide();
             $('#dvLaos').hide();
             $('#dvSingapore').hide();
             $('#dvIndia').hide();

             </text>
         }
         else if (Session["UserID"].ToString().ToUpper() == "MGMTPK")
         {
             <text>
             $('#dvBangladesh').hide();
             $('#dvCombodia').hide();
             $('#dvMyanmar').hide();
             $('#dvSrilanka').hide();
             $('#dvPhillipines').hide();
             $('#dvVietnam').hide();
             $('#dvLaos').hide();
             $('#dvSingapore').hide();
             $('#dvIndia').hide();

             </text>
         }
     
            $('#liDashboardOperationalExpenses').addClass('active');
            var count = 0;
            @foreach (var item in Model)
            {
                <text>
            $('#jqChart' + count).jqChart({
                title: {
                    text: '@item.CountryName',
                    font: '14px sans-serif'
                },
                animation: { duration: 1 },
                border: { visible: false },
                shadows: {
                    enabled: true
                },
                legend: {
                    visible: false
                },
                series: [
                    {
                        type: 'column',
                        fillStyles: ['#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970'],
                        data: [
                            ['JAN', @item.JanAmount], ['FEB', @item.FebAmount], ['MAR', @item.MarAmount],
                        ['APR', @item.AprAmount], ['MAY', @item.MayAmount], ['JUN', @item.JunAmount], ['JUL', @item.JulAmount],
                        ['AUG', @item.AugAmount], ['SEP', @item.SepAmount], ['OCT', @item.OctAmount], ['NOV', @item.NovAmount], ['DEC', @item.DecAmount]
                        ]
                    }
                ]
            });
            $('#jqChart' + count).bind('tooltipFormat', function (e, data) {
                return "<b>" + data.x + "</b><br />" +
                       "$ " + data.y + "<br />";
            });
            count++;
            </text>
                }
        });
    </script>
}
