@using Newtonsoft.Json;
@model EDU.Web.ViewModels.VendorPaymentStatusModel.VendorPaymentStatusVM
@{
    ViewBag.Title = "VendorPaymentStatusList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    WebGrid grid = new WebGrid(Model.VendorPayment, rowsPerPage: 15);
    grid.Pager(WebGridPagerModes.All);
    var vPayment = Model.VendorPayment.Count();
    var myArray =(List<decimal?>) ViewData["Summary"];
}

@{
    var listMonths = new List<SelectListItem>()
                                          {
                                           new SelectListItem {Text = "Select Month",   Value = "0"},
                                           new SelectListItem {Text = "Janaury",   Value = "1"},
                                           new SelectListItem {Text = "February", Value = "2"},
                                           new SelectListItem {Text = "March", Value = "3"},
                                           new SelectListItem {Text = "April",   Value = "4"},
                                           new SelectListItem {Text = "May", Value = "5"},
                                           new SelectListItem {Text = "June", Value = "6"},
                                           new SelectListItem {Text = "July",   Value = "7"},
                                           new SelectListItem {Text = "August", Value = "8"},
                                           new SelectListItem {Text = "September", Value = "9"},
                                           new SelectListItem {Text = "October",   Value = "10"},
                                           new SelectListItem {Text = "November", Value = "11"},
                                           new SelectListItem {Text = "December", Value = "12"}
                                       };
}
<style>
    .centerbox {
        margin: auto;
        width: 100%;
        border: 1px solid gray;
        border-radius: 20px;
    }

    .center {
        text-align: center !important;
    }

    .right {
        text-align: right !important;
    }

    .popover {
        color: black;
        min-width: 300px;
    }

    .popover-title {
        background-color: #F7F7F7;
        border-bottom: 1px solid #EBEBEB;
        border-radius: 5px 5px 0 0;
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
        margin: 0;
        padding: 8px 14px;
    }

    .bordertop {
        border-top: 2px solid gray !important;
        border-bottom: 2px solid gray !important;
        color: #D73925;
        /*font-family: 'Bebas Neue'*/
    }
</style>
@functions {
    public string ConvertToInt64dollar(decimal? data)
    {
        if (data != null && data != 0)
            return new HtmlString("$ " + Convert.ToInt64(data)).ToString();
        else
            return null;
    }

    public string GetCourseName(string data)
    {
        var tcd = Model.trainingconfList.Where(x => x.IsActive == true && x.TrainingConfirmationID == data).FirstOrDefault();
        if (tcd != null)
        {
            var coursenamedtl = Model.courseList.Where(x => x.Id == tcd.Course && x.Product == tcd.Product && x.Country == tcd.Country).FirstOrDefault();
            return coursenamedtl != null ? coursenamedtl.CourseName : "";
        }
        else
            return "";
    }

    public string GetProductName(string data)
    {
        var tcd = Model.trainingconfList.Where(x => x.IsActive == true && x.TrainingConfirmationID == data).FirstOrDefault();
        if (tcd != null)
        {
            var productnamedtl = Model.productList.Where(x => x.Id == tcd.Product).FirstOrDefault();
            return productnamedtl != null ? productnamedtl.ProductName : "";
        }
        else
            return "";
    }

    public string GetCustomerName(string data)
    {
        var tcdtl = Model.VendorPayment.Where(x => x.TrainingConfirmationID == data).FirstOrDefault();
        if (tcdtl != null)
        {
            var tidtl = Model.trainerInformationList.Where(x => x.TrianerId == tcdtl.VendorId).FirstOrDefault();
            return tidtl != null ? tidtl.VendorName : "";
        }
        return "";
    }
}
@using (Html.BeginForm("SaveVendorPaymentStatus", "VendorPaymentStatus", FormMethod.Post, new { id = "frmVendorPaymentStatus", name = "frmVendorPaymentStatus", enctype = "multipart/form-data", autocomplete = "off" }))
{
    <div class="page page-forms-elements">
        <div class="page-wrap">
            <div class="panel panel-default">
                <div class="box" id="grid">
                    <div class="box-header">
                        <div style="display:-webkit-inline-box">
                            <h4> Vendor Payment Status</h4>
                        </div>
                        <div class="box-tools">
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Year</span>
                                </label>
                                <div class="col-md-1">
                                    @Html.DropDownListFor(x => x.VendorPayment.FirstOrDefault().Year, Enumerable.Range(2014, 14).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Select Year ", new { @class = "form-control input-sm", onchange = "ChangeMonth();" })
                                </div>
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Month</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(x => x.VendorPayment.FirstOrDefault().Month, listMonths, new { @class = "form-control input-sm", onchange = "ChangeMonth();" })
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top:20px;">
                        </div>
                        <div class="css10" style="overflow-x: scroll; width: 100%" id="gridContent">
                            @grid.GetHtml(
                     columns: grid.Columns(

                          grid.Column("", "#Action", canSort: false,
                                         format:
                                        @<text>
                                            <div style='width:80px;'>
                                                @if (Session["UserID"].ToString().ToUpper() == "ADMIN")
                                                {
                                                    <input type="hidden" id="hdnvenderpaymentId" value="@item.VendorPaymentId" />
                                                    <button type="button" id="btn_edit_@item.WebGrid.Rows.IndexOf(item)" class="btn btn-primary btn-xs waves-effect btn_edit " data-toggle="modal" data-object='@JsonConvert.SerializeObject(Model.VendorPayment[item.WebGrid.Rows.IndexOf(item)])' onclick="EditVendorPaymentStatusDetail(this)"><i class="fa fa-pencil-square-o" style="padding-left: 5px;"></i></button>
                                                    if (item.VendorPaymentId > 0)
                                                    {
                                                        <button type="button" class="btn btn-xs btn-danger waves-effect" onclick="DeleteVendorPaymentStatus(@item.VendorPaymentId)"><i class="fa fa-trash-o" style="padding-left: 5px;"></i></button>
                                                    }
                                                }
                                            </div>
                                        </text>),
                         grid.Column("TrainingConfirmationID", "Event ID", canSort: true,
                                     format:
                                    @<text>
                                        <div style='width:90px;'>
                                            @(item.TrainingConfirmationID)
                                        </div>
                                    </text>),
                             grid.Column("VendorName", "Vendor Name", canSort: true,
                                     format:
                                    @<text>
                                        <div style='width:150px;'>
                                            @GetCustomerName(item.TrainingConfirmationID)
                                        </div>
                                    </text>),
                          grid.Column("ProductName", "Product Name", canSort: true,
                                     format:
                                    @<text>
                                        <div style='width:90px;'>
                                            @GetProductName(item.TrainingConfirmationID)
                                        </div>
                                    </text>),
                             grid.Column("CourseName", "Course Name", canSort: true,
                                     format:
                                    @<text>
                                        <div style='width:300px;'>
                                            @GetCourseName(item.TrainingConfirmationID)
                                        </div>
                                    </text>),
                             grid.Column("InvoiceAmount", "Invoice Amount", canSort: true,
                                     format:
                                    @<text>
                                        <div style='width:88px;'>
                                            <span class="center">
                                                @ConvertToInt64dollar(item.InvoiceAmount)
                                            </span>
                                        </div>
                                    </text>, style: "center"),
                             grid.Column("PaidAmount", "Paid Amount", canSort: true,
                                     format:
                                    @<text>
                                        <div style='width:78px;'>
                                            <span class="center">
                                                @ConvertToInt64dollar(item.PaidAmount)
                                            </span>
                                        </div>
                                    </text>, style: "center"),
                             grid.Column("BalanceAmount", "Balance Amount", canSort: true,
                                     format:
                                    @<text>
                                        <div style='width:100px;'>
                                            <span class="center">
                                                @ConvertToInt64dollar(item.BalanceAmount)
                                            </span>
                                        </div>
                                    </text>, style: "center"),
                             grid.Column("OtherReceivablesAmount", "Other Receivables", canSort: true,
                                     format:
                                    @<text>
                                        <div style='width:120px;'>
                                            <span class="center">
                                                @ConvertToInt64dollar(item.OtherReceivablesAmount)
                                            </span>
                                        </div>
                                    </text>, style: "center"),
                              grid.Column("TotalAmount", "Total Amount", canSort: true,
                                     format:
                                    @<text>
                                        <div style='width:75px;'>
                                            <span class="center">
                                                @ConvertToInt64dollar(item.TotalAmount)
                                            </span>
                                        </div>
                                    </text>, style: "center"),
                              grid.Column("DueDate", "Due Date", canSort: true,
                                     format: @<text>
                                <div style='width:70px;'>
                                    <span class="center">
                                        @(item.DueDate == null ? null : item.DueDate.ToString("dd/MM/yyyy"))
                                    </span>
                                </div>
                                    </text>
                                     , style: "center"),
                              grid.Column("ReceiptDate", "Receipt Date", canSort: true,
                                     format: @<text>
                                <div style='width:90px;'>
                                    <span class="center">
                                        @(item.DueDate == null ? null : item.DueDate.ToString("dd/MM/yyyy"))
                                    </span>
                                </div>
                                    </text>
                                     , style: "center"),
                             grid.Column("ReferenceDoc", "Reference Doc",
                             format:
                            @<text>
                                <div style='width:100px;'>
                                    <span class="center">
                                        <a style="cursor:pointer;text-decoration:underline;" href="~/Uploads/VPS_@item.VendorPaymentId/@item.ReferenceDoc" target="_blank">@item.ReferenceDoc</a>
                                    </span>
                                </div>
                            </text>, canSort: true)),
                                         tableStyle: "table")
                        </div>
                        <div class="row css10">
                            <div class="col-sm-12">
                                <div class="pull-right">@grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-sm")</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">

    </div>
}
@using (Html.BeginForm("DeleteVendorPaymentStatus", "VendorPaymentStatus", FormMethod.Post, new { id = "frmDeleteVendorPaymentStatus", name = "frmDeleteVendorPaymentStatus", enctype = "multipart/form-data" }))
{

}
@section SectionScripts
    {
    <script type="text/javascript">
        $(function () {
           
            $('#liVendorPaymentStatusList').addClass('active');
            $("#gridContent tbody tr").each(function (i, row) {
                debugger;
                var $actualRow = $(row);
                if ($actualRow.find('#hdnvenderpaymentId').val() != -1) {
                    $actualRow.css('background-color', '#b3f7da');
                }
            });
             var myArray = @Html.Raw(JsonConvert.SerializeObject(myArray));
            @if (vPayment > 0)
            {
                <text>
                $('#gridContent tbody').append('<tr class="bordertop"><td></td><td>Summary</td><td><td></td><td></td></td><td class="center"><span class="center">@ConvertToInt64dollar(myArray[0]) </span></td><td class="center"><span class="center">@ConvertToInt64dollar(myArray[1])</span></td><td class="center"><span class="center">@ConvertToInt64dollar(myArray[2])</span></td><td class="center"><span class="center">@ConvertToInt64dollar(myArray[3]) </span></td><td class="center"><span class="center">@ConvertToInt64dollar(myArray[4]) </span></td><td></td><td></td><td></td></tr>');
                </text>
            }

        });

        function mouseleave(el) {
            $(el).popover("hide");
        }

        function mouseover(el) {
            debugger;
            $(el).popover("show");
        }

        function ChangeMonth() {
            window.location = '@Url.Action("VendorPaymentStatusList", "VendorPaymentStatus", new { month = "", year = "" })' + '?month=' + $('#Month').val() + "&year=" + $('#Year').val();
        };

        function EditVendorPaymentStatusDetail(el) {
            debugger;
            var obj = $(el).data('object');
            $.ajax({
                url: '@Url.Content("~/VendorPaymentStatus/VendorPaymentStatusDetail/")',
                data: JSON.stringify(obj),
                method: 'post',
                contentType: 'application/json; charset=utf-8',
                success: function (html) {
                    $('#myModal').html(html);
                    $('#myModal').modal('show');
                    var invoiceamt = $('#InvoiceAmount').val();
                    $('#TotalAmount').val(invoiceamt);
                },
                error: function (err) {

                }
            });
        }

        function DeleteVendorPaymentStatus(id) {
            swal({
                title: "Are you sure?",
                text: "Do you want delete?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
                function () {
                    $.ajax({
                        url: '@Url.Content("~/VendorPaymentStatus/DeleteVendorPaymentStatus?VendorPaymentId=")' + id,
                        type: 'POST',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data) {
                                swal("Deleted!", "Your record has been deleted.", "success");
                                location.reload();
                            }
                        },
                        error: function (e) {
                        }
                    });

                });
        }
        function CalculateTotalAmount() {
            var invoiceamt = parseInt($('#InvoiceAmount').val());
            var OtherReceivablesAmount = parseInt($('#OtherReceivablesAmount').val());
            var result = (isNaN(invoiceamt) ? 0 : invoiceamt) + (isNaN(OtherReceivablesAmount) ? 0 : OtherReceivablesAmount);
            $('#TotalAmount').val(result);
        }

        $('#frmVendorPaymentStatus').validate({
            rules: {
                InvoiceAmount: {
                    required: true
                },
                TotalAmount: {
                    required: true
                },
                DueDate: {
                    required: true
                },
                ReceiptDate: {
                    required: true
                },
                VendorId:{
                    required:true
                }

            }
        });
        function SaveVendorPaymentStatus(id) {
            if ($('#frmVendorPaymentStatus').valid()) {
                RemoveDisabledFields();
                $('#frmVendorPaymentStatus').submit();
            }

        }

        function RemoveDisabledFields() {
            $('#VendorName').removeAttr('disabled');
            $('#InvoiceAmount').removeAttr('disabled');
            $('#PaidAmount').removeAttr('disabled');
            $('#BalanceAmount').removeAttr('disabled');
            $('#TotalAmount').removeAttr('disabled');
        }
    </script>
}








