@model EDU.Web.ViewModels.OperationalTransactionModel.OTVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    var listMonths = new List<SelectListItem>()
                                          {
                                           new SelectListItem {Text = "January",   Value = "1"},
                                           new SelectListItem {Text = "February", Value = "2"},
                                           new SelectListItem {Text = "March", Value = "3"},
                                           new SelectListItem {Text = "April",   Value = "4"},
                                           new SelectListItem {Text = "May", Value = "5"},
                                           new SelectListItem {Text = "June", Value = "6"},
                                           new SelectListItem {Text = "July",   Value = "7"},
                                           new SelectListItem {Text = "August", Value = "8"},
                                           new SelectListItem {Text = "September", Value = "9"},
                                           new SelectListItem {Text = "October",   Value = "10"},
                                           new SelectListItem {Text = "November", Value = "11"},
                                           new SelectListItem {Text = "December", Value = "12"}
                                       };
}
<div class="page page-forms-elements">
    @using (Html.BeginForm("SaveOperationalTransaction", "OperationalTransaction", FormMethod.Post, new { id = "frmOperationalTransaction", name = "frmOperationalTransaction", enctype = "multipart/form-data", autocomplete = "off" }))
    {
        @Html.HiddenFor(x => x.OperationalTransactionId)
        @Html.HiddenFor(x => x.OperationId)
        @Html.HiddenFor(x => x.Year)
        @Html.HiddenFor(x => x.Month)
        @Html.HiddenFor(x => x.SalariesId)
        @Html.HiddenFor(x => x.TravellingexpId)
        @Html.HiddenFor(x => x.RentalId)
        @Html.HiddenFor(x => x.TelephoneexpId)
        @Html.HiddenFor(x => x.CourierchargesId)
        @Html.HiddenFor(x => x.InsuranceId)
        @Html.HiddenFor(x => x.UtilityId)
        @Html.HiddenFor(x => x.MarketingexpId)
        @Html.HiddenFor(x => x.DepreciationId)
        @Html.HiddenFor(x => x.LegalexpId)
        @Html.HiddenFor(x => x.RepairmaintenanceId)
        @Html.HiddenFor(x => x.BankchargesId)
        @Html.HiddenFor(x => x.PrintingstationeryId)
        @Html.HiddenFor(x => x.StaffwelfareId)
        @Html.HiddenFor(x => x.OtherexpensesincomeId)
        <div class="page-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default panel-hovered panel-stacked mb30">
                        <div class="panel-heading">@ViewBag.Title</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-1 control-label">
                                        <span class="pull-right">Country</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(x => x.Country,
                             new SelectList((List<EZY.EDU.Contract.Branch>)ViewData["CountryData"], "BranchID", "BranchName"),
                             "Select Country", new { @class = "form-control input-sm", onchange = "CountryChange(this);", @disabled = true })
                                    </div>
                                    <label class="col-md-1 control-label">
                                        <span class="pull-right">Year</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(x => x.Year, Enumerable.Range(2014, 14).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Select Year ", new { @class = "form-control", @disabled = true, @style = "width:60%" })
                                    </div>
                                    <label class="col-md-1 control-label">
                                        <span class="pull-right">Month</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(x => x.Month, listMonths, new { @class = "form-control input-sm", @disabled = true })
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8" style="border: 2px solid gray; border-radius: 20px;">
                                    <div class="col-md-6">
                                        <div class="row col-md-offset-1">
                                            <h4>Operational Expenses</h4>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-8 control-label">
                                                <span>Salaries</span>
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.SalariesAmount, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup= "CalculateTotalOpex()" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-8 control-label">
                                                <span>Travelling Expenses</span>
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.TravellingexpAmount, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "CalculateTotalOpex()" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-8 control-label">
                                                <span>Rental</span>
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.RentalAmount, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "CalculateTotalOpex()" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-8 control-label">
                                                <span>Telephone Expenses</span>
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.TelephoneexpAmount, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "CalculateTotalOpex()" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-8 control-label">
                                                <span>Courier Charges</span>
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.CourierchargesAmount, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "CalculateTotalOpex()" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-8 control-label">
                                                <span>Insurance</span>
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.InsuranceAmount, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "CalculateTotalOpex()" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-8 control-label">
                                                <span>Utility</span>
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.UtilityAmount, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "CalculateTotalOpex()" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-8 control-label">
                                                <span>Marketingexp</span>
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.MarketingexpAmount, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "CalculateTotalOpex()" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-8 control-label">
                                                <span>Depreciation</span>
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.DepreciationAmount, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "CalculateTotalOpex()" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row col-md-offset-1">
                                            <h4>Other Expenses</h4>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-8 control-label">
                                                <span>LegalExpenses/Consultancy </span>
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.LegalexpAmount, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "CalculateTotalOpex()" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-8 control-label">
                                                <span>Repair & Maintenance </span>
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.RepairmaintenanceAmount, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "CalculateTotalOpex()" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-8 control-label">
                                                <span>Bankcharges </span>
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.BankchargesAmount, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "CalculateTotalOpex()" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-8 control-label">
                                                <span>Printing & Stationery </span>
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.PrintingstationeryAmount, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "CalculateTotalOpex()" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-8 control-label">
                                                <span>StaffWelfare </span>
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.StaffwelfareAmount, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "CalculateTotalOpex()" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-8 control-label">
                                                <span>OtherExpenses/Income </span>
                                            </label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.OtherexpensesincomeAmount, "{0:#.#}", new { @class = "form-control input-sm numCss", onkeyup = "CalculateTotalOpex()" })
                                            </div>
                                        </div>
                                        <div class="row css25">
                                            </div>
                                        <div class="row css25">
                                        </div>
                                            <div class="row">
                                                <label class="col-md-3 control-label">
                                                    <span>Total Opex</span>
                                                </label>
                                                <div class="col-md-4">
                                                    <input type="text" id="totalopex" class="form-control input-sm" name="totalopex" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-center css10">
                                                <button id="btnSave" type="button" onclick="SaveOperationalTransaction()" class="btn btn-success btn-frmt green btn-sm"><i class="fa fa-floppy-o"></i>&nbsp;Save</button> &nbsp;&nbsp;&nbsp;
                                                <button class="btn btn-default btn-sm" type="button" onclick="navigateToList();"><i class="fa fa-backward"></i>&nbsp;Back</button>&nbsp;&nbsp;&nbsp;
                                            </div>
                                        </div>
                                    </div>
                                    <div class="css10">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section SectionScripts{
    <script type="text/javascript">

        $(function(){
            CalculateTotalOpex();
        });
        function SaveOperationalTransaction() {
            $('#btnSave').attr('disabled', 'disabled');
            $('#Country').removeAttr('disabled');
            $('#Year').removeAttr('disabled');
            $('#Month').removeAttr('disabled');
            $('#frmOperationalTransaction').submit();
        }

        function navigateToList() {
            var month = $('#Month').val();
            var year = $('#Year').val();
            var country = $('#Country').val();
            location.href = '@Url.Content("~/OperationalTransaction/OperationalTransactionList?month=")' + month + '&year=' + year + '&country=' + country;
        }

        $('#frmOperationalTransaction').validate({
            rules: {
                Country: {
                    required: true
                },
                CategoryId: {
                    required: true
                },
                ParticularsId: {
                    required: true
                },
                Amount: {
                    required: true
                },

            }
        });

        function CalculateTotalOpex()
        {
           
            // Operational Expenses
            var salariesamount = $('#SalariesAmount').val() == "" ? 0 : parseInt($('#SalariesAmount').val());
            var travellingexpamount = $('#TravellingexpAmount').val() == "" ? 0 : parseInt($('#TravellingexpAmount').val());
            var rentalamount = $('#RentalAmount').val() == "" ? 0 : parseInt($('#RentalAmount').val());
            var telephoneexpamount = $('#TelephoneexpAmount').val() == "" ? 0 : parseInt($('#TelephoneexpAmount').val());
            var courierchargesamount = $('#CourierchargesAmount').val() == "" ? 0 : parseInt($('#CourierchargesAmount').val());
            var insuranceamount = $('#InsuranceAmount').val() == "" ? 0 : parseInt($('#InsuranceAmount').val());
            var utilityamount = $('#UtilityAmount').val() == "" ? 0 : parseInt($('#UtilityAmount').val());
            var marketingexpamount = $('#MarketingexpAmount').val() == "" ? 0 : parseInt($('#MarketingexpAmount').val());
            var depreciationamount = $('#DepreciationAmount').val() == "" ? 0 : parseInt($('#DepreciationAmount').val());

            //Other Expenses
            var legalexpamount = $('#LegalexpAmount').val() == "" ? 0 : parseInt($('#LegalexpAmount').val());
            var repairmaintenanceamount = $('#RepairmaintenanceAmount').val() == "" ? 0 : parseInt($('#RepairmaintenanceAmount').val());
            var bankchargesamount = $('#BankchargesAmount').val() == "" ? 0 : parseInt($('#BankchargesAmount').val());
            var printingstationeryamount = $('#PrintingstationeryAmount').val() == "" ? 0 : parseInt($('#PrintingstationeryAmount').val());
            var staffwelfareamount = $('#StaffwelfareAmount').val() == "" ? 0 : parseInt($('#StaffwelfareAmount').val());
            var otherexpensesincomeamount = $('#OtherexpensesincomeAmount').val() == "" ? 0 : parseInt($('#OtherexpensesincomeAmount').val());
            
            var result = salariesamount + travellingexpamount + rentalamount + telephoneexpamount + courierchargesamount + insuranceamount +
                utilityamount + marketingexpamount + depreciationamount + legalexpamount + repairmaintenanceamount + bankchargesamount +
                 printingstationeryamount + staffwelfareamount + otherexpensesincomeamount;
           
            $('#totalopex').val(result);
          
        }
    </script>
}