@model EDU.Web.ViewModels.OperationalTransactionModel.OTVM
@{
    // ViewBag.Title = "FinancialTransactionDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    var listMonths = new List<SelectListItem>()
                                          {
                                           new SelectListItem {Text = "Select Month",   Value = "0"},
                                           new SelectListItem {Text = "Janaury",   Value = "1"},
                                           new SelectListItem {Text = "February", Value = "2"},
                                           new SelectListItem {Text = "March", Value = "3"},
                                           new SelectListItem {Text = "April",   Value = "4"},
                                           new SelectListItem {Text = "May", Value = "5"},
                                           new SelectListItem {Text = "June", Value = "6"},
                                           new SelectListItem {Text = "July",   Value = "7"},
                                           new SelectListItem {Text = "August", Value = "8"},
                                           new SelectListItem {Text = "September", Value = "9"},
                                           new SelectListItem {Text = "October",   Value = "10"},
                                           new SelectListItem {Text = "November", Value = "11"},
                                           new SelectListItem {Text = "December", Value = "12"}
                                       };
}
<div class="page page-forms-elements">
    @using (Html.BeginForm("SaveFinancialTransactionDetail", "FinancialTransaction", FormMethod.Post, new { id = "frmFinancialTransaction", name = "frmFinancialTransaction", enctype = "multipart/form-data", autocomplete = "off" }))
    {
        @Html.HiddenFor(x => x.OperationalTransactionId)
        @Html.HiddenFor(x => x.Year)
        @Html.HiddenFor(x => x.Month)
        <div class="page-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default panel-hovered panel-stacked mb30">
                        <div class="panel-heading">@ViewBag.Title</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-1 control-label">
                                        <span class="pull-left">Country</span>
                                     </label>
                                        <div class="col-md-2">
                                            @*@Html.DropDownListFor(x => x.CountryName, new { @class = "form-control" })*@
                                        </div>


                                    <label class="col-md-1 control-label">
                                        <span class="pull-left">Year</span>
                                    </label>
                                    <div class="col-md-2">
                                        @*@Html.DropDownListFor(x => x.Year,)*@
                                    </div>

                                    <label class="col-md-1 control-label">
                                        <span class="pull-left">Month</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(x => x.Month, listMonths, new { @class = "form-control" })
                                    </div>
                                 </div>
                            </div>
                                <hr />
                                <div class="row">
                                    <label class="col-md-2 control-label">
                                        <span class="pull-left">Operational Expenses</span>
                                      </label>
                              </div>
                                <div class="row">

                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Salaries</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.SalariesAmount, new { @class = "form-control numCss" })
                                    </div>
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Travelling Expenses</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.TravellingexpAmount, new { @class = "form-control numCss" })
                                    </div>
                                </div>
                            
                                <div class="row">
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Rental</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.RentalAmount, new { @class = "form-control numCss" })
                                    </div>

                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Telephone Expenses</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.TelephoneexpAmount, new { @class = "form-control numCss" })
                                    </div>
                                </div>
                          
                                <div class="row">
                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Courier Charges</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.CourierchargesAmount, new { @class = "form-control numCss" })
                                    </div>

                                    <label class="col-md-2 control-label">
                                        <span class="pull-right">Insurance</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.InsuranceAmount, new { @class = "form-control numCss" })
                                    </div>

                                </div>

                            <div class="row">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Utility</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.UtilityAmount, new { @class = "form-control numCss" })
                                </div>

                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Marketingexp</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.MarketingexpAmount, new { @class = "form-control numCss" })
                                </div>

                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Depreciation</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.DepreciationAmount, new { @class = "form-control numCss" })
                                </div>

                            </div>

                            <hr/>
                            <div class="row">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">other Expenses</span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">LegalExpenses/Consultancy </span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.LegalexpAmount, new { @class = "form-control numCss" })
                                </div>
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Repair&Maintenance </span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.RepairmaintenanceAmount, new { @class = "form-control numCss" })
                                </div>

                            </div>

                            <div class="row">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Bankcharges </span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.BankchargesAmount, new { @class = "form-control numCss" })
                                </div>
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Printing&Stationery </span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.PrintingstationeryAmount, new { @class = "form-control numCss" })
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">StaffWelfare </span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.StaffwelfareAmount, new { @class = "form-control numCss" })
                                </div>
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">OtherExpenses/Income </span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.OtherexpensesincomeAmount, new { @class = "form-control numCss" })
                                </div>

                            </div>
                                






                                @*<div class="form-group">
                                    <div class="col-md-2 col-md-offset-1">
                                        @Html.TextBoxFor(x => x.TrainingConfirmationID, new { @class = "form-control", @readonly = true })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(x => x.Country,
                        new SelectList((List<EZY.EDU.Contract.Branch>)ViewData["CountryData"], "BranchId", "BranchName"),
                        "Select Country", new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                    <div class="col-md-1">
                                        @Html.DropDownListFor(x => x.CurrencyCode,
                                        new SelectList((List<EDU.Web.Models.Lookup>)ViewData["CurrencyList"], "LookupCode", "LookupCode"),
                                              "Select Currency", new { @class = "form-control " })
                                    </div>
                                    <div class="col-md-1">
                                        @Html.TextBoxFor(x => x.CurrencyExRate, "{0:#.#}", new { @class = "form-control numCss", @placeholder = "Currency Ex Rate", onkeyup = "calculateLocalAmount();calculateGrossProfitandLoss()" })
                                    </div>
                                </div>*@
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-success btn-sm btndisable"><i class="fa fa-floppy-o"></i>&nbsp;Submit</button> &nbsp;&nbsp;&nbsp;
                                        <button type="button"  class="btn btn-success btn-frmt green btn-sm editdisable"><i class="fa fa-floppy-o"></i>&nbsp;Save</button> &nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-default btn-sm" type="button" ><i class="fa fa-backward"></i>&nbsp;Back</button>&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     
    }
</div>