@model EDU.Web.ViewModels.OperationalTransactionModel.OTVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    var listMonths = new List<SelectListItem>()
                                          {
                                           new SelectListItem {Text = "January",   Value = "1"},
                                           new SelectListItem {Text = "February", Value = "2"},
                                           new SelectListItem {Text = "March", Value = "3"},
                                           new SelectListItem {Text = "April",   Value = "4"},
                                           new SelectListItem {Text = "May", Value = "5"},
                                           new SelectListItem {Text = "June", Value = "6"},
                                           new SelectListItem {Text = "July",   Value = "7"},
                                           new SelectListItem {Text = "August", Value = "8"},
                                           new SelectListItem {Text = "September", Value = "9"},
                                           new SelectListItem {Text = "October",   Value = "10"},
                                           new SelectListItem {Text = "November", Value = "11"},
                                           new SelectListItem {Text = "December", Value = "12"}
                                       };
}
<div class="page page-forms-elements">
    @using (Html.BeginForm("SaveOperationalTransaction", "OperationalTransaction", FormMethod.Post, new { id = "frmOperationalTransaction", name = "frmOperationalTransaction", enctype = "multipart/form-data", autocomplete = "off" }))
    {
        @Html.HiddenFor(x => x.OperationalTransactionId)
        @Html.HiddenFor(x => x.OperationId)
        @Html.HiddenFor(x => x.Year)
        @Html.HiddenFor(x => x.Month)
        @Html.HiddenFor(x => x.SalariesId)
        @Html.HiddenFor(x => x.TravellingexpId)
        @Html.HiddenFor(x => x.RentalId)
        @Html.HiddenFor(x => x.TelephoneexpId)
        @Html.HiddenFor(x => x.CourierchargesId)
        @Html.HiddenFor(x => x.InsuranceId)
        @Html.HiddenFor(x => x.UtilityId)
        @Html.HiddenFor(x => x.MarketingexpId)
        @Html.HiddenFor(x => x.DepreciationId)
        @Html.HiddenFor(x => x.LegalexpId)
        @Html.HiddenFor(x => x.RepairmaintenanceId)
        @Html.HiddenFor(x => x.BankchargesId)
        @Html.HiddenFor(x => x.PrintingstationeryId)
        @Html.HiddenFor(x => x.StaffwelfareId)
        @Html.HiddenFor(x => x.OtherexpensesincomeId)
        <div class="page-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default panel-hovered panel-stacked mb30">
                        <div class="panel-heading">@ViewBag.Title</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-1 control-label">
                                        <span class="pull-right">Country</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(x => x.Country,
                             new SelectList((List<EZY.EDU.Contract.Branch>)ViewData["CountryData"], "BranchID", "BranchName"),
                             "Select Country", new { @class = "form-control", onchange = "CountryChange(this);",@disabled=true })
                                    </div>
                                    <label class="col-md-1 control-label">
                                        <span class="pull-right">Year</span>
                                    </label>
                                    <div class="col-md-1">
                                        @Html.DropDownListFor(x => x.Year, Enumerable.Range(2014, 14).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Select Year ", new { @class = "form-control", @disabled = true })
                                    </div>
                                    <label class="col-md-1 control-label">
                                        <span class="pull-right">Month</span>
                                    </label>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(x => x.Month, listMonths, new { @class = "form-control", @disabled = true })
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row col-md-offset-1">
                                <h4>Operational Expenses</h4>
                            </div>
                            <div class="row">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Salaries</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.SalariesAmount,"{0:#.#}", new { @class = "form-control numCss" })
                                </div>
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Travelling Expenses</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.TravellingexpAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                </div>

                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Rental</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.RentalAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Telephone Expenses</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.TelephoneexpAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                </div>
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Courier Charges</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.CourierchargesAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                </div>
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Insurance</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.InsuranceAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Utility</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.UtilityAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                </div>
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Marketingexp</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.MarketingexpAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                </div>
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Depreciation</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.DepreciationAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                </div>
                            </div>
                            <hr />
                            <div class="row col-md-offset-1">
                                <h4>Other Expenses</h4>
                            </div>
                            <div class="row">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">LegalExpenses/Consultancy </span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.LegalexpAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                </div>
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Repair&Maintenance </span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.RepairmaintenanceAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Bankcharges </span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.BankchargesAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                </div>
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Printing&Stationery </span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.PrintingstationeryAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">StaffWelfare </span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.StaffwelfareAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                </div>
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">OtherExpenses/Income </span>
                                </label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(x => x.OtherexpensesincomeAmount, "{0:#.#}", new { @class = "form-control numCss" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        @*<button type="button" class="btn btn-success btn-sm btndisable"><i class="fa fa-floppy-o"></i>&nbsp;Submit</button> &nbsp;&nbsp;&nbsp;*@
                                        <button type="button" onclick="SaveOperationalTransaction()" class="btn btn-success btn-frmt green btn-sm"><i class="fa fa-floppy-o"></i>&nbsp;Save</button> &nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-default btn-sm" type="button" onclick="navigateToList();"><i class="fa fa-backward"></i>&nbsp;Back</button>&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section SectionScripts{
    <script type="text/javascript">
        function SaveOperationalTransaction() {
            $('#Country').removeAttr('disabled');
            $('#Year').removeAttr('disabled');
            $('#Month').removeAttr('disabled');
            $('#frmOperationalTransaction').submit();
        }

        function navigateToList() {
            var month = $('#Month').val();
            var year = $('#Year').val();
            var country = $('#Country').val();
            location.href = '@Url.Content("~/OperationalTransaction/OperationalTransactionList?month=")' + month + '&year=' + year + '&country=' + country;
        }

        $('#frmOperationalTransaction').validate({
            rules: {
                Country: {
                    required: true
                },
                CategoryId: {
                    required: true
                },
                ParticularsId: {
                    required: true
                },
                Amount: {
                    required: true
                },

            }
        });
    </script>
}