@using Newtonsoft.Json;
@using System.Globalization;
@model IEnumerable<EDU.Web.ViewModels.OperationalTransactionModel.OperationalTransactionReportVM>
@{
    ViewBag.Title = "OperationalTransactionReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var grid = new WebGrid(Model, rowsPerPage: 15);
    grid.Pager(WebGridPagerModes.All);

    int month = Convert.ToInt16(DateTime.Now.Month.ToString());
    var count = Model.Count();
    var myArray = (List<decimal?>)ViewData["Summary"];
}

<style>
    .center {
        text-align: center !important;
    }

    .right {
        text-align: right !important;
    }

    .last {
        color: #D73925;
    }

    .bordertop {
        border-top: 2px solid gray !important;
        border-bottom: 2px solid gray !important;
        color: #D73925;
        /*font-family: 'Bebas Neue'*/
    }
</style>
@functions {
    public string ConvertToInt64(decimal? data)
    {
        if (data != null && data > 0)
            return new HtmlString("$ " + Convert.ToInt64(data)).ToString();
        else
            return null;
    }
}
<div class="page page-forms-elements">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <h4>Operational Transaction Report List</h4>
                    <div class="box-tools">
                        <button type="button" class="btn btn-primary btn-sm waves-effect" data-toggle="modal" onclick="PrintOperationaltransactionReportList()"><i class="fa fa-print"></i>Print</button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Country</span>
                            </label>
                            <div class="col-md-2">
                                @Html.HiddenFor(x => x.FirstOrDefault().CountryName)
                                @Html.DropDownListFor(x => x.FirstOrDefault().Country,
                                     new SelectList((List<EZY.EDU.Contract.Branch>)ViewData["CountryData"], "BranchId", "BranchName"),
                                 new { @class = "form-control input-sm", onchange = "ChangeCountryMonth();" })
                            </div>
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Year</span>
                            </label>
                            <div class="col-md-2">
                                @*@if (month < 4)
                                {*@
                                    @Html.DropDownListFor(x => x.FirstOrDefault().Year, Enumerable.Range(2014, 14).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control input-sm", onchange = "ChangeCountryMonth();", @style = "width:60%" })
                                    @*((i - 1) + " - " + i)*@
                                @*}
                                else
                                {
                                }*@
                            </div>
                        </div>
                    </div>
                    <div class="css10" style="overflow-x: scroll; width: 100%" id="gridContent">
                        @grid.GetHtml(
                                columns: grid.Columns(
                                grid.Column("CategoryIdDesc", "Category", canSort: true),
                                grid.Column("ParticularsIdDesc", "Particulars", canSort: true),
                                grid.Column("JanAmount", "Jan", format:
                                @<text>
                                    <span class="center">
                                        @ConvertToInt64(item.JanAmount)
                                    </span>
                                </text>, canSort: false),
                                grid.Column("FebAmount", "Feb", format:
                                @<text>
                                    <span class="center">
                                        @ConvertToInt64(item.FebAmount)
                                    </span>
                                </text>, canSort: false),
                                grid.Column("MarAmount", "Mar", format:
                                @<text>
                                    <span class="center">
                                        @ConvertToInt64(item.MarAmount)
                                    </span>
                                </text>, canSort: false),
                                grid.Column("AprAmount", "Apr", format:
                                @<text>
                                    <span class="center">
                                        @ConvertToInt64(item.AprAmount)
                                    </span>
                                </text>, canSort: false),
                                grid.Column("MayAmount", "May", format:
                                @<text>
                                    <span class="center">
                                        @ConvertToInt64(item.MayAmount)
                                    </span>
                                </text>, canSort: false),

                                grid.Column("JuneAmount", "June", format:
                                @<text>
                                    <span class="center">
                                        @ConvertToInt64(item.JuneAmount)
                                    </span>
                                </text>, canSort: false),
                                grid.Column("JulyAmount", "July", format:
                                @<text>
                                    <span class="center">
                                        @ConvertToInt64(item.JulyAmount)
                                    </span>
                                </text>, canSort: false),
                                grid.Column("AugAmount", "Aug", format:
                                @<text>
                                    <span class="center">
                                        @ConvertToInt64(item.AugAmount)
                                    </span>
                                </text>, canSort: false),
                                grid.Column("SepAmount", "Sep", format:
                                @<text>
                                    <span class="center">
                                        @ConvertToInt64(item.SepAmount)
                                    </span>
                                </text>, canSort: false),
                                grid.Column("OctAmount", "Oct", format:
                                @<text>
                                    <span class="center">
                                        @ConvertToInt64(item.OctAmount)
                                    </span>
                                </text>, canSort: false),
                                grid.Column("NovAmount", "Nov", format:
                                @<text>
                                    <span class="center">
                                        @ConvertToInt64(item.NovAmount)
                                    </span>
                                </text>, canSort: false),
                                grid.Column("DecAmount", "Dec", format:
                                @<text>
                                    <span class="center">
                                        @ConvertToInt64(item.DecAmount)
                                    </span>
                                </text>, canSort: false),
                                grid.Column("YTD", "YTD", format:
                                @<text>
                                    <span class="center last">
                                        @ConvertToInt64(item.YTD)
                                    </span>
                                </text>, canSort: false)
                               ),
                                tableStyle: "table")
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-right">@grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-sm")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
</div>
@section SectionScripts
    {
    <script type="text/javascript">
        function ChangeCountryMonth() {
            window.location = '@Url.Action("OperationalTransactionReport", "OperationalTransaction", new { year = "", country = "" })' + '?year=' + $('#Year').val()+ "&country=" + $('#Country').val();
        };

        function PrintOperationaltransactionReportList() {
            var year = $('#Year').val();
            debugger;
            $.ajax({
                url: '@Url.Content("~/Report/YTDDashboardOperationalTransactionReport?country=")' + $('#Country').val() + '&year=' + year,
                method: 'get',
                contentType: 'text/html',
                success: function (html) {
                    $('#myModal').html(html);
                    $('#myModal').modal('show');
                },
                error: function (err) {
                }
            });
        }
        $(document).ready(function () {

            $('#liOperationalTransactionReportList').addClass('active');
            @if (Session["RoleCode"].ToString() != "ADMIN" && Session["UserID"].ToString().ToUpper() != "ACCSG" && Session["UserID"].ToString().ToUpper() != "MGMTSG")
            {
                <text>
            $('#Country').attr('disabled','disabled');
             </text>
            }

            var myArray = @Html.Raw(JsonConvert.SerializeObject(myArray));
            @if (count > 0)
        {
            <text>
            $('#gridContent tbody').append('<tr class="bordertop"><td>Total Opex</td><td></td><td><span class="center">'
                + '@ConvertToInt64(myArray[0])' + '</span></td><td><span class="center">'
                + '@ConvertToInt64(myArray[1])' + '</span></td><td><span class="center">'
                + '@ConvertToInt64(myArray[2])' + '</span></td><td><span class="center">'
                + '@ConvertToInt64(myArray[3])' + '</span></td><td><span class="center">'
                + '@ConvertToInt64(myArray[4])' + '</span></td><td><span class="center">'
                + '@ConvertToInt64(myArray[5])' + '</span></td><td><span class="center">'
                + '@ConvertToInt64(myArray[6])' + '</span></td><td><span class="center">'
                + '@ConvertToInt64(myArray[7])' + '</span></td><td><span class="center">'
                + '@ConvertToInt64(myArray[8])' + '</span></td><td><span class="center">'
                + '@ConvertToInt64(myArray[9])' + '</span></td><td><span class="center">'
                + '@ConvertToInt64(myArray[10])' + '</span></td><td><span class="center">'
                + '@ConvertToInt64(myArray[11])' + '</span></td><td><span class="center">'
                + '@ConvertToInt64(myArray[12])' + '</span></td></tr>');
            </text>
            }
        });
    </script>
}