@model EDU.Web.ViewModels.OperationalTransactionModel.OTVM
@{
    // ViewBag.Title = "FinancialTransactionDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    var listMonths = new List<SelectListItem>()
                                          {
                                           new SelectListItem {Text = "Select Month",   Value = "0"},
                                           new SelectListItem {Text = "Janaury",   Value = "1"},
                                           new SelectListItem {Text = "February", Value = "2"},
                                           new SelectListItem {Text = "March", Value = "3"},
                                           new SelectListItem {Text = "April",   Value = "4"},
                                           new SelectListItem {Text = "May", Value = "5"},
                                           new SelectListItem {Text = "June", Value = "6"},
                                           new SelectListItem {Text = "July",   Value = "7"},
                                           new SelectListItem {Text = "August", Value = "8"},
                                           new SelectListItem {Text = "September", Value = "9"},
                                           new SelectListItem {Text = "October",   Value = "10"},
                                           new SelectListItem {Text = "November", Value = "11"},
                                           new SelectListItem {Text = "December", Value = "12"}
                                       };
}
<div class="page page-forms-elements">
    @using (Html.BeginForm("SaveFinancialTransactionDetail", "FinancialTransaction", FormMethod.Post, new { id = "frmFinancialTransaction", name = "frmFinancialTransaction", enctype = "multipart/form-data", autocomplete = "off" }))
    {
        @Html.HiddenFor(x => x.OperationalTransactionId)
        @Html.HiddenFor(x => x.Year)
        @Html.HiddenFor(x => x.Month)
        <div class="page-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default panel-hovered panel-stacked mb30">
                        <div class="panel-heading">@ViewBag.Title</div>
                        <div class="panel-body">
                            <div class="row">
                                @*<div class="form-group">
                                    <div class="col-md-2 col-md-offset-1">
                                        @Html.TextBoxFor(x => x.TrainingConfirmationID, new { @class = "form-control", @readonly = true })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(x => x.Country,
                        new SelectList((List<EZY.EDU.Contract.Branch>)ViewData["CountryData"], "BranchId", "BranchName"),
                        "Select Country", new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                    <div class="col-md-1">
                                        @Html.DropDownListFor(x => x.CurrencyCode,
                                        new SelectList((List<EDU.Web.Models.Lookup>)ViewData["CurrencyList"], "LookupCode", "LookupCode"),
                                              "Select Currency", new { @class = "form-control " })
                                    </div>
                                    <div class="col-md-1">
                                        @Html.TextBoxFor(x => x.CurrencyExRate, "{0:#.#}", new { @class = "form-control numCss", @placeholder = "Currency Ex Rate", onkeyup = "calculateLocalAmount();calculateGrossProfitandLoss()" })
                                    </div>
                                </div>*@
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-success btn-sm btndisable"><i class="fa fa-floppy-o"></i>&nbsp;Submit</button> &nbsp;&nbsp;&nbsp;
                                        <button type="button"  class="btn btn-success btn-frmt green btn-sm editdisable"><i class="fa fa-floppy-o"></i>&nbsp;Save</button> &nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-default btn-sm" type="button" ><i class="fa fa-backward"></i>&nbsp;Back</button>&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>