@using MvcReportViewer
@{
    Layout = null;
}
@{
    var settings = new ControlSettings { ShowToolBar = true, ShowParameterPrompts = false };
    string url = Convert.ToString(ViewBag.url);
    string Year = Convert.ToString(ViewBag.year);
    string Month = Convert.ToString(ViewBag.month);
    string Country = Convert.ToString(ViewBag.country);
}
@*<script src="@Url.Content("~/Scripts/jquery-2.2.4.min.js")"></script>*@
<script src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/MvcReportViewer.js")"></script>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<div class="modal-dialog"style="width:75%">
    <!-- Modal content-->
    <div class="modal-content" style="height:100%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@ViewBag.Title</h4>
        </div>
        <div class="modal-body" id="VendorandTrainerModalBody" >
         @if (url.Contains("Edu.RegionalLeads") || url.Contains("Edu.EventConfirmation"))
         {
             @Html.MvcReportViewer(url,
              new
              {
                  year = Year,
                  month = Month
              },
              new
              {
                  Height = 500,
                  Width = "100%",
                  style = "border: none;"
              }).ControlSettings(settings)
         }
         else if (url.Contains("Edu.RevenueReport"))
         {
            @Html.MvcReportViewer(url,
              new
              {
                  year = Year,
                  country = Country
              },
              new
              {
                  Height = 500,
                  Width = "100%",
                  style = "border: none;"
              }).ControlSettings(settings)
         }
         else if (url.Contains("Edu.ProfitAndLossReport"))
         {
            @Html.MvcReportViewer(url,
              new
              {
                  country = Country,
                  year = Year,
                  month = Month
              },
              new
              {
                  Height = 500,
                  Width = "100%",
                  style = "border: none;"
              }).ControlSettings(settings)
         }
         else
         {
            @Html.MvcReportViewer(url,
              new
              {
                  Height = 500,
                  Width = "100%",
                  style = "border: none;"
              }).ControlSettings(settings)
         }
    </div>
</div>

</div>
